/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

/* 1. 6 Column Grid 0px - Infinity 
----------------------------------------------------------------------------- 

Span 1:    16.6666666667%
Span 2:    33.3333333333%
Span 3:    50.0%
Span 4:    66.6666666667%
Span 5:    83.3333333333%
Span 6:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) {
  .row {
    margin-left: -19px; }

  .col {
    border-left-width: 19px;
    padding: 0 19px; }

  /* --- Gridpak variables ---*/
  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.
  
  .span_3,
  .my_semantic_class_name {
      ...
  }
  
  */
  .span_1 {
    width: 16.66667%;
    border-left-width: 19px;
    padding: 0 19px;
    margin-left: 0; }

  .span_2 {
    width: 33.33333%;
    border-left-width: 19px;
    padding: 0 19px;
    margin-left: 0; }

  .span_3 {
    width: 50%;
    border-left-width: 19px;
    padding: 0 19px;
    margin-left: 0; }

  .span_4 {
    width: 66.66667%;
    border-left-width: 19px;
    padding: 0 19px;
    margin-left: 0; }

  .span_5 {
    width: 83.33333%;
    border-left-width: 19px;
    padding: 0 19px;
    margin-left: 0; }

  .span_6 {
    margin-left: 0;
    width: 100%; } }
