/**
 * @outputFile ../css/login.css
 */
html,
body.login {
  background: #fff; }

#login h1 a {
  background-image: url("../img/header-logo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 180px;
  width: 220px;
  text-align: left;
  text-indent: -9999px;
  background-size: 220px 180px;
  margin: 0 auto; }

#login {
  padding-top: 34px; }
