/**
 * @outputFile ../css/mobile.css
 */
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  clear: both; }

ol, ul {
  /*list-style: none;*/ }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a {
  outline: 0; }

header, footer, article, section, nav, menu, hgroup {
  display: block; }

input, select, textarea {
  outline: none; }

input[type=number] {
  -moz-appearance: textfield; }

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.btn {
  background: #707070;
  box-shadow: 0 2px 0 #505050;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font: 500 14px/38px Roboto, sans-serif;
  height: 37px;
  padding: 0 18px; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn-icon:after {
    background: #686868; }
  .btn.btn-loading.btn-icon:before {
    background: url("../img/spinner-darkbg.gif") 50% 50% no-repeat !important; }
  .btn.pressed {
    background: #cccccc;
    box-shadow: inset 0 2px 0 #aaaaaa, 0 1px 0 #ffffff;
    transform: translateY(2px);
    -webkit-transform: translateY(2px); }
    .btn.pressed:hover {
      cursor: default;
      background: #cccccc; }

.btn-icon {
  overflow: hidden;
  padding-left: 60px;
  position: relative; }
  .btn-icon:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 42px; }
  .btn-icon:before {
    left: 9px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    z-index: 1; }

.btn-notxt {
  padding: 0;
  text-indent: -9999em;
  width: 42px; }

.btn-small {
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin-top: -3px;
  vertical-align: middle; }
  .btn-small.btn-icon {
    padding-left: 50px; }
    .btn-small.btn-icon:after {
      width: 32px; }
    .btn-small.btn-icon:before {
      left: 4px; }

.btn-icon-right {
  padding-left: 18px;
  padding-right: 60px; }
  .btn-icon-right:after {
    left: auto;
    right: 0; }
  .btn-icon-right:before {
    left: auto;
    right: 9px; }

.btn-default {
  background: #d0033d;
  box-shadow: 0 2px 0 #a8143b; }
  .btn-default.btn-icon:after {
    background: #9e022e; }
  .btn-default.btn-loading.btn-icon:before {
    background: url("../img/spinner-redbg.gif") 50% 50% no-repeat !important; }

.btn-default-alt {
  background: #B31436;
  box-shadow: 0 2px 0 #911022; }
  .btn-default-alt.btn-icon:after {
    background: #a11332; }
  .btn-default-alt.btn-loading.btn-icon:before {
    background: url("../img/spinner-redbg.gif") 50% 50% no-repeat !important; }

.btn-default-pressed {
  background: #e27795;
  box-shadow: none;
  transform: translateY(2px);
  -webkit-transform: translateY(2px); }
  .btn-default-pressed.btn-icon:after {
    background: #ca6984; }

.btn-light {
  background: #c0c0c0;
  box-shadow: 0 2px 0 #a2a2a2; }
  .btn-light.btn-icon:after {
    background: #b5b5b5; }

.btn-sec {
  background: #69a0e1;
  box-shadow: 0 2px 0 #4e7aae; }
  .btn-sec.btn-icon:after {
    background: #5f91cd; }

.btn-payback {
  background: #0065b3;
  box-shadow: 0 2px 0 #005799; }
  .btn-payback.btn-icon:after {
    background: #005a9f; }

.btn-facebook {
  background: #3b5998;
  box-shadow: 0 2px 0 #1e2f53; }
  .btn-facebook.btn-icon:after {
    background: #344e86; }
  .btn-facebook.btn-loading.btn-icon:before {
    background: url("../img/spinner-fbbg.gif") 50% 50% no-repeat !important; }

.btn-midgrey {
  background: #9f9f9f;
  box-shadow: 0 2px 0 #5a595d; }
  .btn-midgrey.btn-icon:after {
    background: #8f8f8f; }

a.btn:hover,
button.btn:hover,
.btn-whover:hover {
  background: #686868; }
a.btn.sec:hover,
button.btn.sec:hover,
.btn-whover.sec:hover {
  background: #5f91cd; }
a.btn.btn-light:hover,
button.btn.btn-light:hover,
.btn-whover.btn-light:hover {
  background: #b5b5b5; }
a.btn.btn-payback:hover,
button.btn.btn-payback:hover,
.btn-whover.btn-payback:hover {
  background: #005a9f; }
a.btn.btn-default:hover,
button.btn.btn-default:hover,
.btn-whover.btn-default:hover {
  background: #9e022e; }
a.btn.btn-default-alt:hover,
button.btn.btn-default-alt:hover,
.btn-whover.btn-default-alt:hover {
  background: #a11332; }
a.btn.btn-facebook:hover,
button.btn.btn-facebook:hover,
.btn-whover.btn-facebook:hover {
  background: #344e86; }
a.btn.btn-midgrey:hover,
button.btn.btn-midgrey:hover,
.btn-whover.btn-midgrey:hover {
  background: #8f8f8f; }

.btn-no-shadow {
  box-shadow: none;
  height: 39px; }

.btn-row {
  border-top: 1px solid #D8D8D8;
  clear: both;
  margin-top: 34px;
  overflow: hidden;
  padding: 34px 0 2px; }
  .btn-row .btn {
    text-align: center;
    width: 150px; }

.btn-right {
  float: right; }

.overline-btns {
  text-align: center; }
  .overline-btns > .btn {
    margin-top: -20px; }

.btn100 {
  width: 100%; }

.icon,
.icon-small {
  position: relative; }
  .icon:before,
  .icon-small:before {
    content: "";
    display: inline-block; }
  .icon.no-txt,
  .icon-small.no-txt {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999em;
    vertical-align: middle; }
    .icon.no-txt:before,
    .icon-small.no-txt:before {
      display: block; }
  .icon.pad-left:before, .icon.pad-right:before,
  .icon-small.pad-left:before,
  .icon-small.pad-right:before {
    position: absolute;
    top: 50%; }
  .icon.pad-left:before,
  .icon-small.pad-left:before {
    left: 0; }
  .icon.pad-right:before,
  .icon-small.pad-right:before {
    right: 0; }

.icon:before {
  background: url("../img/icons-sprite.png") no-repeat;
  height: 24px;
  width: 24px; }
.icon.no-txt {
  width: 24px;
  height: 26px; }
.icon.pad-left:before, .icon.pad-right:before {
  margin-top: -12px; }
.icon.pad-left {
  padding-left: 34px; }
.icon.pad-right {
  padding-right: 34px; }
.icon.icon-reload:before {
  background-position: 0px 0px; }
.icon.icon-search:before {
  background-position: -34px 0px; }
.icon.icon-edit:before {
  background-position: -68px 0px; }
.icon.icon-user:before {
  background-position: -102px 0px; }
.icon.icon-crown:before {
  background-position: -136px 0px; }
.icon.icon-marker:before {
  background-position: -170px 0px; }
.icon.icon-close:before {
  background-position: -204px 0px; }
.icon.icon-eye:before {
  background-position: -238px 0px; }
.icon.icon-like:before {
  background-position: -272px 0px; }
.icon.icon-play:before {
  background-position: -306px 0px; }
.icon.icon-star:before {
  background-position: -340px 0px; }
.icon.icon-calendar:before {
  background-position: -374px 0px; }
.icon.icon-movie:before {
  background-position: -408px 0px; }
.icon.icon-money:before {
  background-position: -442px 0px; }
.icon.icon-tick:before {
  background-position: -476px 0px; }
.icon.icon-facebook:before {
  background-position: -510px 0px; }
.icon.icon-rarr:before {
  background-position: -544px 0px; }
.icon.icon-larr:before {
  background-position: -578px 0px; }
.icon.icon-shout:before {
  background-position: -612px 0px; }
.icon.icon-file:before {
  background-position: -646px 0px; }
.icon.icon-cinemex:before {
  background-position: -680px 0px; }
.icon.icon-ticket:before {
  background-position: -714px 0px; }
.icon.icon-clock:before {
  background-position: -748px 0px; }
.icon.icon-print:before {
  background-position: -782px 0px; }
.icon.icon-darr:before {
  background-position: -816px 0px; }
.icon.icon-king:before {
  background-position: -850px 0px; }
.icon.icon-tarr:before {
  background-position: -884px 0px; }
.icon.icon-soda:before {
  background-position: -918px 0px; }
.icon.icon-plus:before {
  background-position: -952px 0px; }
.icon.icon-screen:before {
  background-position: -986px 0px; }
.icon.icon-alert:before {
  background-position: -1020px 0px; }
.icon.icon-platinum:before {
  background-position: -1054px 0px; }
.icon.icon-settings:before {
  background-position: -1088px 0px; }
.icon.icon-gift:before {
  background-position: -1122px 0px; }
.icon.icon-tick2:before {
  background-position: -1156px 0px; }
.icon.icon-payback:before {
  background-position: -1190px 0px; }
.icon.icon-red.icon-reload:before {
  background-position: 0px -34px; }
.icon.icon-red.icon-search:before {
  background-position: -34px -34px; }
.icon.icon-red.icon-edit:before {
  background-position: -68px -34px; }
.icon.icon-red.icon-user:before {
  background-position: -102px -34px; }
.icon.icon-red.icon-crown:before {
  background-position: -136px -34px; }
.icon.icon-red.icon-marker:before {
  background-position: -170px -34px; }
.icon.icon-red.icon-close:before {
  background-position: -204px -34px; }
.icon.icon-red.icon-eye:before {
  background-position: -238px -34px; }
.icon.icon-red.icon-like:before {
  background-position: -272px -34px; }
.icon.icon-red.icon-play:before {
  background-position: -306px -34px; }
.icon.icon-red.icon-star:before {
  background-position: -340px -34px; }
.icon.icon-red.icon-calendar:before {
  background-position: -374px -34px; }
.icon.icon-red.icon-movie:before {
  background-position: -408px -34px; }
.icon.icon-red.icon-money:before {
  background-position: -442px -34px; }
.icon.icon-red.icon-tick:before {
  background-position: -476px -34px; }
.icon.icon-red.icon-facebook:before {
  background-position: -510px -34px; }
.icon.icon-red.icon-rarr:before {
  background-position: -544px -34px; }
.icon.icon-red.icon-larr:before {
  background-position: -578px -34px; }
.icon.icon-red.icon-shout:before {
  background-position: -612px -34px; }
.icon.icon-red.icon-file:before {
  background-position: -646px -34px; }
.icon.icon-red.icon-cinemex:before {
  background-position: -680px -34px; }
.icon.icon-red.icon-ticket:before {
  background-position: -714px -34px; }
.icon.icon-red.icon-clock:before {
  background-position: -748px -34px; }
.icon.icon-red.icon-print:before {
  background-position: -782px -34px; }
.icon.icon-red.icon-darr:before {
  background-position: -816px -34px; }
.icon.icon-red.icon-king:before {
  background-position: -850px -34px; }
.icon.icon-red.icon-tarr:before {
  background-position: -884px -34px; }
.icon.icon-red.icon-soda:before {
  background-position: -918px -34px; }
.icon.icon-red.icon-plus:before {
  background-position: -952px -34px; }
.icon.icon-red.icon-screen:before {
  background-position: -986px -34px; }
.icon.icon-red.icon-alert:before {
  background-position: -1020px -34px; }
.icon.icon-red.icon-platinum:before {
  background-position: -1054px -34px; }
.icon.icon-red.icon-settings:before {
  background-position: -1088px -34px; }
.icon.icon-red.icon-gift:before {
  background-position: -1122px -34px; }
.icon.icon-red.icon-tick2:before {
  background-position: -1156px -34px; }
.icon.icon-red.icon-payback:before {
  background-position: -1190px -34px; }
.icon.icon-dark.icon-reload:before {
  background-position: 0px -68px; }
.icon.icon-dark.icon-search:before {
  background-position: -34px -68px; }
.icon.icon-dark.icon-edit:before {
  background-position: -68px -68px; }
.icon.icon-dark.icon-user:before {
  background-position: -102px -68px; }
.icon.icon-dark.icon-crown:before {
  background-position: -136px -68px; }
.icon.icon-dark.icon-marker:before {
  background-position: -170px -68px; }
.icon.icon-dark.icon-close:before {
  background-position: -204px -68px; }
.icon.icon-dark.icon-eye:before {
  background-position: -238px -68px; }
.icon.icon-dark.icon-like:before {
  background-position: -272px -68px; }
.icon.icon-dark.icon-play:before {
  background-position: -306px -68px; }
.icon.icon-dark.icon-star:before {
  background-position: -340px -68px; }
.icon.icon-dark.icon-calendar:before {
  background-position: -374px -68px; }
.icon.icon-dark.icon-movie:before {
  background-position: -408px -68px; }
.icon.icon-dark.icon-money:before {
  background-position: -442px -68px; }
.icon.icon-dark.icon-tick:before {
  background-position: -476px -68px; }
.icon.icon-dark.icon-facebook:before {
  background-position: -510px -68px; }
.icon.icon-dark.icon-rarr:before {
  background-position: -544px -68px; }
.icon.icon-dark.icon-larr:before {
  background-position: -578px -68px; }
.icon.icon-dark.icon-shout:before {
  background-position: -612px -68px; }
.icon.icon-dark.icon-file:before {
  background-position: -646px -68px; }
.icon.icon-dark.icon-cinemex:before {
  background-position: -680px -68px; }
.icon.icon-dark.icon-ticket:before {
  background-position: -714px -68px; }
.icon.icon-dark.icon-clock:before {
  background-position: -748px -68px; }
.icon.icon-dark.icon-print:before {
  background-position: -782px -68px; }
.icon.icon-dark.icon-darr:before {
  background-position: -816px -68px; }
.icon.icon-dark.icon-king:before {
  background-position: -850px -68px; }
.icon.icon-dark.icon-tarr:before {
  background-position: -884px -68px; }
.icon.icon-dark.icon-soda:before {
  background-position: -918px -68px; }
.icon.icon-dark.icon-plus:before {
  background-position: -952px -68px; }
.icon.icon-dark.icon-screen:before {
  background-position: -986px -68px; }
.icon.icon-dark.icon-alert:before {
  background-position: -1020px -68px; }
.icon.icon-dark.icon-platinum:before {
  background-position: -1054px -68px; }
.icon.icon-dark.icon-settings:before {
  background-position: -1088px -68px; }
.icon.icon-dark.icon-gift:before {
  background-position: -1122px -68px; }
.icon.icon-dark.icon-tick2:before {
  background-position: -1156px -68px; }
.icon.icon-dark.icon-payback:before {
  background-position: -1190px -68px; }
.icon.icon-light.icon-reload:before {
  background-position: 0px -102px; }
.icon.icon-light.icon-search:before {
  background-position: -34px -102px; }
.icon.icon-light.icon-edit:before {
  background-position: -68px -102px; }
.icon.icon-light.icon-user:before {
  background-position: -102px -102px; }
.icon.icon-light.icon-crown:before {
  background-position: -136px -102px; }
.icon.icon-light.icon-marker:before {
  background-position: -170px -102px; }
.icon.icon-light.icon-close:before {
  background-position: -204px -102px; }
.icon.icon-light.icon-eye:before {
  background-position: -238px -102px; }
.icon.icon-light.icon-like:before {
  background-position: -272px -102px; }
.icon.icon-light.icon-play:before {
  background-position: -306px -102px; }
.icon.icon-light.icon-star:before {
  background-position: -340px -102px; }
.icon.icon-light.icon-calendar:before {
  background-position: -374px -102px; }
.icon.icon-light.icon-movie:before {
  background-position: -408px -102px; }
.icon.icon-light.icon-money:before {
  background-position: -442px -102px; }
.icon.icon-light.icon-tick:before {
  background-position: -476px -102px; }
.icon.icon-light.icon-facebook:before {
  background-position: -510px -102px; }
.icon.icon-light.icon-rarr:before {
  background-position: -544px -102px; }
.icon.icon-light.icon-larr:before {
  background-position: -578px -102px; }
.icon.icon-light.icon-shout:before {
  background-position: -612px -102px; }
.icon.icon-light.icon-file:before {
  background-position: -646px -102px; }
.icon.icon-light.icon-cinemex:before {
  background-position: -680px -102px; }
.icon.icon-light.icon-ticket:before {
  background-position: -714px -102px; }
.icon.icon-light.icon-clock:before {
  background-position: -748px -102px; }
.icon.icon-light.icon-print:before {
  background-position: -782px -102px; }
.icon.icon-light.icon-darr:before {
  background-position: -816px -102px; }
.icon.icon-light.icon-king:before {
  background-position: -850px -102px; }
.icon.icon-light.icon-tarr:before {
  background-position: -884px -102px; }
.icon.icon-light.icon-soda:before {
  background-position: -918px -102px; }
.icon.icon-light.icon-plus:before {
  background-position: -952px -102px; }
.icon.icon-light.icon-screen:before {
  background-position: -986px -102px; }
.icon.icon-light.icon-alert:before {
  background-position: -1020px -102px; }
.icon.icon-light.icon-platinum:before {
  background-position: -1054px -102px; }
.icon.icon-light.icon-settings:before {
  background-position: -1088px -102px; }
.icon.icon-light.icon-gift:before {
  background-position: -1122px -102px; }
.icon.icon-light.icon-tick2:before {
  background-position: -1156px -102px; }
.icon.icon-light.icon-payback:before {
  background-position: -1190px -102px; }
.icon.icon-black.icon-reload:before {
  background-position: 0px -136px; }
.icon.icon-black.icon-search:before {
  background-position: -34px -136px; }
.icon.icon-black.icon-edit:before {
  background-position: -68px -136px; }
.icon.icon-black.icon-user:before {
  background-position: -102px -136px; }
.icon.icon-black.icon-crown:before {
  background-position: -136px -136px; }
.icon.icon-black.icon-marker:before {
  background-position: -170px -136px; }
.icon.icon-black.icon-close:before {
  background-position: -204px -136px; }
.icon.icon-black.icon-eye:before {
  background-position: -238px -136px; }
.icon.icon-black.icon-like:before {
  background-position: -272px -136px; }
.icon.icon-black.icon-play:before {
  background-position: -306px -136px; }
.icon.icon-black.icon-star:before {
  background-position: -340px -136px; }
.icon.icon-black.icon-calendar:before {
  background-position: -374px -136px; }
.icon.icon-black.icon-movie:before {
  background-position: -408px -136px; }
.icon.icon-black.icon-money:before {
  background-position: -442px -136px; }
.icon.icon-black.icon-tick:before {
  background-position: -476px -136px; }
.icon.icon-black.icon-facebook:before {
  background-position: -510px -136px; }
.icon.icon-black.icon-rarr:before {
  background-position: -544px -136px; }
.icon.icon-black.icon-larr:before {
  background-position: -578px -136px; }
.icon.icon-black.icon-shout:before {
  background-position: -612px -136px; }
.icon.icon-black.icon-file:before {
  background-position: -646px -136px; }
.icon.icon-black.icon-cinemex:before {
  background-position: -680px -136px; }
.icon.icon-black.icon-ticket:before {
  background-position: -714px -136px; }
.icon.icon-black.icon-clock:before {
  background-position: -748px -136px; }
.icon.icon-black.icon-print:before {
  background-position: -782px -136px; }
.icon.icon-black.icon-darr:before {
  background-position: -816px -136px; }
.icon.icon-black.icon-king:before {
  background-position: -850px -136px; }
.icon.icon-black.icon-tarr:before {
  background-position: -884px -136px; }
.icon.icon-black.icon-soda:before {
  background-position: -918px -136px; }
.icon.icon-black.icon-plus:before {
  background-position: -952px -136px; }
.icon.icon-black.icon-screen:before {
  background-position: -986px -136px; }
.icon.icon-black.icon-alert:before {
  background-position: -1020px -136px; }
.icon.icon-black.icon-platinum:before {
  background-position: -1054px -136px; }
.icon.icon-black.icon-settings:before {
  background-position: -1088px -136px; }
.icon.icon-black.icon-gift:before {
  background-position: -1122px -136px; }
.icon.icon-black.icon-tick2:before {
  background-position: -1156px -136px; }
.icon.icon-black.icon-payback:before {
  background-position: -1190px -136px; }
.icon.icon-gold.icon-reload:before {
  background-position: 0px -170px; }
.icon.icon-gold.icon-search:before {
  background-position: -34px -170px; }
.icon.icon-gold.icon-edit:before {
  background-position: -68px -170px; }
.icon.icon-gold.icon-user:before {
  background-position: -102px -170px; }
.icon.icon-gold.icon-crown:before {
  background-position: -136px -170px; }
.icon.icon-gold.icon-marker:before {
  background-position: -170px -170px; }
.icon.icon-gold.icon-close:before {
  background-position: -204px -170px; }
.icon.icon-gold.icon-eye:before {
  background-position: -238px -170px; }
.icon.icon-gold.icon-like:before {
  background-position: -272px -170px; }
.icon.icon-gold.icon-play:before {
  background-position: -306px -170px; }
.icon.icon-gold.icon-star:before {
  background-position: -340px -170px; }
.icon.icon-gold.icon-calendar:before {
  background-position: -374px -170px; }
.icon.icon-gold.icon-movie:before {
  background-position: -408px -170px; }
.icon.icon-gold.icon-money:before {
  background-position: -442px -170px; }
.icon.icon-gold.icon-tick:before {
  background-position: -476px -170px; }
.icon.icon-gold.icon-facebook:before {
  background-position: -510px -170px; }
.icon.icon-gold.icon-rarr:before {
  background-position: -544px -170px; }
.icon.icon-gold.icon-larr:before {
  background-position: -578px -170px; }
.icon.icon-gold.icon-shout:before {
  background-position: -612px -170px; }
.icon.icon-gold.icon-file:before {
  background-position: -646px -170px; }
.icon.icon-gold.icon-cinemex:before {
  background-position: -680px -170px; }
.icon.icon-gold.icon-ticket:before {
  background-position: -714px -170px; }
.icon.icon-gold.icon-clock:before {
  background-position: -748px -170px; }
.icon.icon-gold.icon-print:before {
  background-position: -782px -170px; }
.icon.icon-gold.icon-darr:before {
  background-position: -816px -170px; }
.icon.icon-gold.icon-king:before {
  background-position: -850px -170px; }
.icon.icon-gold.icon-tarr:before {
  background-position: -884px -170px; }
.icon.icon-gold.icon-soda:before {
  background-position: -918px -170px; }
.icon.icon-gold.icon-plus:before {
  background-position: -952px -170px; }
.icon.icon-gold.icon-screen:before {
  background-position: -986px -170px; }
.icon.icon-gold.icon-alert:before {
  background-position: -1020px -170px; }
.icon.icon-gold.icon-platinum:before {
  background-position: -1054px -170px; }
.icon.icon-gold.icon-settings:before {
  background-position: -1088px -170px; }
.icon.icon-gold.icon-gift:before {
  background-position: -1122px -170px; }
.icon.icon-gold.icon-tick2:before {
  background-position: -1156px -170px; }
.icon.icon-gold.icon-payback:before {
  background-position: -1190px -170px; }

.icon-small:before {
  background: url("../img/icons-small-sprite.png") no-repeat;
  height: 14px;
  width: 14px; }
.icon-small.no-txt {
  width: 14px;
  height: 14px; }
.icon-small.pad-left:before, .icon-small.pad-right:before {
  margin-top: -7px; }
.icon-small.pad-left {
  padding-left: 24px; }
.icon-small.pad-right {
  padding-right: 24px; }
.icon-small.icon-marker:before {
  background-position: 0px 0px; }
.icon-small.icon-calendarfill:before {
  background-position: -24px 0px; }
.icon-small.icon-calendar:before {
  background-position: -48px 0px; }
.icon-small.icon-comments:before {
  background-position: -72px 0px; }
.icon-small.icon-user:before {
  background-position: -96px 0px; }
.icon-small.icon-close:before {
  background-position: -120px 0px; }
.icon-small.icon-tick:before {
  background-position: -144px 0px; }
.icon-small.icon-darr:before {
  background-position: -168px 0px; }
.icon-small.icon-minus:before {
  background-position: -192px 0px; }
.icon-small.icon-plus:before {
  background-position: -216px 0px; }
.icon-small.icon-minusb:before {
  background-position: -240px 0px; }
.icon-small.icon-plusb:before {
  background-position: -264px 0px; }
.icon-small.icon-phone:before {
  background-position: -288px 0px; }
.icon-small.icon-crown:before {
  background-position: -312px 0px; }
.icon-small.icon-red.icon-marker:before {
  background-position: 0px -24px; }
.icon-small.icon-red.icon-calendarfill:before {
  background-position: -24px -24px; }
.icon-small.icon-red.icon-calendar:before {
  background-position: -48px -24px; }
.icon-small.icon-red.icon-comments:before {
  background-position: -72px -24px; }
.icon-small.icon-red.icon-user:before {
  background-position: -96px -24px; }
.icon-small.icon-red.icon-close:before {
  background-position: -120px -24px; }
.icon-small.icon-red.icon-tick:before {
  background-position: -144px -24px; }
.icon-small.icon-red.icon-darr:before {
  background-position: -168px -24px; }
.icon-small.icon-red.icon-minus:before {
  background-position: -192px -24px; }
.icon-small.icon-red.icon-plus:before {
  background-position: -216px -24px; }
.icon-small.icon-red.icon-minusb:before {
  background-position: -240px -24px; }
.icon-small.icon-red.icon-plusb:before {
  background-position: -264px -24px; }
.icon-small.icon-red.icon-phone:before {
  background-position: -288px -24px; }
.icon-small.icon-red.icon-crown:before {
  background-position: -312px -24px; }
.icon-small.icon-dark.icon-marker:before {
  background-position: 0px -48px; }
.icon-small.icon-dark.icon-calendarfill:before {
  background-position: -24px -48px; }
.icon-small.icon-dark.icon-calendar:before {
  background-position: -48px -48px; }
.icon-small.icon-dark.icon-comments:before {
  background-position: -72px -48px; }
.icon-small.icon-dark.icon-user:before {
  background-position: -96px -48px; }
.icon-small.icon-dark.icon-close:before {
  background-position: -120px -48px; }
.icon-small.icon-dark.icon-tick:before {
  background-position: -144px -48px; }
.icon-small.icon-dark.icon-darr:before {
  background-position: -168px -48px; }
.icon-small.icon-dark.icon-minus:before {
  background-position: -192px -48px; }
.icon-small.icon-dark.icon-plus:before {
  background-position: -216px -48px; }
.icon-small.icon-dark.icon-minusb:before {
  background-position: -240px -48px; }
.icon-small.icon-dark.icon-plusb:before {
  background-position: -264px -48px; }
.icon-small.icon-dark.icon-phone:before {
  background-position: -288px -48px; }
.icon-small.icon-dark.icon-crown:before {
  background-position: -312px -48px; }
.icon-small.icon-light.icon-marker:before {
  background-position: 0px -72px; }
.icon-small.icon-light.icon-calendarfill:before {
  background-position: -24px -72px; }
.icon-small.icon-light.icon-calendar:before {
  background-position: -48px -72px; }
.icon-small.icon-light.icon-comments:before {
  background-position: -72px -72px; }
.icon-small.icon-light.icon-user:before {
  background-position: -96px -72px; }
.icon-small.icon-light.icon-close:before {
  background-position: -120px -72px; }
.icon-small.icon-light.icon-tick:before {
  background-position: -144px -72px; }
.icon-small.icon-light.icon-darr:before {
  background-position: -168px -72px; }
.icon-small.icon-light.icon-minus:before {
  background-position: -192px -72px; }
.icon-small.icon-light.icon-plus:before {
  background-position: -216px -72px; }
.icon-small.icon-light.icon-minusb:before {
  background-position: -240px -72px; }
.icon-small.icon-light.icon-plusb:before {
  background-position: -264px -72px; }
.icon-small.icon-light.icon-phone:before {
  background-position: -288px -72px; }
.icon-small.icon-light.icon-crown:before {
  background-position: -312px -72px; }
.icon-small.icon-grey.icon-marker:before {
  background-position: 0px -96px; }
.icon-small.icon-grey.icon-calendarfill:before {
  background-position: -24px -96px; }
.icon-small.icon-grey.icon-calendar:before {
  background-position: -48px -96px; }
.icon-small.icon-grey.icon-comments:before {
  background-position: -72px -96px; }
.icon-small.icon-grey.icon-user:before {
  background-position: -96px -96px; }
.icon-small.icon-grey.icon-close:before {
  background-position: -120px -96px; }
.icon-small.icon-grey.icon-tick:before {
  background-position: -144px -96px; }
.icon-small.icon-grey.icon-darr:before {
  background-position: -168px -96px; }
.icon-small.icon-grey.icon-minus:before {
  background-position: -192px -96px; }
.icon-small.icon-grey.icon-plus:before {
  background-position: -216px -96px; }
.icon-small.icon-grey.icon-minusb:before {
  background-position: -240px -96px; }
.icon-small.icon-grey.icon-plusb:before {
  background-position: -264px -96px; }
.icon-small.icon-grey.icon-phone:before {
  background-position: -288px -96px; }
.icon-small.icon-grey.icon-crown:before {
  background-position: -312px -96px; }

.discicon {
  display: inline-block;
  height: 23px;
  position: relative;
  text-indent: -9999em;
  text-align: left;
  width: 23px; }
  .discicon:before {
    background: url("../img/icons-disc-sprite.png") no-repeat;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .discicon.icon-facebook:before {
    background-position: 0px 0px; }
  .discicon.icon-twitter:before {
    background-position: -33px 0px; }
  .discicon.icon-gplus:before {
    background-position: -66px 0px; }
  .discicon.icon-instagram:before {
    background-position: -99px 0px; }
  .discicon.icon-star:before {
    background-position: -132px 0px; }
  .discicon.icon-screen:before {
    background-position: -165px 0px; }
  .discicon.icon-comments:before {
    background-position: -198px 0px; }
  .discicon.icon-shout:before {
    background-position: -231px 0px; }
  .discicon.icon-settings:before {
    background-position: -264px 0px; }
  .discicon.icon-red.icon-facebook:before {
    background-position: 0px -33px; }
  .discicon.icon-red.icon-twitter:before {
    background-position: -33px -33px; }
  .discicon.icon-red.icon-gplus:before {
    background-position: -66px -33px; }
  .discicon.icon-red.icon-instagram:before {
    background-position: -99px -33px; }
  .discicon.icon-red.icon-star:before {
    background-position: -132px -33px; }
  .discicon.icon-red.icon-screen:before {
    background-position: -165px -33px; }
  .discicon.icon-red.icon-comments:before {
    background-position: -198px -33px; }
  .discicon.icon-red.icon-shout:before {
    background-position: -231px -33px; }
  .discicon.icon-red.icon-settings:before {
    background-position: -264px -33px; }
  .discicon.icon-light.icon-facebook:before {
    background-position: 0px -66px; }
  .discicon.icon-light.icon-twitter:before {
    background-position: -33px -66px; }
  .discicon.icon-light.icon-gplus:before {
    background-position: -66px -66px; }
  .discicon.icon-light.icon-instagram:before {
    background-position: -99px -66px; }
  .discicon.icon-light.icon-star:before {
    background-position: -132px -66px; }
  .discicon.icon-light.icon-screen:before {
    background-position: -165px -66px; }
  .discicon.icon-light.icon-comments:before {
    background-position: -198px -66px; }
  .discicon.icon-light.icon-shout:before {
    background-position: -231px -66px; }
  .discicon.icon-light.icon-settings:before {
    background-position: -264px -66px; }
  .discicon.icon-dark.icon-facebook:before {
    background-position: 0px -99px; }
  .discicon.icon-dark.icon-twitter:before {
    background-position: -33px -99px; }
  .discicon.icon-dark.icon-gplus:before {
    background-position: -66px -99px; }
  .discicon.icon-dark.icon-instagram:before {
    background-position: -99px -99px; }
  .discicon.icon-dark.icon-star:before {
    background-position: -132px -99px; }
  .discicon.icon-dark.icon-screen:before {
    background-position: -165px -99px; }
  .discicon.icon-dark.icon-comments:before {
    background-position: -198px -99px; }
  .discicon.icon-dark.icon-shout:before {
    background-position: -231px -99px; }
  .discicon.icon-dark.icon-settings:before {
    background-position: -264px -99px; }
  .discicon.icon-grey.icon-facebook:before {
    background-position: 0px -132px; }
  .discicon.icon-grey.icon-twitter:before {
    background-position: -33px -132px; }
  .discicon.icon-grey.icon-gplus:before {
    background-position: -66px -132px; }
  .discicon.icon-grey.icon-instagram:before {
    background-position: -99px -132px; }
  .discicon.icon-grey.icon-star:before {
    background-position: -132px -132px; }
  .discicon.icon-grey.icon-screen:before {
    background-position: -165px -132px; }
  .discicon.icon-grey.icon-comments:before {
    background-position: -198px -132px; }
  .discicon.icon-grey.icon-shout:before {
    background-position: -231px -132px; }
  .discicon.icon-grey.icon-settings:before {
    background-position: -264px -132px; }

.tick-option {
  padding-left: 16px;
  position: relative; }
  .tick-option:before {
    background: url("../img/icons-small-sprite.png") no-repeat;
    content: "";
    left: 0;
    position: absolute;
    top: 2px;
    height: 14px;
    width: 14px; }
  .tick-option:before {
    background-position: -144px -72px; }
  .tick-option:hover {
    text-decoration: none; }
    .tick-option:hover:before {
      background-position: -144px -48px; }
  .tick-option.active:before {
    background-position: -144px -24px; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  -webkit-text-size-adjust: 100%; }

.hidden {
  display: none !important; }

.posrel {
  position: relative; }

body {
  background: #e0e0e0;
  color: #707070;
  font: 14px/1.2em Roboto, sans-serif; }

.icon-print {
  display: none !important; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

a {
  color: #d0033d;
  text-decoration: none; }

.btn {
  text-decoration: none; }

.avatar-48 {
  border-radius: 48px;
  height: 48px;
  overflow: hidden;
  width: 48px; }
  .avatar-48 img {
    width: 100%; }

.blockui {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  cursor: wait;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 50; }
  .blockui.loading {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/spinner-fff-8d8d8d.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .blockui.no-bg {
    background: transparent; }

#popups {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: table;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000; }

#popups-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.popup {
  background: #ebebeb;
  display: inline-block;
  margin: 40px 0;
  position: relative;
  text-align: left; }

.popup-close {
  position: absolute;
  right: -1px;
  top: -20px; }

.msg {
  background: none repeat scroll 0 0 #F0F0F0;
  margin: 0 0 30px;
  padding: 12px 16px; }
  .msg > p {
    margin-top: 12px; }
    .msg > p:first-child {
      margin-top: 0; }
  .msg.balloon {
    min-width: 180px; }
    .msg.balloon:before {
      border-top: 6px solid;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px; }
    .msg.balloon.balloon-below:before {
      bottom: auto;
      top: -6px;
      border-width: 6px;
      border-style: solid;
      border-top: 0; }
    .msg.balloon.field-validation {
      top: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      margin-top: 10px;
      list-style-type: none; }
  .msg a {
    text-decoration: underline; }

.msg-error {
  background: #F2C6D3;
  color: #d0033d; }
  .msg-error.balloon:before {
    border-top-color: #F2C6D3;
    border-bottom-color: #F2C6D3; }

.popup.msg-error,
.popup > .msg-error {
  background: #f0f0f0; }

#msg-popup {
  padding: 0;
  text-align: center;
  width: 300px; }
  #msg-popup > .msg {
    margin-bottom: 0; }

#site-top {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 70px;
  position: relative;
  z-index: 100; }

#site-logo {
  padding: 13px 0 0 13px; }
  #site-logo > a {
    background-image: url("../img/sprite-mobile.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    height: 48px;
    width: 177px;
    text-align: left;
    text-indent: -9999px; }

#top-menu {
  display: none; }

#site-footer {
  text-align: center; }

#footer-bottom {
  background: #3a3a3a;
  color: #707070;
  font-size: 10px;
  line-height: 12px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; }
  #footer-bottom a {
    color: #9d9d9d;
    text-decoration: none; }

#switch-to-mobile {
  background: #111111;
  display: block;
  padding: 11px 0; }
  #switch-to-mobile > a {
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    color: #ffffff; }

.sidebar-heading {
  background: #d0033d;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 18px 50px 18px 8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden; }
  .sidebar-heading .switch-cinema {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px; }
  .sidebar-heading a {
    color: #ffffff;
    text-decoration: none; }

.sidebar-filter {
  height: 36px;
  line-height: 14px;
  padding: 10px 10px 8px;
  width: 100% !important; }

.box0,
.box1,
.box2,
.mar1 {
  margin: 9px; }

.box0,
.box1,
.pad1 {
  padding: 10px; }

.box3 {
  padding: 20px; }

.box0,
.box2,
.box1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25); }

.box3,
.box2,
.box1 {
  background: #ffffff; }

.boxsec {
  background: #69a0e1;
  color: #ffffff; }

.mycinema-item-specs {
  font-size: 12px;
  text-transform: uppercase;
  color: #a0a1a3; }
  .mycinema-item-specs > span {
    padding: 0px 8px 0 5px;
    border-right: 1px solid #f2f2f2; }
    .mycinema-item-specs > span:first-child {
      padding-left: 0; }
    .mycinema-item-specs > span:last-child {
      border-right: 0; }

.movie-details-cover {
  float: left;
  margin-right: 16px; }

.mycinema-item-title {
  color: #303030;
  display: block;
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 12px;
  max-height: 48px;
  overflow: hidden;
  text-decoration: none; }

.mycinema-variant {
  background: #f0f0f0;
  padding: 7px 10px;
  font-size: 11px;
  padding: 10px;
  text-transform: uppercase; }

.mycinema-sessions {
  background: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  height: 60px;
  /*overflow: hidden;*/
  white-space: nowrap; }
  .mycinema-sessions.icon.pad-left {
    padding-left: 60px; }
    .mycinema-sessions.icon.pad-left:before {
      left: 19px; }
  .mycinema-sessions > a {
    padding: 0 10px 0 12px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-left: 1px solid #f3f3f3;
    text-decoration: none;
    color: #606060; }

.sidebar-cinema-link i {
  top: 7px; }

.sessions-scroller {
  overflow-x: auto;
  overflow-y: hidden; }

.sessions-scroll-bt {
  background-image: url("../img/sprite-mobile.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 60px;
  width: 39px;
  text-align: left;
  text-indent: -9999px;
  position: absolute;
  top: 0; }
  .sessions-scroll-bt.scroll-left {
    background-position: -236px 0;
    left: 0; }
  .sessions-scroll-bt.scroll-right {
    background-position: -187px 0;
    right: 0; }

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/
.qty-selection {
  margin-bottom: 30px;
  position: relative; }
  .qty-selection .qty-row,
  .qty-selection .qty-total-row {
    font-size: 17px;
    min-height: 44px;
    line-height: 22px;
    padding: 11px 16px;
    position: relative;
    margin-bottom: 3px;
    margin-right: 91px; }
  .qty-selection .qty-row {
    background: #ffffff;
    color: #555555; }
    .qty-selection .qty-row label .ticket-price {
      font-size: 14px; }
    .qty-selection .qty-row .ticket-sep {
      color: #ccc;
      margin: 0 5px 0 5px; }
    .qty-selection .qty-row.focus {
      background: #d6d6d8; }
  .qty-selection .number,
  .qty-selection input[type=number] {
    background: #ffffff;
    border: 1px solid #a4a4a4;
    border-radius: 0;
    color: #555555;
    display: block;
    font-size: 17px;
    height: 44px;
    position: absolute;
    right: -91px;
    text-align: center;
    top: 0;
    width: 90px;
    line-height: 22px;
    padding: 11px 20px; }
  .qty-selection .qty-total-row {
    background: #69a0e1;
    color: #ffffff; }
    .qty-selection .qty-total-row .currency {
      color: #bcd2f0;
      position: absolute;
      right: 10px; }
  .qty-selection .number-ctl {
    height: 44px;
    position: absolute;
    top: 0;
    width: 28px; }
    .qty-selection .number-ctl.icon-minusb {
      right: -30px; }
    .qty-selection .number-ctl.icon-plusb {
      right: -90px; }
    .qty-selection .number-ctl:before {
      left: 6px;
      position: relative;
      top: 11px; }

.seats-ref {
  font-size: 12px;
  height: 60px;
  line-height: 58px;
  margin-top: -18px;
  text-align: center; }

.btn-row {
  border: 0;
  padding-top: 0;
  text-align: center; }

.movie-details-info {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden; }
  .movie-details-info > dt, .movie-details-info > dd {
    display: inline; }
  .movie-details-info > dt {
    clear: both;
    color: #d0033d; }
    .movie-details-info > dt:after {
      content: ":"; }
    .movie-details-info > dt.dt-row {
      display: block;
      margin-bottom: 3px; }
  .movie-details-info > dd:after {
    content: "";
    display: block;
    margin-bottom: 6px; }

.checkout-step-title {
  color: #69a0e1;
  font-size: 16px;
  height: 62px;
  line-height: 42px;
  position: relative;
  padding-left: 56px; }
  .checkout-step-title > span {
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -15px;
    line-height: 26px;
    height: 30px;
    width: 30px;
    border: 2px solid #69a0e1;
    border-radius: 100%;
    display: block;
    text-align: center; }

.checkout-summary .side-box-cover {
  float: left;
  margin-right: 10px; }

.std-form.compact-form .form-row {
  margin-bottom: 6px; }
.std-form.no-cols, .std-form.no-cols .form-row {
  margin-left: 0; }

.form-row {
  margin: 10px 0 16px;
  position: relative; }
  .form-row:last-child {
    margin-bottom: 0; }
  .form-row.quarter {
    width: 146px; }
  .form-row label {
    display: block;
    font-weight: 200;
    margin-bottom: 3px; }
  .form-row textarea,
  .form-row .std-form-select,
  .form-row select,
  .form-row input[type=text],
  .form-row input[type=email],
  .form-row input[type=password],
  .form-row input[type=number] {
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    height: 34px;
    line-height: 32px;
    padding: 0 12px;
    width: 100%; }
    .form-row textarea.valid,
    .form-row .std-form-select.valid,
    .form-row select.valid,
    .form-row input[type=text].valid,
    .form-row input[type=email].valid,
    .form-row input[type=password].valid,
    .form-row input[type=number].valid {
      border-color: #99d198; }
    .form-row textarea.error,
    .form-row .std-form-select.error,
    .form-row select.error,
    .form-row input[type=text].error,
    .form-row input[type=email].error,
    .form-row input[type=password].error,
    .form-row input[type=number].error {
      background: #f2c6d3;
      border-color: #f2c6d3;
      color: #d0033d; }
      .form-row textarea.error::-webkit-input-placeholder,
      .form-row .std-form-select.error::-webkit-input-placeholder,
      .form-row select.error::-webkit-input-placeholder,
      .form-row input[type=text].error::-webkit-input-placeholder,
      .form-row input[type=email].error::-webkit-input-placeholder,
      .form-row input[type=password].error::-webkit-input-placeholder,
      .form-row input[type=number].error::-webkit-input-placeholder {
        color: #ffffff; }
      .form-row textarea.error:-moz-placeholder,
      .form-row .std-form-select.error:-moz-placeholder,
      .form-row select.error:-moz-placeholder,
      .form-row input[type=text].error:-moz-placeholder,
      .form-row input[type=email].error:-moz-placeholder,
      .form-row input[type=password].error:-moz-placeholder,
      .form-row input[type=number].error:-moz-placeholder {
        color: #ffffff; }
      .form-row textarea.error::-moz-placeholder,
      .form-row .std-form-select.error::-moz-placeholder,
      .form-row select.error::-moz-placeholder,
      .form-row input[type=text].error::-moz-placeholder,
      .form-row input[type=email].error::-moz-placeholder,
      .form-row input[type=password].error::-moz-placeholder,
      .form-row input[type=number].error::-moz-placeholder {
        color: #ffffff; }
      .form-row textarea.error:-ms-input-placeholder,
      .form-row .std-form-select.error:-ms-input-placeholder,
      .form-row select.error:-ms-input-placeholder,
      .form-row input[type=text].error:-ms-input-placeholder,
      .form-row input[type=email].error:-ms-input-placeholder,
      .form-row input[type=password].error:-ms-input-placeholder,
      .form-row input[type=number].error:-ms-input-placeholder {
        color: #ffffff; }
    .form-row textarea:focus,
    .form-row .std-form-select:focus,
    .form-row select:focus,
    .form-row input[type=text]:focus,
    .form-row input[type=email]:focus,
    .form-row input[type=password]:focus,
    .form-row input[type=number]:focus {
      border-color: #d0033d; }
    .form-row textarea.month-year,
    .form-row .std-form-select.month-year,
    .form-row select.month-year,
    .form-row input[type=text].month-year,
    .form-row input[type=email].month-year,
    .form-row input[type=password].month-year,
    .form-row input[type=number].month-year {
      width: 69px; }
    .form-row textarea.year,
    .form-row .std-form-select.year,
    .form-row select.year,
    .form-row input[type=text].year,
    .form-row input[type=email].year,
    .form-row input[type=password].year,
    .form-row input[type=number].year {
      position: absolute;
      right: 0; }
  .form-row select {
    padding-right: 0; }
  .form-row textarea {
    height: 160px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px; }

.checkout-steps {
  position: relative; }

.checkout-step {
  display: none; }

#checkout-step-1 {
  display: block; }

#theater-layout {
  background: url("../img/theater-screen.png") 50% 0 no-repeat;
  margin-top: 34px;
  padding: 70px 0 50px;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

#seats-layout {
  margin: 0 auto; }
  #seats-layout .row-name {
    text-align: center;
    vertical-align: middle;
    width: 35px; }
    #seats-layout .row-name.first {
      padding-right: 10px;
      padding-left: 20px; }
    #seats-layout .row-name.last {
      padding-right: 20px;
      padding-left: 10px; }
  #seats-layout .seat {
    background: url("../img/layout-seats.png") no-repeat;
    display: block;
    height: 27px;
    width: 25px; }
  #seats-layout .seat-0 {
    background-position: 50% 0;
    cursor: pointer; }
  #seats-layout .seat-1 {
    background-position: 50% -54px; }
  #seats-layout .seat-selected {
    background-position: 50% -27px; }
  #seats-layout .seat-E {
    background: none; }
  #seats-layout .seat-EE {
    height: 10px; }

.seats-ref .seat {
  margin: 0 10px; }
.seats-ref .seat:before {
  background: url("../img/layout-seats.png") no-repeat;
  content: "";
  display: inline-block;
  height: 27px;
  margin-right: 6px;
  position: relative;
  top: 9px;
  width: 25px; }
.seats-ref .seat-0:before {
  background-position: 50% 0; }
.seats-ref .seat-1:before {
  background-position: 50% -54px; }
.seats-ref .seat-selected:before {
  background-position: 50% -27px; }

.seats-scroll-bt.scroll-left,
.seats-scroll-bt.scroll-right {
  background: url("../img/sprites.png") no-repeat;
  display: block;
  height: 49px;
  position: absolute;
  top: 50%;
  width: 25px;
  z-index: 10; }

.seats-scroll-bt.scroll-right {
  background-position: -240px -86px;
  right: 0; }
  .seats-scroll-bt.scroll-right.disabled {
    background-position: -275px -86px; }

.seats-scroll-bt.scroll-left {
  background-position: -345px -86px;
  left: 0; }
  .seats-scroll-bt.scroll-left.disabled {
    background-position: -310px -86px; }

.seats-shadow {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px; }
  .seats-shadow.shadow-left {
    background: url("../img/seats-scroll-sh-left.png") repeat-y;
    left: 0; }
  .seats-shadow.shadow-right {
    background: url("../img/seats-scroll-sh-right.png") repeat-y;
    right: 0; }

.checkout-legend {
  font-size: 12px;
  margin: 24px 0; }

.countdown {
  /*font-family: digital7,sans-serif;*/
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 1em; }
  .countdown .sep {
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: -5px; }

#checkout-timeout {
  color: #d0033d;
  display: none;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 9px;
  z-index: 1; }
  #checkout-timeout .small {
    font-size: 10px;
    display: block;
    line-height: 1; }

#order-success {
  padding: 24px; }
  #order-success h1,
  #order-success h2 {
    font-size: 24px;
    font-weight: 200;
    line-height: 1em; }
  #order-success h1 {
    color: #69a0e1;
    margin-bottom: 18px; }
  #order-success h2 {
    margin-bottom: 28px; }
  #order-success .order-codes {
    overflow: hidden;
    padding: 32px 0; }
    #order-success .order-codes .order-code {
      width: 100%;
      margin-top: 24px;
      display: block;
      text-align: center; }
      #order-success .order-codes .order-code:first-child {
        padding-left: 0; }
      #order-success .order-codes .order-code .legend {
        color: #69a0e1;
        display: block;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 8px;
        text-transform: uppercase; }
      #order-success .order-codes .order-code .code {
        background: #f5f5f5;
        display: block;
        font-size: 26px;
        font-weight: 700;
        height: 90px;
        padding: 0 36px;
        line-height: 90px; }
  #order-success .order-summary {
    padding: 32px 0;
    overflow: hidden; }
    #order-success .order-summary .movie-details-info {
      font-size: 14px;
      line-height: 18px;
      width: 170px; }

.order-success-cover {
  display: none; }

.no-btn {
  text-decoration: none;
  margin-right: 10px; }

.disclaimer {
  margin-top: 30px; }
  .disclaimer ul, .disclaimer ol,
  .disclaimer p {
    margin: 10px 0;
    font-size: 11px;
    line-height: 13px; }
  .disclaimer li {
    margin-left: 20px; }

.big-msg {
  background: #d9d9d9;
  padding: 40px 0 40px;
  text-align: center; }
  .big-msg .btn {
    width: 150px; }
  .big-msg.msg-timeout {
    /*    background: {
          image: url( '../img/big-msg-timeout.png' );
          repeat: no-repeat;
          position: 50px 50%;
        }*/
    display: none; }
  .big-msg p {
    margin-bottom: 1em; }

.big-msg-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0.5em !important; }

.big-msg-msg {
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0; }

.content-box-subtitle,
.content-box-title {
  font-size: 22px;
  line-height: 24px;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 30px;
  margin-bottom: 14px;
  padding-bottom: 14px; }
  .content-box-subtitle:first-child,
  .content-box-title:first-child {
    margin-top: 0; }

.content-box-subtitle {
  color: #aaaaaa; }

.content-box-title {
  color: #d0033d; }

.content-text {
  font-size: 12px;
  line-height: 22px; }

#location-popup {
  background: #ebebeb; }
  #location-popup .popup-close,
  #location-popup .api-enabled {
    display: none; }

.location-popup-header {
  display: block;
  background: url("../img/location-mobile-header.jpg") 50% top no-repeat;
  height: 146px;
  width: 150%;
  margin-left: -25%;
  margin-top: -30px;
  margin-bottom: 40px; }

.location-popup {
  color: #707070;
  overflow: hidden;
  padding: 30px;
  text-align: center; }
  .location-popup .popup-title,
  .location-popup .popup-subtitle {
    display: block; }
  .location-popup .popup-title {
    font-size: 23px;
    line-height: 24px;
    font-weight: 700; }
  .location-popup .popup-subtitle {
    font-size: 16px;
    margin: 26px 0;
    font-weight: 500; }
  .location-popup .popup-small {
    font-size: 13px;
    line-height: 15px;
    margin-top: 26px; }
  .location-popup select {
    height: 30px;
    margin-bottom: 10px;
    padding: 6px 3px 6px 10px; }
  .location-popup .state-area-selection {
    margin-top: 30px; }

@media screen and (max-width: 479px) {
  .location-popup select {
    width: 100%; } }
@media screen and (min-width: 480px) {
  .location-popup select {
    width: 45%; }

  .location-popup-header {
    background-image: url("../img/location-mobile-header-l.jpg");
    height: 90px; } }
#location-form {
  position: relative;
  z-index: 0; }

#location-api {
  display: none; }
  #location-api .btn {
    margin-top: 24px; }

#location-results {
  display: none;
  margin: 0 auto;
  max-width: 368px; }
  #location-results ul {
    list-style-type: none;
    text-align: left; }
    #location-results ul > li {
      background: #dddddd;
      color: #d0033d;
      cursor: pointer;
      margin: 0 0 1px 0;
      padding: 10px 10px 10px 38px; }
      #location-results ul > li:before {
        left: 9px !important; }

#location-error {
  display: none;
  margin-top: 20px;
  margin-bottom: 0; }

.alt-list a {
  color: #69a0e1; }

.generic-list {
  list-style-type: none; }
  .generic-list > li {
    border-top: 1px solid #eeeeee; }
    .generic-list > li:first-child {
      border-top: 0; }
  .generic-list a {
    display: block;
    text-decoration: none; }

#login-popup {
  background: none; }
  #login-popup .popup-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px; }

#login-popup-fb,
#login-popup-std {
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;
  padding: 36px;
  text-align: center; }

#login-popup-fb {
  background: #233762;
  color: #ffffff; }

#login-popup-std {
  background: #ebebeb;
  /*padding-bottom: 120px;*/
  position: relative; }
  #login-popup-std .popup-bottom {
    background: #d3d3d3;
    font-weight: 500;
    padding: 20px 36px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%; }
    #login-popup-std .popup-bottom:before {
      right: 24px; }
    #login-popup-std .popup-bottom:hover {
      text-decoration: none; }
  #login-popup-std .forgot-password {
    font-size: 12px;
    display: block;
    margin: 16px 0; }

.user-box {
  height: 48px;
  display: table; }
  .user-box > div {
    display: table-cell;
    vertical-align: middle; }
  .user-box .avatar-48 {
    float: left;
    margin-right: 10px; }
  .user-box .small {
    font-size: 10px;
    margin-top: 3px;
    line-height: 11px;
    text-transform: uppercase; }

#goto-app-banner {
  background: #efefef;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  width: 100%;
  position: fixed;
  height: 84px;
  padding: 20px 100px 10px 88px;
  font-size: 16px;
  line-height: 1.2em;
  z-index: 1000000; }
  #goto-app-banner .goto-app-ico {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
    background: #d0033d;
    border-radius: 6px; }
    #goto-app-banner .goto-app-ico:before {
      background: url("../img/mobile/logo.svg");
      content: "";
      width: 54px;
      height: 54px;
      position: absolute;
      background-size: auto 54px;
      left: 6px;
      top: 5px; }
  #goto-app-banner .goto-app-close,
  #goto-app-banner .goto-app-btn {
    position: absolute;
    right: 10px;
    width: 70px;
    text-align: center; }
  #goto-app-banner .goto-app-btn {
    top: 10px; }
  #goto-app-banner .goto-app-close {
    top: 54px;
    font-size: 0.75em; }
