html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
  font-family: Arial, Baskerville;
  font-size: 16px;
  font-weight: bold;
  color: #717073;
  background-color: #f3f3f5;
}
.wrapper {
    margin: 0 auto;
    padding: 50px 70px;
    width: 997px;
    position: relative;
}
.logo {
  background-image: url("../img/poll/logo-color.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 82px;
  width: 303px;
}
.logobn {
  background-image: url("../img/poll/logo-bn.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 82px;
  width: 303px;
  margin: 0 auto;
}
.cuentanos {
    background-image: url("../img/poll/cuentanos.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    height: 48px;
    width: 468px;
    margin-top: 30px;
    text-indent: -9999px;
}
.photo {
    width: 461px;
    height: 403px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../img/poll/photo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
hr {
    height: 5px;
    width: 100%;
    border: 0;
    background-color: #727176;
}
.fake-form {
    margin-top: 30px;
    width: 500px;
}
    .fake-form .fake-line {
        margin-top: 5px;
        overflow: hidden;
        clear: both;
    }
    .fake-form .fake-line label{
        width: 190px;
        float: left;
        line-height: 27px;
    }
    .fake-form .fake-line input{
        padding: 0 5px;
        width: 260px;
        height: 23px;
        border: 1px solid #B3B3B3;
        float: left;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        -0-border-radius:20px;
        border-radius:20px;
        font-family: Arial, Baskerville;
        font-size: 14px;
        font-weight: bold;
        color: #717073;
    }

.real-form {
    margin-top: 60px;
}
.question-line {
    width: 100%;
    border-bottom: 2px solid #bcbdc1;
    padding-bottom: 5px;
    overflow: hidden;
    padding-left: 35px;
}
    .question-line.last{
        border-bottom: 0;
    }
    .question-line h3{
        margin: 10px 0;
        font-weight: bold;
        font-size: 16px;
    }
    .question-line .question{
        margin-top: 10px;
        font-weight: normal;
        float: left;
    }
    
    .question-line textarea{
        padding: 15px 30px;
        width: 820px;
        height: 65px;
        border: 1px solid #B3B3B3;
        margin: 20px 40px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
        -0-border-radius:50px;
        border-radius:50px;
        font-family: Arial, Baskerville;
        font-size: 14px;
        font-weight: bold;
        color: #717073;
    }
    .question-line .poll{
        font-weight: normal;
        float: right;
        margin-top: 40px;
    }
        .question-line .poll .check-row{
            float: left;
            text-align: center;
            width: 40px;
        }
    .question-line .icon{
        width: 37px;
        height: 37px;
        background-image: url("../img/poll/icon.png");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        float: right;
        margin-top: 40px;
        margin-left: 40px;
    }
        .question-line .icon.icon_0{
            background-image: url("../img/poll/icon-0.png");
        }
        .question-line .icon.icon_1{
            background-image: url("../img/poll/icon-1.png");
        }
        .question-line .icon.icon_2{
            background-image: url("../img/poll/icon-2.png");
        }
        .question-line .icon.icon_3{
            background-image: url("../img/poll/icon-3.png");
        }
        .question-line .icon.icon_4{
            background-image: url("../img/poll/icon-4.png");
        }
        .question-line .icon.icon_6{
            background-image: url("../img/poll/icon-na.png");
        }
        .question-line .icon.icon_7{
            background-image: url("../img/poll/icon-4.png");
        }
        .question-line .icon.icon_8{
            background-image: url("../img/poll/icon-0.png");
        }
.submit-holder {
    margin: 20px auto;
    width: 120px;
}
.submit-button {
    background: none repeat scroll 0 0 #D0033D;
    box-shadow: 0 2px 0 #A8143B;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        -0-border-radius:5px;
        border-radius:5px;
    color: #FFF; 
    display: inline-block;
    font: 500 14px/38px Roboto,sans-serif;
    height: 37px;
    border: 0;
    width: 120px;
}
.message {
    text-align: center;
    color: #D0033D;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    margin: 50px;
}
.success {
    background: url('../img/poll/success.jpg') no-repeat;
    width: 508px;
    height: 162px;
    text-indent: -9999em;
    display: block;
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 960px;
        min-width: 320px;
        padding: 20px 0px;
        width: auto;
    }
    .photo {
        display: none !important;
    }
    .logo {
        margin:0 auto;
    }
    .cuentanos {
        background: none;
        font-size: 1.25em;
        text-indent: 0;
        text-align: center;
        width: auto;
        height: auto;
    }
    .real-form,
    .fake-form {
        width: auto;
        padding: 0 20px;
    }
    .real-form {
        margin-top: 30px;
    }
    .fake-form .fake-line input {
        width: 100%;
        box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .question-line {
        padding-left: 0px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .question-line .question {
        float: none;
        margin-bottom: 10px;
    }
    .question-line .icon {
        display: none;
    }
    .question-line .poll {
        margin-top: 0px;
        float: none;
    }
    .question-line .poll .check-row {
        position: relative;
        float: left;
        width: 32px;
        margin-left: 9px;
        padding-bottom: 34px;
    }
    .question-line .poll .check-row:first-child {
        margin-left: 0;
    }

    .question-line .poll .check-row br {
        display: none;
    }

    .question-line .poll .check-row:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 32px;
        height: 32px;
        background: url('../img/poll/icons-sprite.png') 0 0 no-repeat;
    }
    .question-line .poll .check-row.icon_0:after {
        background-position: -42px -42px;
    }
    .question-line .poll .check-row.icon_1:after {
        background-position: -84px -42px;
    }
    .question-line .poll .check-row.icon_2:after {
        background-position: -126px -42px;
    }
    .question-line .poll .check-row.icon_3:after {
        background-position: -168px -42px;
    }
    .question-line .poll .check-row.icon_4:after {
        background-position: -210px -42px;
    }
    .question-line .poll .check-row.icon_na:after {
        background-position: -252px -42px;
    }
    .question-line .poll .check-row.active.icon_0:after {
        background-position: -42px 0;
    }
    .question-line .poll .check-row.active.icon_1:after {
        background-position: -84px 0;
    }
    .question-line .poll .check-row.active.icon_2:after {
        background-position: -126px 0;
    }
    .question-line .poll .check-row.active.icon_3:after {
        background-position: -168px 0;
    }
    .question-line .poll .check-row.active.icon_4:after {
        background-position: -210px 0;
    }
    .question-line .poll .check-row.active.icon_na:after {
        background-position: -252px 0;
    }

    .question-line textarea {
        border-radius: 10px;
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
        height: 100px;
    }
    .logobn {
        width: 229px;
    }

    .success {
        background: none;
        text-indent: 0;
        text-align: center;
        padding: 0 20px;
        width: auto;
    }
}