* {
  color: #000000 !important;
}
.btn {
  display: none !important;
}

#order-code {
  padding-left: 0 !important;
  padding-right: 0;
}

.order-w-qr .sep { margin: 0 !important; }
.order-w-qr h5 { padding-top: 0 !important; }