#landing-99000 {
  background: #e31931;
  background: -moz-radial-gradient(center, ellipse cover, #e31931 30%, #8b0f1e 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%, #e31931), color-stop(100%, #8b0f1e));
  background: -webkit-radial-gradient(center, ellipse cover, #e31931 30%, #8b0f1e 100%);
  background: -o-radial-gradient(center, ellipse cover, #e31931 30%, #8b0f1e 100%);
  background: -ms-radial-gradient(center, ellipse cover, #e31931 30%, #8b0f1e 100%);
  background: radial-gradient(ellipse at center, #e31931 30%, #8b0f1e 100%);
  padding: 105px 0; }

#landing-99000 img {
  display: block;
  margin: 0 auto; }

#landing-99000 h1,
#landing-99000 p {
  display: none; }
