.landing-target {
  max-height: 0;
  opacity: 0;
  overflow: hidden; }

.landing-content {
  line-height: 1.5;
  -webkit-transition: .75s all;
  transition: .75s all; }
  .landing-content.active {
    max-height: 3000px;
    opacity: 1; }
  .landing-content .content-box {
    margin: 72px 108px; }
  .landing-content .icon-close {
    cursor: pointer;
    float: right;
    height: 24px;
    margin-bottom: -24px;
    position: relative;
    top: 1px;
    width: 24px; }
  .landing-content h2,
  .landing-content h3,
  .landing-content p,
  .landing-content ul,
  .landing-content ol {
    margin-bottom: 11px;
    margin-top: 0; }
  .landing-content ul,
  .landing-content ol {
    padding-left: 36px; }
  .landing-content h3 {
    font-weight: 200;
    margin: 22px 0;
    text-transform: uppercase; }
  .landing-content hr {
    background: #efefef;
    border: 0;
    height: 1px;
    margin: 44px 0;
    padding-left: 0; }
