body.sponsored-magia #main-body {
  background: rgba(255, 255, 255, 0.5); }

body.sponsored-magia #landing-magia {
  background: white; }

.magia-header,
.magia-sidebar {
  float: right;
  width: 40%; }

.magia-main {
  float: left;
  width: 60%; }

.magia-header h1 {
  display: none; }

.magia-header img {
  display: block;
  margin: -44px auto 0; }

.magia-main-player {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%; }

.magia-main-player iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.magia-main-comments {
  padding: 0; }

.magia-main-comments h2 {
  background: rgba(190, 190, 190, 0.2);
  font-size: 18px;
  line-height: 50px;
  padding: 20px 10px 5px;
  text-transform: uppercase; }

.magia-sidebar h2 {
  color: #d0033d;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  font-size: 13px;
  line-height: 38px;
  padding: 0 19px;
  text-transform: uppercase; }

.magia-sidebar-list {
  line-height: 22px;
  list-style: none;
  margin: 0;
  max-height: 649px;
  overflow: auto;
  padding: 9px; }

.magia-sidebar-list a {
  display: block;
  padding: 10px 10px 10px 85px;
  text-decoration: none; }

.magia-sidebar-list img {
  float: left;
  height: 44px;
  margin-left: -75px;
  width: 60px; }

.magia-sidebar-list .title,
.magia-sidebar-list .author {
  display: block; }

.magia-sidebar-list .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.magia-sidebar-list .author {
  color: #5a5a5a; }

.sponsored-magia #sponsored-bg {
  background-image: url(http://static.cinemex.com/uploads/cms/landings/magia-bg-1440-1336.jpg); }

@media screen and (min-width: 1441px) {
  .sponsored-magia #sponsored-bg {
    background-image: url(http://static.cinemex.com/uploads/cms/landings/magia-bg-1920-1680.jpg); } }
