.section-nfl .section-header,
.section-nfl .nfl-copy {
  background: url(../img/nfl-content-header.jpg) no-repeat 50% 0;
  height: 355px;
  position: relative; }
.section-nfl .section-header {
  margin-bottom: 90px; }
.section-nfl .nfl-player {
  background: black;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  height: 0;
  left: 50%;
  padding-bottom: 264px;
  position: absolute;
  top: 71px;
  width: 470px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }
  .section-nfl .nfl-player iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
.section-nfl .nfl-copy {
  height: 60px;
  position: absolute;
  bottom: -60px;
  width: 100%;
  background-position: 50% 100%; }

.sponsored-nfl #sponsored-bg {
  background-image: url(../img/nfl-bg-header.jpg); }
@media screen and (min-width: 1068px) {
  .sponsored-nfl #sponsored-bg {
    background-image: url(../img/nfl-bg-1440.jpg); } }
@media screen and (min-width: 1441px) {
  .sponsored-nfl #sponsored-bg {
    background-image: url(../img/nfl-bg-1920.jpg); } }

.nfl-banner {
  background: url(../img/nfl-single-banner.jpg) no-repeat 50% 0;
  margin-bottom: 60px;
  position: relative; }

.nfl-top {
  height: 415px;
  position: relative;
  z-index: 1; }
  .nfl-top a {
    top: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }

.nfl-bottom {
  height: 700px;
  position: relative; }

.sponsored-nfl-single #sponsored-bg {
  background-image: url(../img/nfl-single-bg-header.jpg); }
@media screen and (min-width: 1068px) {
  .sponsored-nfl-single #sponsored-bg {
    background-image: url(../img/nfl-single-bg-1440.jpg); } }
@media screen and (min-width: 1441px) {
  .sponsored-nfl-single #sponsored-bg {
    background-image: url(../img/nfl-single-bg-1920.jpg); } }

.nfl-nav {
  margin-bottom: 1px !important; }

.nfl-content {
  background: #323854;
  background: -webkit-linear-gradient(top, #323854 0%, #181b2b 100%);
  background: -o-linear-gradient(top, #323854 0%, #181b2b 100%);
  background: linear-gradient(to bottom, #323854 0%, #181b2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323854', endColorstr='#181b2b',GradientType=0 );
  padding: 90px 0;
  position: relative; }
  .nfl-content:before {
    background: url(../img/nfl-content-bg.png) no-repeat 50% 0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

.nfl-title {
  background: url(../img/nfl-titles.png);
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  width: 690px; }

.nfl-grid,
.nfl-grid .item {
  float: left;
  position: relative; }

.nfl-grid-wrap {
  margin: 0 -40px; }

.nfl-grid {
  left: 50%; }
  .nfl-grid .item {
    box-sizing: border-box;
    padding: 0 40px;
    right: 50%; }

.nfl-index .nfl-title {
  background-position: 0 -565px;
  height: 141px; }
.nfl-index a,
.nfl-index img {
  display: block; }
.nfl-index img {
  margin: 0 auto 25px;
  width: 177px; }

.nfl-calendar .nfl-title {
  background-position: 0 -107px;
  height: 95px; }
.nfl-calendar .nfl-grid {
  width: 840px; }
.nfl-calendar .item {
  padding: 0 20px 20px;
  width: 420px; }
  .nfl-calendar .item div {
    background: #eee;
    height: 400px; }
.nfl-calendar .right {
  float: right; }

.nfl-promos {
  background: #3a0912;
  padding-top: 120px; }
  .nfl-promos .nfl-title {
    background-position: 0 -202px;
    height: 212px;
    margin-bottom: 0; }

.nfl-about {
  background: #3a0912;
  color: white;
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
  padding: 0;
  text-align: center; }
  .nfl-about .nfl-about-bg {
    background: url(../img/nfl-about-bg.png) no-repeat 50% 100%;
    padding: 90px 0; }
  .nfl-about .nfl-title {
    background-position: 0 -414px;
    height: 151px; }
  .nfl-about strong {
    color: #fff600;
    font-weight: 400; }
