.sponsored-ticketazo {
  background: #5d071a; }
  .sponsored-ticketazo #sponsored-bg {
    background-image: url(../img/ticketazo-bg.jpg); }

.ticketazo-banner-top,
.ticketazo-banner-bottom {
  background: url(../img/ticketazo-banner.jpg);
  background-size: cover;
  height: 0;
  position: relative;
  width: 100%; }

.ticketazo-banner-top {
  background-position: 50% 0;
  padding-bottom: 120.01943635%; }
  .ticketazo-banner-top a {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%); }

.ticketazo-banner-bottom {
  background-position: 50% 100%;
  padding-bottom: 11.66180758%; }
