
.row {
  margin-left: -9px;
  margin-right: -9px;
}
.row .col {
  padding-left: 9px;
  padding-right: 9px;
}
.items-grid {
  margin-top: -18px;
}
.items-grid > .col {
  margin-top: 18px;
}


.archive-row {
  margin-left: -12.5px;
  margin-right: -12.5px;
  .col {
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
}
.box-row {
  margin-left: -19px;
  margin-right: -19px;

  & > .col {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.wrapper { width: 100%; }

.col {
  float: left;
  width: 100%;
}
.col-xs-1-5 { width: 20%; }
.col-xs-2-5 { width: 40%; }
.col-xs-3-5 { width: 60%; }
.col-xs-4-5 { width: 80%; }
.col-xs-1-3 { width: 33.3333%; }
.col-xs-2-3 { width: 66.6666%; }
.col-xs-1-2 { width: 50%; }

@media screen and (max-width: 767px) {
  .xs-clear-on-3 { .col:nth-child( 3n + 1 ) { clear: both; } }
  .xs-clear-on-4 { .col:nth-child( 4n + 1 ) { clear: both; } }
  .xs-clear-on-5 { .col:nth-child( 5n + 1 ) { clear: both; } }
  .xs-clear-on-6 { .col:nth-child( 6n + 1 ) { clear: both; } }

  .col-xs-hidden { display: none; }
}

@media screen and (min-width: 768px) {
  .col-sm-1-6 { width: 16.6666%; }
  .col-sm-2-6 { width: 33.3333%; }
  .col-sm-3-6 { width: 50%; }
  .col-sm-4-6 { width: 66.6666%; }
  .col-sm-5-6 { width: 83.3333%; }
  .col-sm-6-6 { width: 100%; }

  .col-sm-1-5 { width: 20%; }
  .side-col,
  .blog-side-col,
  .col-sm-2-5 { width: 40%; }
  .main-col,
  .blog-main-col,
  .col-sm-3-5 { width: 60%; }
  .col-sm-4-5 { width: 80%; }

  .col-sm-1-4 { width: 25%; }
  .col-sm-2-4 { width: 50%; }
  .col-sm-3-4 { width: 75%; }

  .narrow-side-col,
  .col-sm-1-3 { width: 33.3333%; }
  .wide-main-col,
  .col-sm-2-3 { width: 66.6666%; }

  .col-sm-1-2 { width: 50%; }

  .col-sm-1 { width: 100%; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm-clear-on-3 { .col:nth-child( 3n + 1 ) { clear: both; } }
  .sm-clear-on-4 { .col:nth-child( 4n + 1 ) { clear: both; } }
  .sm-clear-on-5 { .col:nth-child( 5n + 1 ) { clear: both; } }
  .sm-clear-on-6 { .col:nth-child( 6n + 1 ) { clear: both; } }

  .col-sm-hidden { display: none; }
}

@media screen and (min-width: 992px) {
  .md-clear-on-3 { .col:nth-child( 3n + 1 ) { clear: both; } }
  .md-clear-on-4 { .col:nth-child( 4n + 1 ) { clear: both; } }
  .md-clear-on-5 { .col:nth-child( 5n + 1 ) { clear: both; } }
  .md-clear-on-6 { .col:nth-child( 6n + 1 ) { clear: both; } }

  .col-md-1-6 { width: 16.6666%; }
  .col-md-2-6 { width: 33.3333%; }
  .col-md-3-6 { width: 50%; }
  .col-md-4-6 { width: 66.6666%; }
  .col-md-5-6 { width: 83.3333%; }
  .col-md-6-6 { width: 100%; }

  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }

  .blog-side-col,
  .narrow-side-col,
  .form-row.quarter,
  .col-md-1-4 { width: 25%; }
  .blog-main-col,
  .wide-main-col,
  .col-md-3-4 { width: 75%; }

  .side-col,
  .col-md-1-3 { width: 33.3333%; }
  .main-col,
  .col-md-2-3 { width: 66.6666%; }

  .form-row.half,
  .col-md-1-2 { width: 50%; }

  .col-md-1 { width: 100%; }

  .col-md-hidden { display: none; }
}

@media screen and (min-width: 1040px) {
  .wrapper { width: 1057px; }
}