@mixin text-replace( $path, $width, $height, $left : 0px, $top : 0px ) {
	background: {
		image: url($path);
		repeat: no-repeat;
		position: $left $top;
	}
	display: block;
	height: $height;
	width: $width;
	text-align: left;
	text-indent: -9999px;
}

@mixin rounded( $radius ) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	behavior:url(border-radius.htc);
}

@mixin opacity( $opacity ) {
	opacity: $opacity;
	filter: alpha(opacity = $opacity * 100);
}

@mixin gradient( $start-color, $end-color ) {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{$end-color}',startColorstr='#{$start-color}'); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{$end-color}',startColorstr='#{$start-color}')"; /* for IE */
	background-image: -webkit-gradient( linear, left top, left bottom, from( $start-color ), to( $end-color ) ); /* for webkit browsers */
	background-image: -moz-linear-gradient( center top,  $start-color,  $end-color ); /* for firefox 3.6+ */
}

@mixin box-shadow( $h, $v, $blur, $color ) {
	-moz-box-shadow: $h $v $blur $color;
  -webkit-box-shadow: $h $v $blur $color;
  box-shadow: $h $v $blur $color;
}

@mixin column( $count, $width, $margin ) {
	$i: 1;
	$classes: '';
	$_classes: '';
	@while $i < $count {
		$classes: $classes + ".col-" + $i + "-" + $count + ", ";
		$_classes: $_classes + ".col-" + $i + "-" + $count + "-i, ";
		$i: $i + 1;
	}
	$classes: $classes + ".col-" + $i + "-" + $count;
	$_classes: $_classes + ".col-" + $i + "-" + $count + '-i';
	#{$classes} {
		float: left;
		margin-left: $margin;
		margin-right: $margin;
	}
	#{$_classes} {
		float: left;
		margin-left: $width;

		&.last {
			margin-right: $width;
		}
	}
	$i: 1;
	@while $i <= $count {
		.col-#{$i}-#{$count} {
			width: ( $width * $i ) + ( $margin * 2 * ( $i - 1 ) );
		}
		.col-#{$i}-#{$count}-i {
			width: ( $width * $i ) + ( $margin * 2 * ( $i + 1 ) );
		}
		$i: $i + 1;
	}
}

@mixin em( $px-size ) {
	font-size: ( ( $px-size *1px ) / $font-size * 1em );
}


@mixin icon-sprite( $x, $y, $w : 34, $h : 34 ) {
	&:before {
		background-position: ( ( ( $x - 1 ) * -$w ) * 1px ) ( ( ( $y - 1 ) * -$h ) * 1px );
	}
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:($gutter / -2);
  margin-right:($gutter / -2);
  @include clearfix();
}

@mixin make-grid-columns($columns) {
  $i: 1;
  $list: ".grid-col-#{$i}";

  @for $i from (1 + 1) through $columns {
    $list: "#{$list}, .grid-col-#{$i}";
  }

  #{$list} {
    float:left;
    // Prevent columns from collapsing when empty
    min-height:1px;
    // Inner gutter via padding
    padding-left:($grid-gutter-width / 2);
    padding-right:($grid-gutter-width / 2);
    position:relative;
  }
}

@mixin calc-grid-column($columns) {
  @for $i from 1 through $columns {
    .grid-col-#{$i} {
      width:percentage(($i / $columns));
    }
  }
}

@mixin center-grid-columns($columns) {
  $i: 1;
  $list: ".grid-centered > .grid-col-#{$i}";

  @for $i from (1 + 1) through $columns {
    $list: "#{$list}, .grid-centered > .grid-col-#{$i}";
  }

  .grid-centered {
    float:left;
    position:relative;
    left:50%;
  }

  #{$list} {
    right:50%;
  }
}
