.btn {
	background: $grey;
	box-shadow: 0 2px 0 #505050;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font: 500 14px/38px Roboto, sans-serif;
	height: 37px;
	padding: 0 18px;

  &:focus {
    outline: none;
  }

	&:hover {
		text-decoration: none;
	}

	&.btn-icon:after {
		background: #686868;
	}
  
	&.btn-loading.btn-icon:before {
		background: url( '../img/spinner-darkbg.gif' ) 50% 50% no-repeat !important;
	}
  
  &.pressed {
    background: #cccccc;
    box-shadow: inset 0 2px 0 #aaaaaa, 0 1px 0 #ffffff;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);

    &:hover {
      cursor: default;
      background: #cccccc;
    }
  }
}

.btn-icon {
	overflow: hidden;
	padding-left: 60px;
	position: relative;
	
	&:after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 42px;
	}
	&:before {
		left: 9px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    z-index: 1;
	}	
}

.btn-notxt {
	padding: 0;
	text-indent: -9999em;
	width: 42px;
}

.btn-small {
	font-size: 13px;
	height: 28px;
	line-height: 26px;
	margin-top: -3px;
	vertical-align: middle;
	
	&.btn-icon {
		padding-left: 50px;
		
		&:after {
			width: 32px;
		}
		&:before {
			left: 4px;
		}
	}
}

.btn-icon-right {
	padding-left: 18px;
	padding-right: 60px;

	&:after {
		left: auto;
		right: 0;
	}

	&:before {
		left: auto;
		right: 9px;
	}
}

.btn-default {
	background: $brand-main;
	box-shadow: 0 2px 0 #a8143b;

	&.btn-icon:after {
		background: $brand-main-dark;
	}
	
	&.btn-loading.btn-icon:before {
		background: url( '../img/spinner-redbg.gif' ) 50% 50% no-repeat !important;
	}
}

.btn-default-alt {
	background: #B31436;
	box-shadow: 0 2px 0 #911022;

	&.btn-icon:after {
		background: #a11332;
	}
	
	&.btn-loading.btn-icon:before {
		background: url( '../img/spinner-redbg.gif' ) 50% 50% no-repeat !important;
	}
}

.btn-default-pressed {
	background: #e27795;
	box-shadow: none;
	transform: translateY(2px);
	-webkit-transform: translateY(2px);

	&.btn-icon:after {
		background: #ca6984;
	}
}

.btn-light {
	background: #c0c0c0;
	box-shadow: 0 2px 0 #a2a2a2;

	&.btn-icon:after {
		background: #b5b5b5;
	}
}

.btn-sec {
	background: $sec;
	box-shadow: 0 2px 0 #4e7aae;

	&.btn-icon:after {
		background: #5f91cd;
	}
}

.btn-payback {
	background: #0065b3;
	box-shadow: 0 2px 0 #005799;

	&.btn-icon:after {
		background: #005a9f;
	}
}

.btn-facebook {
	background: #3b5998;
	box-shadow: 0 2px 0 #1e2f53;

	&.btn-icon:after {
		background: #344e86;
	}
  
	&.btn-loading.btn-icon:before {
		background: url( '../img/spinner-fbbg.gif' ) 50% 50% no-repeat !important;
	}
}

.btn-midgrey {
	background: #9f9f9f;
	box-shadow: 0 2px 0 #5a595d;

	&.btn-icon:after {
		background: #8f8f8f;
	}
}



a.btn,
button.btn,
.btn-whover {
	&:hover {
		background: #686868;
	}
	&.sec:hover {
		background: #5f91cd;
	}
	
	&.btn-light:hover {
		background: #b5b5b5;
	}
  
  &.btn-payback:hover {
    background: #005a9f;
  }
	
	&.btn-default:hover {
		background: $brand-main-dark;
	}
	
  &.btn-default-alt:hover {
    background: #a11332;
  }
  
	&.btn-facebook:hover {
		background: #344e86;
	}
	
	&.btn-midgrey:hover {
		background: #8f8f8f;
	}
}

.btn-no-shadow {
	box-shadow: none;
	height: 39px;
}

.btn-row {
	border-top: 1px solid #D8D8D8;
  clear: both;
	margin-top: 34px;
	overflow: hidden;
	padding: 34px 0 2px;

  .btn {
    text-align: center;
    width: 150px;
  }
}

.btn-right {
	float: right;
}

.overline-btns {
	text-align: center;

	& > .btn {
		margin-top: -20px;
	}
}

.btn100 {
  width: 100%;
}