.icon,
.icon-small {
	position: relative;

	&:before {
		content: "";
		display: inline-block;
	}

	&.no-txt {
		display: inline-block;
		overflow: hidden;
		text-indent: -9999em;
		vertical-align: middle;

		&:before {
			display: block;
		}
	}

	&.pad-left,
	&.pad-right {
		&:before {
			position: absolute;
			top: 50%;
		}
	}

	&.pad-left {
		&:before {
			left: 0;
		}
	}

	&.pad-right {
		&:before {
			right: 0;
		}
	}
}

.icon {
	&:before {
		background: url( '../img/icons-sprite.png' ) no-repeat;
		height: 24px;
		width: 24px;
	}

	&.no-txt {
		width: 24px;
		height: 26px;
	}

	&.pad-left,
	&.pad-right {
		&:before {
			margin-top: -12px;
		}
	}

	&.pad-left {
		padding-left: 34px;
	}
	&.pad-right {
		padding-right: 34px;
	}

	&.icon-reload   { @include icon-sprite( 1, 1 ); }
	&.icon-search   { @include icon-sprite( 2, 1 ); }
	&.icon-edit     { @include icon-sprite( 3, 1 ); }
	&.icon-user     { @include icon-sprite( 4, 1 ); }
	&.icon-crown    { @include icon-sprite( 5, 1 ); }
	&.icon-marker   { @include icon-sprite( 6, 1 ); }
	&.icon-close    { @include icon-sprite( 7, 1 ); }
	&.icon-eye      { @include icon-sprite( 8, 1 ); }
	&.icon-like     { @include icon-sprite( 9, 1 ); }
	&.icon-play     { @include icon-sprite( 10, 1 ); }
	&.icon-star     { @include icon-sprite( 11, 1 ); }
	&.icon-calendar { @include icon-sprite( 12, 1 ); }
	&.icon-movie    { @include icon-sprite( 13, 1 ); }
	&.icon-money    { @include icon-sprite( 14, 1 ); }
	&.icon-tick     { @include icon-sprite( 15, 1 ); }
	&.icon-facebook { @include icon-sprite( 16, 1 ); }
	&.icon-rarr     { @include icon-sprite( 17, 1 ); }
	&.icon-larr     { @include icon-sprite( 18, 1 ); }
	&.icon-shout    { @include icon-sprite( 19, 1 ); }
	&.icon-file     { @include icon-sprite( 20, 1 ); }
	&.icon-cinemex  { @include icon-sprite( 21, 1 ); }
	&.icon-ticket   { @include icon-sprite( 22, 1 ); }
	&.icon-clock    { @include icon-sprite( 23, 1 ); }
	&.icon-print    { @include icon-sprite( 24, 1 ); }
	&.icon-darr     { @include icon-sprite( 25, 1 ); }
	&.icon-king     { @include icon-sprite( 26, 1 ); }
	&.icon-tarr     { @include icon-sprite( 27, 1 ); }
	&.icon-soda     { @include icon-sprite( 28, 1 ); }
	&.icon-plus     { @include icon-sprite( 29, 1 ); }
	&.icon-screen   { @include icon-sprite( 30, 1 ); }
	&.icon-alert    { @include icon-sprite( 31, 1 ); }
	&.icon-platinum { @include icon-sprite( 32, 1 ); }
	&.icon-settings { @include icon-sprite( 33, 1 ); }
	&.icon-gift     { @include icon-sprite( 34, 1 ); }
	&.icon-tick2    { @include icon-sprite( 35, 1 ); }
	&.icon-payback  { @include icon-sprite( 36, 1 ); }

	&.icon-red {
		&.icon-reload   { @include icon-sprite( 1, 2 ); }
		&.icon-search   { @include icon-sprite( 2, 2 ); }
		&.icon-edit     { @include icon-sprite( 3, 2 ); }
		&.icon-user     { @include icon-sprite( 4, 2 ); }
		&.icon-crown    { @include icon-sprite( 5, 2 ); }
		&.icon-marker   { @include icon-sprite( 6, 2 ); }
		&.icon-close    { @include icon-sprite( 7, 2 ); }
		&.icon-eye      { @include icon-sprite( 8, 2 ); }
		&.icon-like     { @include icon-sprite( 9, 2 ); }
		&.icon-play     { @include icon-sprite( 10, 2 ); }
		&.icon-star     { @include icon-sprite( 11, 2 ); }
		&.icon-calendar { @include icon-sprite( 12, 2 ); }
		&.icon-movie    { @include icon-sprite( 13, 2 ); }
		&.icon-money    { @include icon-sprite( 14, 2 ); }
		&.icon-tick     { @include icon-sprite( 15, 2 ); }
		&.icon-facebook { @include icon-sprite( 16, 2 ); }
		&.icon-rarr     { @include icon-sprite( 17, 2 ); }
		&.icon-larr     { @include icon-sprite( 18, 2 ); }
		&.icon-shout    { @include icon-sprite( 19, 2 ); }
		&.icon-file     { @include icon-sprite( 20, 2 ); }
		&.icon-cinemex  { @include icon-sprite( 21, 2 ); }
		&.icon-ticket   { @include icon-sprite( 22, 2 ); }
		&.icon-clock    { @include icon-sprite( 23, 2 ); }
		&.icon-print    { @include icon-sprite( 24, 2 ); }
		&.icon-darr     { @include icon-sprite( 25, 2 ); }
		&.icon-king     { @include icon-sprite( 26, 2 ); }
		&.icon-tarr     { @include icon-sprite( 27, 2 ); }
		&.icon-soda     { @include icon-sprite( 28, 2 ); }
		&.icon-plus     { @include icon-sprite( 29, 2 ); }
		&.icon-screen   { @include icon-sprite( 30, 2 ); }
		&.icon-alert    { @include icon-sprite( 31, 2 ); }
		&.icon-platinum { @include icon-sprite( 32, 2 ); }
    &.icon-settings { @include icon-sprite( 33, 2 ); }
    &.icon-gift     { @include icon-sprite( 34, 2 ); }
    &.icon-tick2    { @include icon-sprite( 35, 2 ); }
    &.icon-payback  { @include icon-sprite( 36, 2 ); }
	}

	&.icon-dark {
		&.icon-reload   { @include icon-sprite( 1, 3 ); }
		&.icon-search   { @include icon-sprite( 2, 3 ); }
		&.icon-edit     { @include icon-sprite( 3, 3 ); }
		&.icon-user     { @include icon-sprite( 4, 3 ); }
		&.icon-crown    { @include icon-sprite( 5, 3 ); }
		&.icon-marker   { @include icon-sprite( 6, 3 ); }
		&.icon-close    { @include icon-sprite( 7, 3 ); }
		&.icon-eye      { @include icon-sprite( 8, 3 ); }
		&.icon-like     { @include icon-sprite( 9, 3 ); }
		&.icon-play     { @include icon-sprite( 10, 3 ); }
		&.icon-star     { @include icon-sprite( 11, 3 ); }
		&.icon-calendar { @include icon-sprite( 12, 3 ); }
		&.icon-movie    { @include icon-sprite( 13, 3 ); }
		&.icon-money    { @include icon-sprite( 14, 3 ); }
		&.icon-tick     { @include icon-sprite( 15, 3 ); }
		&.icon-facebook { @include icon-sprite( 16, 3 ); }
		&.icon-rarr     { @include icon-sprite( 17, 3 ); }
		&.icon-larr     { @include icon-sprite( 18, 3 ); }
		&.icon-shout    { @include icon-sprite( 19, 3 ); }
		&.icon-file     { @include icon-sprite( 20, 3 ); }
		&.icon-cinemex  { @include icon-sprite( 21, 3 ); }
		&.icon-ticket   { @include icon-sprite( 22, 3 ); }
		&.icon-clock    { @include icon-sprite( 23, 3 ); }
		&.icon-print    { @include icon-sprite( 24, 3 ); }
		&.icon-darr     { @include icon-sprite( 25, 3 ); }
		&.icon-king     { @include icon-sprite( 26, 3 ); }
		&.icon-tarr     { @include icon-sprite( 27, 3 ); }
		&.icon-soda     { @include icon-sprite( 28, 3 ); }
		&.icon-plus     { @include icon-sprite( 29, 3 ); }
		&.icon-screen   { @include icon-sprite( 30, 3 ); }
		&.icon-alert    { @include icon-sprite( 31, 3 ); }
		&.icon-platinum { @include icon-sprite( 32, 3 ); }
    &.icon-settings { @include icon-sprite( 33, 3 ); }
    &.icon-gift     { @include icon-sprite( 34, 3 ); }
    &.icon-tick2    { @include icon-sprite( 35, 3 ); }
    &.icon-payback  { @include icon-sprite( 36, 3 ); }
	}

	&.icon-light {
		&.icon-reload   { @include icon-sprite( 1, 4 ); }
		&.icon-search   { @include icon-sprite( 2, 4 ); }
		&.icon-edit     { @include icon-sprite( 3, 4 ); }
		&.icon-user     { @include icon-sprite( 4, 4 ); }
		&.icon-crown    { @include icon-sprite( 5, 4 ); }
		&.icon-marker   { @include icon-sprite( 6, 4 ); }
		&.icon-close    { @include icon-sprite( 7, 4 ); }
		&.icon-eye      { @include icon-sprite( 8, 4 ); }
		&.icon-like     { @include icon-sprite( 9, 4 ); }
		&.icon-play     { @include icon-sprite( 10, 4 ); }
		&.icon-star     { @include icon-sprite( 11, 4 ); }
		&.icon-calendar { @include icon-sprite( 12, 4 ); }
		&.icon-movie    { @include icon-sprite( 13, 4 ); }
		&.icon-money    { @include icon-sprite( 14, 4 ); }
		&.icon-tick     { @include icon-sprite( 15, 4 ); }
		&.icon-facebook { @include icon-sprite( 16, 4 ); }
		&.icon-rarr     { @include icon-sprite( 17, 4 ); }
		&.icon-larr     { @include icon-sprite( 18, 4 ); }
		&.icon-shout    { @include icon-sprite( 19, 4 ); }
		&.icon-file     { @include icon-sprite( 20, 4 ); }
		&.icon-cinemex  { @include icon-sprite( 21, 4 ); }
		&.icon-ticket   { @include icon-sprite( 22, 4 ); }
		&.icon-clock    { @include icon-sprite( 23, 4 ); }
		&.icon-print    { @include icon-sprite( 24, 4 ); }
		&.icon-darr     { @include icon-sprite( 25, 4 ); }
		&.icon-king     { @include icon-sprite( 26, 4 ); }
		&.icon-tarr     { @include icon-sprite( 27, 4 ); }
		&.icon-soda     { @include icon-sprite( 28, 4 ); }
		&.icon-plus     { @include icon-sprite( 29, 4 ); }
		&.icon-screen   { @include icon-sprite( 30, 4 ); }
		&.icon-alert    { @include icon-sprite( 31, 4 ); }
		&.icon-platinum { @include icon-sprite( 32, 4 ); }
    &.icon-settings { @include icon-sprite( 33, 4 ); }
    &.icon-gift     { @include icon-sprite( 34, 4 ); }
    &.icon-tick2    { @include icon-sprite( 35, 4 ); }
    &.icon-payback  { @include icon-sprite( 36, 4 ); }
	}

	&.icon-black {
		&.icon-reload   { @include icon-sprite( 1, 5 ); }
		&.icon-search   { @include icon-sprite( 2, 5 ); }
		&.icon-edit     { @include icon-sprite( 3, 5 ); }
		&.icon-user     { @include icon-sprite( 4, 5 ); }
		&.icon-crown    { @include icon-sprite( 5, 5 ); }
		&.icon-marker   { @include icon-sprite( 6, 5 ); }
		&.icon-close    { @include icon-sprite( 7, 5 ); }
		&.icon-eye      { @include icon-sprite( 8, 5 ); }
		&.icon-like     { @include icon-sprite( 9, 5 ); }
		&.icon-play     { @include icon-sprite( 10, 5 ); }
		&.icon-star     { @include icon-sprite( 11, 5 ); }
		&.icon-calendar { @include icon-sprite( 12, 5 ); }
		&.icon-movie    { @include icon-sprite( 13, 5 ); }
		&.icon-money    { @include icon-sprite( 14, 5 ); }
		&.icon-tick     { @include icon-sprite( 15, 5 ); }
		&.icon-facebook { @include icon-sprite( 16, 5 ); }
		&.icon-rarr     { @include icon-sprite( 17, 5 ); }
		&.icon-larr     { @include icon-sprite( 18, 5 ); }
		&.icon-shout    { @include icon-sprite( 19, 5 ); }
		&.icon-file     { @include icon-sprite( 20, 5 ); }
		&.icon-cinemex  { @include icon-sprite( 21, 5 ); }
		&.icon-ticket   { @include icon-sprite( 22, 5 ); }
		&.icon-clock    { @include icon-sprite( 23, 5 ); }
		&.icon-print    { @include icon-sprite( 24, 5 ); }
		&.icon-darr     { @include icon-sprite( 25, 5 ); }
		&.icon-king     { @include icon-sprite( 26, 5 ); }
		&.icon-tarr     { @include icon-sprite( 27, 5 ); }
		&.icon-soda     { @include icon-sprite( 28, 5 ); }
		&.icon-plus     { @include icon-sprite( 29, 5 ); }
		&.icon-screen   { @include icon-sprite( 30, 5 ); }
		&.icon-alert    { @include icon-sprite( 31, 5 ); }
		&.icon-platinum { @include icon-sprite( 32, 5 ); }
    &.icon-settings { @include icon-sprite( 33, 5 ); }
    &.icon-gift     { @include icon-sprite( 34, 5 ); }
    &.icon-tick2    { @include icon-sprite( 35, 5 ); }
    &.icon-payback  { @include icon-sprite( 36, 5 ); }
	}

	&.icon-gold {
		&.icon-reload   { @include icon-sprite( 1, 6 ); }
		&.icon-search   { @include icon-sprite( 2, 6 ); }
		&.icon-edit     { @include icon-sprite( 3, 6 ); }
		&.icon-user     { @include icon-sprite( 4, 6 ); }
		&.icon-crown    { @include icon-sprite( 5, 6 ); }
		&.icon-marker   { @include icon-sprite( 6, 6 ); }
		&.icon-close    { @include icon-sprite( 7, 6 ); }
		&.icon-eye      { @include icon-sprite( 8, 6 ); }
		&.icon-like     { @include icon-sprite( 9, 6 ); }
		&.icon-play     { @include icon-sprite( 10, 6 ); }
		&.icon-star     { @include icon-sprite( 11, 6 ); }
		&.icon-calendar { @include icon-sprite( 12, 6 ); }
		&.icon-movie    { @include icon-sprite( 13, 6 ); }
		&.icon-money    { @include icon-sprite( 14, 6 ); }
		&.icon-tick     { @include icon-sprite( 15, 6 ); }
		&.icon-facebook { @include icon-sprite( 16, 6 ); }
		&.icon-rarr     { @include icon-sprite( 17, 6 ); }
		&.icon-larr     { @include icon-sprite( 18, 6 ); }
		&.icon-shout    { @include icon-sprite( 19, 6 ); }
		&.icon-file     { @include icon-sprite( 20, 6 ); }
		&.icon-cinemex  { @include icon-sprite( 21, 6 ); }
		&.icon-ticket   { @include icon-sprite( 22, 6 ); }
		&.icon-clock    { @include icon-sprite( 23, 6 ); }
		&.icon-print    { @include icon-sprite( 24, 6 ); }
		&.icon-darr     { @include icon-sprite( 25, 6 ); }
		&.icon-king     { @include icon-sprite( 26, 6 ); }
		&.icon-tarr     { @include icon-sprite( 27, 6 ); }
		&.icon-soda     { @include icon-sprite( 28, 6 ); }
		&.icon-plus     { @include icon-sprite( 29, 6 ); }
		&.icon-screen   { @include icon-sprite( 30, 6 ); }
		&.icon-alert    { @include icon-sprite( 31, 6 ); }
		&.icon-platinum { @include icon-sprite( 32, 6 ); }
    &.icon-settings { @include icon-sprite( 33, 6 ); }
    &.icon-gift     { @include icon-sprite( 34, 6 ); }
    &.icon-tick2    { @include icon-sprite( 35, 6 ); }
    &.icon-payback  { @include icon-sprite( 36, 6 ); }
	}
}

.icon-small {
	&:before {
		background: url( '../img/icons-small-sprite.png' ) no-repeat;
		height: 14px;
		width: 14px;
	}

	&.no-txt {
		width: 14px;
		height: 14px;
	}

	&.pad-left,
	&.pad-right {
		&:before {
			margin-top: -7px;
		}
	}

	&.pad-left {
		padding-left: 24px;
	}
	&.pad-right {
		padding-right: 24px;
	}

	&.icon-marker       { @include icon-sprite( 1, 1, 24, 24 ); }
	&.icon-calendarfill { @include icon-sprite( 2, 1, 24, 24 ); }
	&.icon-calendar     { @include icon-sprite( 3, 1, 24, 24 ); }
	&.icon-comments     { @include icon-sprite( 4, 1, 24, 24 ); }
	&.icon-user         { @include icon-sprite( 5, 1, 24, 24 ); }
	&.icon-close        { @include icon-sprite( 6, 1, 24, 24 ); }
	&.icon-tick         { @include icon-sprite( 7, 1, 24, 24 ); }
	&.icon-darr         { @include icon-sprite( 8, 1, 24, 24 ); }
	&.icon-minus        { @include icon-sprite( 9, 1, 24, 24 ); }
	&.icon-plus         { @include icon-sprite( 10, 1, 24, 24 ); }
	&.icon-minusb       { @include icon-sprite( 11, 1, 24, 24 ); }
	&.icon-plusb        { @include icon-sprite( 12, 1, 24, 24 ); }
	&.icon-phone        { @include icon-sprite( 13, 1, 24, 24 ); }
	&.icon-crown        { @include icon-sprite( 14, 1, 24, 24 ); }

	&.icon-red {
		&.icon-marker       { @include icon-sprite( 1, 2, 24, 24 ); }
		&.icon-calendarfill { @include icon-sprite( 2, 2, 24, 24 ); }
		&.icon-calendar     { @include icon-sprite( 3, 2, 24, 24 ); }
		&.icon-comments     { @include icon-sprite( 4, 2, 24, 24 ); }
		&.icon-user         { @include icon-sprite( 5, 2, 24, 24 ); }
		&.icon-close        { @include icon-sprite( 6, 2, 24, 24 ); }
		&.icon-tick         { @include icon-sprite( 7, 2, 24, 24 ); }
		&.icon-darr         { @include icon-sprite( 8, 2, 24, 24 ); }
		&.icon-minus        { @include icon-sprite( 9, 2, 24, 24 ); }
		&.icon-plus         { @include icon-sprite( 10, 2, 24, 24 ); }
		&.icon-minusb       { @include icon-sprite( 11, 2, 24, 24 ); }
		&.icon-plusb        { @include icon-sprite( 12, 2, 24, 24 ); }
		&.icon-phone        { @include icon-sprite( 13, 2, 24, 24 ); }
    &.icon-crown        { @include icon-sprite( 14, 2, 24, 24 ); }
	}

	&.icon-dark {
		&.icon-marker       { @include icon-sprite( 1, 3, 24, 24 ); }
		&.icon-calendarfill { @include icon-sprite( 2, 3, 24, 24 ); }
		&.icon-calendar     { @include icon-sprite( 3, 3, 24, 24 ); }
		&.icon-comments     { @include icon-sprite( 4, 3, 24, 24 ); }
		&.icon-user         { @include icon-sprite( 5, 3, 24, 24 ); }
		&.icon-close        { @include icon-sprite( 6, 3, 24, 24 ); }
		&.icon-tick         { @include icon-sprite( 7, 3, 24, 24 ); }
		&.icon-darr         { @include icon-sprite( 8, 3, 24, 24 ); }
		&.icon-minus        { @include icon-sprite( 9, 3, 24, 24 ); }
		&.icon-plus         { @include icon-sprite( 10, 3, 24, 24 ); }
		&.icon-minusb       { @include icon-sprite( 11, 3, 24, 24 ); }
		&.icon-plusb        { @include icon-sprite( 12, 3, 24, 24 ); }
		&.icon-phone        { @include icon-sprite( 13, 3, 24, 24 ); }
    &.icon-crown        { @include icon-sprite( 14, 3, 24, 24 ); }
	}

	&.icon-light {
		&.icon-marker       { @include icon-sprite( 1, 4, 24, 24 ); }
		&.icon-calendarfill { @include icon-sprite( 2, 4, 24, 24 ); }
		&.icon-calendar     { @include icon-sprite( 3, 4, 24, 24 ); }
		&.icon-comments     { @include icon-sprite( 4, 4, 24, 24 ); }
		&.icon-user         { @include icon-sprite( 5, 4, 24, 24 ); }
		&.icon-close        { @include icon-sprite( 6, 4, 24, 24 ); }
		&.icon-tick         { @include icon-sprite( 7, 4, 24, 24 ); }
		&.icon-darr         { @include icon-sprite( 8, 4, 24, 24 ); }
		&.icon-minus        { @include icon-sprite( 9, 4, 24, 24 ); }
		&.icon-plus         { @include icon-sprite( 10, 4, 24, 24 ); }
		&.icon-minusb       { @include icon-sprite( 11, 4, 24, 24 ); }
		&.icon-plusb        { @include icon-sprite( 12, 4, 24, 24 ); }
		&.icon-phone        { @include icon-sprite( 13, 4, 24, 24 ); }
    &.icon-crown        { @include icon-sprite( 14, 4, 24, 24 ); }
	}

	&.icon-grey {
		&.icon-marker       { @include icon-sprite( 1, 5, 24, 24 ); }
		&.icon-calendarfill { @include icon-sprite( 2, 5, 24, 24 ); }
		&.icon-calendar     { @include icon-sprite( 3, 5, 24, 24 ); }
		&.icon-comments     { @include icon-sprite( 4, 5, 24, 24 ); }
		&.icon-user         { @include icon-sprite( 5, 5, 24, 24 ); }
		&.icon-close        { @include icon-sprite( 6, 5, 24, 24 ); }
		&.icon-tick         { @include icon-sprite( 7, 5, 24, 24 ); }
		&.icon-darr         { @include icon-sprite( 8, 5, 24, 24 ); }
		&.icon-minus        { @include icon-sprite( 9, 5, 24, 24 ); }
		&.icon-plus         { @include icon-sprite( 10, 5, 24, 24 ); }
		&.icon-minusb       { @include icon-sprite( 11, 5, 24, 24 ); }
		&.icon-plusb        { @include icon-sprite( 12, 5, 24, 24 ); }
		&.icon-phone        { @include icon-sprite( 13, 5, 24, 24 ); }
    &.icon-crown        { @include icon-sprite( 14, 5, 24, 24 ); }
	}
}

.discicon {
	display: inline-block;
	height: 23px;
	position: relative;
	text-indent: -9999em;
	text-align: left;
	width: 23px;

	&:before {
		background: url( '../img/icons-disc-sprite.png' ) no-repeat;
		content: "";
		display: inline-block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&.icon-facebook  { @include icon-sprite( 1, 1, 33, 33 ); }
	&.icon-twitter   { @include icon-sprite( 2, 1, 33, 33 ); }
	&.icon-gplus     { @include icon-sprite( 3, 1, 33, 33 ); }
	&.icon-instagram { @include icon-sprite( 4, 1, 33, 33 ); }
	&.icon-star      { @include icon-sprite( 5, 1, 33, 33 ); }
	&.icon-screen    { @include icon-sprite( 6, 1, 33, 33 ); }
	&.icon-comments  { @include icon-sprite( 7, 1, 33, 33 ); }
	&.icon-shout     { @include icon-sprite( 8, 1, 33, 33 ); }
	&.icon-settings  { @include icon-sprite( 9, 1, 33, 33 ); }

	&.icon-red {
		&.icon-facebook  { @include icon-sprite( 1, 2, 33, 33 ); }
		&.icon-twitter   { @include icon-sprite( 2, 2, 33, 33 ); }
		&.icon-gplus     { @include icon-sprite( 3, 2, 33, 33 ); }
		&.icon-instagram { @include icon-sprite( 4, 2, 33, 33 ); }
		&.icon-star      { @include icon-sprite( 5, 2, 33, 33 ); }
		&.icon-screen    { @include icon-sprite( 6, 2, 33, 33 ); }
		&.icon-comments  { @include icon-sprite( 7, 2, 33, 33 ); }
		&.icon-shout     { @include icon-sprite( 8, 2, 33, 33 ); }
		&.icon-settings  { @include icon-sprite( 9, 2, 33, 33 ); }
	}

	&.icon-light {
		&.icon-facebook  { @include icon-sprite( 1, 3, 33, 33 ); }
		&.icon-twitter   { @include icon-sprite( 2, 3, 33, 33 ); }
		&.icon-gplus     { @include icon-sprite( 3, 3, 33, 33 ); }
		&.icon-instagram { @include icon-sprite( 4, 3, 33, 33 ); }
		&.icon-star      { @include icon-sprite( 5, 3, 33, 33 ); }
		&.icon-screen    { @include icon-sprite( 6, 3, 33, 33 ); }
		&.icon-comments  { @include icon-sprite( 7, 3, 33, 33 ); }
		&.icon-shout     { @include icon-sprite( 8, 3, 33, 33 ); }
		&.icon-settings  { @include icon-sprite( 9, 3, 33, 33 ); }
	}

	&.icon-dark {
		&.icon-facebook  { @include icon-sprite( 1, 4, 33, 33 ); }
		&.icon-twitter   { @include icon-sprite( 2, 4, 33, 33 ); }
		&.icon-gplus     { @include icon-sprite( 3, 4, 33, 33 ); }
		&.icon-instagram { @include icon-sprite( 4, 4, 33, 33 ); }
		&.icon-star      { @include icon-sprite( 5, 4, 33, 33 ); }
		&.icon-screen    { @include icon-sprite( 6, 4, 33, 33 ); }
		&.icon-comments  { @include icon-sprite( 7, 4, 33, 33 ); }
		&.icon-shout     { @include icon-sprite( 8, 4, 33, 33 ); }
		&.icon-settings  { @include icon-sprite( 9, 4, 33, 33 ); }
	}

	&.icon-grey {
		&.icon-facebook  { @include icon-sprite( 1, 5, 33, 33 ); }
		&.icon-twitter   { @include icon-sprite( 2, 5, 33, 33 ); }
		&.icon-gplus     { @include icon-sprite( 3, 5, 33, 33 ); }
		&.icon-instagram { @include icon-sprite( 4, 5, 33, 33 ); }
		&.icon-star      { @include icon-sprite( 5, 5, 33, 33 ); }
		&.icon-screen    { @include icon-sprite( 6, 5, 33, 33 ); }
		&.icon-comments  { @include icon-sprite( 7, 5, 33, 33 ); }
		&.icon-shout     { @include icon-sprite( 8, 5, 33, 33 ); }
		&.icon-settings  { @include icon-sprite( 9, 5, 33, 33 ); }
	}
}


.tick-option {
	padding-left: 16px;
	position: relative;

	&:before {
		background: url( '../img/icons-small-sprite.png' ) no-repeat;
		content: "";
    left: 0;
    position: absolute;
    top: 2px;
		height: 14px;
		width: 14px;
	}
	@include icon-sprite( 7, 4, 24, 24 );
	&:hover  { @include icon-sprite( 7, 3, 24, 24 ); text-decoration: none; }
	&.active { @include icon-sprite( 7, 2, 24, 24 ); }
}