/**
 * @outputFile ../css/login.css
 */

@import "utils";
@import "vars.scss";

html,
body.login {
	background: #fff;
}

#login h1 a {
	@include text-replace( '../img/header-logo.png', 220px, 180px );
	background-size: 220px 180px;
	margin: 0 auto;
}

#login { padding-top: 34px; }