/**
 * @outputFile ../css/mobile.css
 */

@import "utils";
@import "vars.scss";
@import "reset.scss";
@import "btn.scss";
@import "icons.scss";

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  -webkit-text-size-adjust: 100%;
}

.hidden {
	display: none !important;
}
.posrel {
  position: relative;
}

body {
  background: #e0e0e0;
	color: $grey;
	font: 14px/1.2em Roboto, sans-serif;
}

.icon-print { display: none !important; }

.align-center  { text-align: center; }
.align-left    { text-align: left; }
.align-right   { text-align: right; }
.align-justify { text-align: justify; }

a {
  color: $brand-main;
  text-decoration: none;
}

.btn { text-decoration: none; }

.avatar-48 {
  border-radius: 48px;
  height: 48px;
  overflow: hidden;
  width: 48px;

  img {
    width: 100%;
  }
}

.blockui {
	background: rgba( 255,255,255,0.5 );
	bottom: 0;
  cursor: wait;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width:  100%;
	z-index: 50;

	&.loading {
		background: {
      color: rgba( 0,0,0,0.5 );
			image: url( '../img/spinner-fff-8d8d8d.gif' );
			repeat: no-repeat;
			position: 50% 50%;
		}
	}

  &.no-bg {
    background: transparent;
  }
}

#popups {
	background: rgba( 0,0,0,0.75 );
	bottom: 0;
	display: table;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
#popups-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.popup {
	background: #ebebeb;
	display: inline-block;
	margin: 40px 0;
	position: relative;
	text-align: left;
}
.popup-close {
	position: absolute;
	right: -1px;
	top: -20px;
}
.msg {
  background: none repeat scroll 0 0 #F0F0F0;
  margin: 0 0 30px;
  padding: 12px 16px;

  & > p {
    margin-top: 12px;
    &:first-child { margin-top: 0; }
  }

  &.balloon {
    min-width: 180px;
    &:before {
      border-top: 6px solid;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px;
    }

    &.balloon-below {
      &:before {
        bottom: auto;
        top: -6px;
        border-width: 6px;
        border-style: solid;
        border-top: 0;
      }
    }
    &.field-validation {
      top: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      margin-top: 10px;
      list-style-type: none;
    }
  }

  a {
    text-decoration: underline;
  }
}

.msg-error {
	background: #F2C6D3;
	color: $brand-main;

  &.balloon {
    &:before {
      border-top-color: #F2C6D3;
      border-bottom-color: #F2C6D3;
    }
  }
}
.popup.msg-error,
.popup > .msg-error {
  background: #f0f0f0;
}
#msg-popup {
  padding: 0;
  text-align: center;
  width: 300px;

  & > .msg {
    margin-bottom: 0;
  }
}

#site-top {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: 70px;
  position: relative;
  z-index: 100;
}

#site-logo {
  padding: 13px 0 0 13px;
  & > a {
    @include text-replace( '../img/sprite-mobile.png', 177px, 48px );
  }
}

#top-menu {
  display: none;
}

#site-footer {
  text-align: center;
}

#footer-bottom {
	background: #3a3a3a;
	color: #707070;
	font-size: 10px;
	line-height: 12px;
  padding: 10px;
	text-align: center;
	text-transform: uppercase;

	a {
		color: #9d9d9d;
		text-decoration: none;
	}
}
#switch-to-mobile {
  background: #111111;
  display: block;
  padding: 11px 0;

  & > a {
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    color: #ffffff;
  }
}

.sidebar-heading {
  background: $brand-main;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
	padding: 18px 50px 18px 8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .switch-cinema {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.sidebar-filter {
  height: 36px;
  line-height: 14px;
  padding: 10px 10px 8px;
  width: 100% !important;
}

.box0,
.box1,
.box2,
.mar1 {
  margin: 9px;
}
.box0,
.box1,
.pad1 {
  padding: 10px;
}
.box3 {
  padding: 20px;
}
.box0,
.box2,
.box1 {
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
}
.box3,
.box2,
.box1 {
  background: #ffffff;
}
.boxsec {
  background: $sec;
  color: #ffffff;
}

.mycinema-li {
}

.mycinema-item-specs {
  font-size: 12px;
  text-transform: uppercase;
  color: #a0a1a3;

  & > span {
    padding: 0px 8px 0 5px;
    border-right: 1px solid #f2f2f2;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}
.movie-details-cover {
  float: left;
  margin-right: 16px;
}
.mycinema-item-title {
  color: #303030;
  display: block;
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 12px;
  max-height: 48px;
  overflow: hidden;
  text-decoration: none;
}

.mycinema-variant {
  background: #f0f0f0;
  padding: 7px 10px;
  font-size: 11px;
  padding: 10px;
  text-transform: uppercase;
}
.mycinema-sessions {
  background: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  height: 60px;
  /*overflow: hidden;*/
  white-space: nowrap;

  &.icon.pad-left {
    padding-left: 60px;
    &:before {
      left: 19px;
    }
  }

  & > a {
    padding: 0 10px 0 12px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-left: 1px solid #f3f3f3;
    text-decoration: none;
    color: #606060;
  }
}

.sidebar-cinema-link {
    i {
        top:7px;
    }
}

.sessions-scroller {
  overflow-x: auto;
  overflow-y: hidden;
}
.sessions-scroll-bt {
  @include text-replace( '../img/sprite-mobile.png', 39px, 60px );
  position: absolute;
  top: 0;

  &.scroll-left {
    background-position: -236px 0;
    left: 0;
  }
  &.scroll-right {
    background-position: -187px 0;
    right: 0;
  }
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

.qty-selection {
  margin-bottom: 30px;
	position: relative;

	.qty-row,
	.qty-total-row {
		font-size: 17px;
		min-height: 44px;
		line-height: 22px;
		padding: 11px 16px;
		position: relative;
		margin-bottom: 3px;
		margin-right: 91px;
	}

	.qty-row {
		background: #ffffff;
		color: #555555;

		label {
			.ticket-price {
				font-size: 14px;
			}
		}
    .ticket-sep {
      color: #ccc;
      margin: 0 5px 0 5px;
    }

		&.focus {
			background: #d6d6d8;
		}
	}

	.number,
	input[type=number] {
		background: #ffffff;
		border: 1px solid #a4a4a4;
    border-radius: 0;
		color: #555555;
		display: block;
		font-size: 17px;
		height: 44px;
		position: absolute;
		right: -91px;
		text-align: center;
		top: 0;
		width: 90px;
		line-height: 22px;
		padding: 11px 20px;
	}

	.qty-total-row {
		background: $sec;
		color: #ffffff;

		.currency {
			color: #bcd2f0;
			position: absolute;
			right: 10px;
		}
	}

	.number-ctl {
    height: 44px;
		position: absolute;
    top: 0;
    width: 28px;

		&.icon-minusb {
			right: -30px;
		}
		&.icon-plusb {
			right: -90px;
		}

    &:before {
      left: 6px;
      position: relative;
      top: 11px;
    }
	}
}

.seats-ref {
	font-size: 12px;
	height: 60px;
	line-height: 58px;
	margin-top: -18px;
	text-align: center;
}

.btn-row {
  border: 0;
  padding-top: 0;
  text-align: center;
}

.movie-details-info {
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;

	& > dt,
	& > dd {
		display: inline;
	}
	& > dt {
		clear: both;
		color: $brand-main;
		&:after { content: ":"; }

		&.dt-row {
			display: block;
			margin-bottom: 3px;
		}
	}
	& > dd {
		&:after {
			content: "";
			display: block;
			margin-bottom: 6px;
		}
	}
}

.checkout-step-title {
  color: $sec;
  font-size: 16px;
  height: 62px;
  line-height: 42px;
  position: relative;
  padding-left: 56px;

  & > span {
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -15px;
    line-height: 26px;
    height: 30px;
    width: 30px;
    border: 2px solid $sec;
    border-radius: 100%;
    display: block;
    text-align: center;
  }
}

.checkout-summary {
  .side-box-cover {
    float: left;
    margin-right: 10px;
  }
}


.std-form {

	&.compact-form {
		.form-row {
			margin-bottom: 6px;
		}
	}
	&.no-cols {
		&, .form-row {
			margin-left: 0;
		}
	}
}
.form-row {
	margin: 10px 0 16px;
	position: relative;

  &:last-child {
    margin-bottom: 0;
  }

	&.quarter {
		width: 146px;
	}

	label {
		display: block;
		font-weight: 200;
		margin-bottom: 3px;
	}

  textarea,
	.std-form-select,
	select,
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number] {
		border: 1px solid #b7b7b7;
		border-radius: 3px;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
		height: 34px;
		line-height: 32px;
		padding: 0 12px;
		width: 100%;

		&.valid {
			border-color: #99d198;
		}
		&.error {
			background: #f2c6d3;
			border-color: #f2c6d3;
			color: $brand-main;

      &::-webkit-input-placeholder { color: #ffffff; }
      &:-moz-placeholder           { color: #ffffff; }
      &::-moz-placeholder          { color: #ffffff; }
      &:-ms-input-placeholder      { color: #ffffff; }
		}
		&:focus {
			border-color: $brand-main;
		}
		&.month-year {
			width: 69px;
		}
		&.year {
			position: absolute;
			right: 0;
		}
	}

  select {
    padding-right: 0;
  }

  textarea {
    height: 160px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// BEGIN Checkout
////////////////////////////////////////////////////////////////////////////////

.checkout-steps {
	position: relative;
}
.checkout-step {
	display: none;
}
#checkout-step-1 {
	display: block;
}

#theater-layout {
	background: url( '../img/theater-screen.png' ) 50% 0 no-repeat;
	margin-top: 34px;
  padding: 70px 0 50px;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}

#seats-layout {
	margin: 0 auto;

	.row-name {
		text-align: center;
		vertical-align: middle;
		width: 35px;

		&.first {
			padding-right: 10px;
			padding-left: 20px;
		}
		&.last {
			padding-right: 20px;
			padding-left: 10px;
		}
	}

	.seat {
		background: url( '../img/layout-seats.png' ) no-repeat;
		display: block;
		height: 27px;
		width: 25px;
	}
	.seat-0 {
		background-position: 50% 0;
		cursor: pointer;
	}
	.seat-1 {
		background-position: 50% -54px;
	}
	.seat-selected {
		background-position: 50% -27px;
	}
	.seat-E {
		background: none;
	}
  .seat-EE {
    height: 10px;
  }
}
.seats-ref {
	.seat {
		margin: 0 10px;
	}
	.seat:before {
		background: url( '../img/layout-seats.png' ) no-repeat;
		content: "";
		display: inline-block;
    height: 27px;
    margin-right: 6px;
    position: relative;
    top: 9px;
    width: 25px;
	}
	.seat-0:before {
		background-position: 50% 0;
	}
	.seat-1:before {
		background-position: 50% -54px;
	}
	.seat-selected:before {
		background-position: 50% -27px;
	}
}

.seats-scroll-bt.scroll-left,
.seats-scroll-bt.scroll-right {
  background: url( '../img/sprites.png' ) no-repeat;
  display: block;
  height: 49px;
  position: absolute;
  top: 50%;
  width: 25px;
  z-index: 10;
}
.seats-scroll-bt.scroll-right {
  background-position: -240px -86px;
  right: 0;
  &.disabled {
    background-position: -275px -86px;
  }
}
.seats-scroll-bt.scroll-left {
  background-position: -345px -86px;
  left: 0;
  &.disabled {
    background-position: -310px -86px;
  }
}
.seats-shadow {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;

  &.shadow-left {
    background: url( '../img/seats-scroll-sh-left.png' ) repeat-y;
    left: 0;
  }
  &.shadow-right {
    background: url( '../img/seats-scroll-sh-right.png' ) repeat-y;
    right: 0;
  }
}

.checkout-legend {
	font-size: 12px;
	margin: 24px 0;
}

.countdown {
	/*font-family: digital7,sans-serif;*/
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 1em;

	.sep {
		font-family: sans-serif;
		font-size: 20px;
		position: relative;
		top: -5px;
	}
}

#checkout-timeout {
	color: $brand-main;
	display: none;
  text-align: right;
	position: absolute;
	right: 20px;
	top: 9px;
  z-index: 1;

	.small {
		font-size: 10px;
    display:block;
    line-height:1;
	}
}

#order-success {
  padding: 24px;

	h1,
	h2 {
		font-size: 24px;
		font-weight: 200;
		line-height: 1em;
	}

	h1 {
		color: $sec;
		margin-bottom: 18px;
	}
	h2 {
		margin-bottom: 28px;
	}

	.order-codes {
		overflow: hidden;
		padding: 32px 0;

		.order-code {
			width: 100%;
      margin-top: 24px;
      display: block;
      text-align: center;

			&:first-child {
				padding-left: 0;
			}

			.legend {
				color: $sec;
				display: block;
				font-size: 15px;
				font-weight: 700;
				margin-bottom: 8px;
				text-transform: uppercase;
			}
			.code {
				background: #f5f5f5;
				display: block;
				font-size: 26px;
				font-weight: 700;
				height: 90px;
				padding: 0 36px;
				line-height: 90px;
			}
		}
	}
	.order-summary {
		padding: 32px 0;
		overflow: hidden;

		.movie-details-info {
			font-size: 14px;
			line-height: 18px;
			width: 170px;

		}
	}
}
.order-success-cover {
	display: none;
}


.no-btn {
  text-decoration: none;
  margin-right: 10px;
}

.disclaimer {
  margin-top: 30px;
  ul,ol,
  p {
    margin: 10px 0;
    font-size: 11px;
    line-height: 13px;
  }
  li { margin-left: 20px; }
}

.big-msg {
  background: #d9d9d9;
  padding: 40px 0 40px;
  text-align: center;

  .btn {
    width: 150px;
  }

  &.msg-timeout {
/*    background: {
      image: url( '../img/big-msg-timeout.png' );
      repeat: no-repeat;
      position: 50px 50%;
    }*/
    display: none;
  }

  p {
    margin-bottom: 1em;
  }
}
.big-msg-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0.5em !important;
}
.big-msg-msg {
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0;
}


////////////////////////////////////////////////////////////////////////////////
// Movie Single
////////////////////////////////////////////////////////////////////////////////
.content-box-subtitle,
.content-box-title {
  font-size: 22px;
  line-height: 24px;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 30px;
  margin-bottom: 14px;
  padding-bottom: 14px;

  &:first-child {
    margin-top: 0;
  }
}
.content-box-subtitle {
  color: #aaaaaa;
}
.content-box-title {
  color: $brand-main;
}

.content-text {
  font-size: 12px;
  line-height: 22px;
}


////////////////////////////////////////////////////////////////////////////////
// Location popup
////////////////////////////////////////////////////////////////////////////////

#location-popup {
  background: #ebebeb;
  .popup-close,
  .api-enabled { display: none; }
}
.location-popup-header {
  display: block;
  background: url( '../img/location-mobile-header.jpg' ) 50% top no-repeat;
  height: 146px;
  width: 150%;
  margin-left: -25%;
  margin-top: -30px;
  margin-bottom: 40px;
}
.location-popup {
	color: $grey;
  overflow: hidden;
  padding: 30px;
	text-align: center;

	.popup-title,
	.popup-subtitle {
		display: block;
	}

	.popup-title {
		font-size: 23px;
		line-height: 24px;
		font-weight: 700;
	}

	.popup-subtitle {
		font-size: 16px;
		margin: 26px 0;
		font-weight: 500;
	}

	.popup-small {
		font-size: 13px;
		line-height: 15px;
		margin-top: 26px;
	}

  select {
    height: 30px;
    margin-bottom: 10px;
    padding: 6px 3px 6px 10px;
  }

  .state-area-selection {
    margin-top: 30px;
  }
}
@media screen and (max-width: 479px) {
  .location-popup {
    select {
      width: 100%;
    }
  }
}
@media screen and (min-width: 480px) {
  .location-popup {
    select {
      width: 45%;
    }
  }
  .location-popup-header {
    background-image: url( '../img/location-mobile-header-l.jpg' );
    height: 90px;
  }
}

#location-form {
  position: relative;
  z-index: 0;
}

#location-api {
  display: none;

  .btn {
    margin-top: 24px;
  }
}
#location-results {
	display: none;
	margin: 0 auto;
	max-width: 368px;

	ul {
    list-style-type: none;
		text-align: left;

		& > li {
      background: #dddddd;
			color: $brand-main;
			cursor: pointer;
			margin: 0 0 1px 0;
      padding: 10px 10px 10px 38px;

      &:before {
        left: 9px !important;
      }
		}
	}
}
#location-error {
	display: none;
	margin-top: 20px;
	margin-bottom: 0;
}



.alt-list a {
  color: $sec;
}
.generic-list {
  list-style-type: none;

  & > li {
    border-top: 1px solid #eeeeee;
    &:first-child {
      border-top: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Login
////////////////////////////////////////////////////////////////////////////////

#login-popup {
	background: none;

	.popup-title {
		font-size: 17px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 20px;
	}
}
#login-popup-fb,
#login-popup-std {
	border-radius: 3px;
  margin: 10px;
	overflow: hidden;
	padding: 36px;
	text-align: center;
}
#login-popup-fb {
	background: #233762;
	color: #ffffff;
}
#login-popup-std {
	background: #ebebeb;
  /*padding-bottom: 120px;*/
	position: relative;

	.popup-bottom {
		background: #d3d3d3;
		font-weight: 500;
		padding: 20px 36px;
		position: absolute;
		left: 0;
		bottom: 0;
		text-align: left;
		width: 100%;

		&:before {
			right: 24px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.forgot-password {
		font-size: 12px;
		display: block;
		margin: 16px 0;
	}
}

.user-box {
  height: 48px;
  display: table;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  .avatar-48 {
    float: left;
    margin-right: 10px;
  }

  .small {
    font-size: 10px;
    margin-top: 3px;
    line-height: 11px;
    text-transform: uppercase;
  }
}


#goto-app-banner {
  background: #efefef;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: none;
  left: 0;
  width: 100%;
  position: fixed;
  height: 84px;
  padding: 20px 100px 10px 88px;
  font-size: 16px;
  line-height: 1.2em;
  z-index: 1000000;

  .goto-app-ico {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
    background: $brand-main;
    border-radius: 6px;

    &:before {
      background: url("../img/mobile/logo.svg");
      content: "";
      width: 54px;
      height: 54px;
      position: absolute;
      background-size: auto 54px;
      left: 6px;
      top: 5px;
    }
  }

  .goto-app-close,
  .goto-app-btn {
    position: absolute;
    right: 10px;
    width: 70px;
    text-align: center;
  }
  .goto-app-btn {
    top: 10px;
  }
  .goto-app-close {
    top: 54px;
    font-size: 0.75em;
  }
}