/* BEGIN Slider */
$slider-width		:	994px;
$slider-height	:	450px;

#home-slider {
	width: $slider-width;
	height: $slider-height;
	
	.slider-window {
		width: $slider-width;
		height: $slider-height;
		
		.slide {
			width: $slider-width;
			img { border-radius: 6px; }
		}
	}
	
	.slider-dots {
		position: absolute;
		bottom: 24px;
		right: 26px;
		
		a {
			background: #ffffff;
			border: 4px solid #ffffff;
			border-radius: 20px;
			display: inline-block;
			height: 20px;
			width: 20px;
			text-indent: -9999em;
			float: left;
			margin-right: 7px;
			
			&:hover {
				background: $seafoam;
			}
			&.selected {
				background: #185892;
			}
		}
	}
}
#product-slider {
	padding-bottom: 30px;
	
	&,
	.slider-window,
	.slide {
		width: 497;
		height: 290;
	}
	
	.slider-window {
		.slide {
			img { border-radius: 6px; }
		}
	}
	
	.slider-dots {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		
		a {
			border: 4px solid #ffffff;
			border-radius: 20px;
			display: inline-block;
			height: 20px;
			width: 20px;
			text-indent: -9999em;
			/*float: left;*/
			margin-right: 7px;
			
			&:hover {
				background: $seafoam;
			}
			&.selected {
				background: #ffffff;
			}
		}
		
		&.dots-all-meat-treats {
			a {
				background: $allmeat-logo;
				border-color: $allmeat-logo;
				
				&:hover { background: $allmeat-base; }
				&.selected { background: #ffffff; }
			}
		}
		&.dots-nutri-nosh {
			a {
				background: $nutrinosh-logo;
				border-color: $nutrinosh-logo;
				
				&:hover { background: $nutrinosh-base; }
				&.selected { background: #ffffff; }
			}
		}
		&.dots-chews {
			a {
				background: $chews-logo;
				border-color: $chews-logo;
				
				&:hover { background: $chews-base; }
				&.selected { background: #ffffff; }
			}
		}
		&.dots-handmade-treats {
			a {
				background: $handmade-logo;
				border-color: $handmade-logo;
				
				&:hover { background: $handmade-base; }
				&.selected { background: #ffffff; }
			}
		}
	}
}

#home-videos-carousel {
	position: relative;
	height: auto;
	
	.slider-nav {
		a {
			@include text-replace( '../img/sprite-2.png', 21px, 41px );
			position: absolute;
			top: 58px;
			margin-top: -8px;
			
			&.arrow-left {
				background-position: -65px 0;
				left: -10px;
			}
			&.arrow-right {
				background-position: -95px 0;
				right: -10px;
			}
		}
	}
	
	.slider-window {
		width: 656px;
		height: auto;
		/*overflow: hidden;*/
		
		.slide {
			position: relative;
		}
	}
	
	.slider-dots {
		position: absolute;
		bottom: 24px;
		right: 26px;
		
		a {
			background: #ffffff;
			border: 4px solid #ffffff;
			border-radius: 20px;
			display: inline-block;
			height: 20px;
			width: 20px;
			text-indent: -9999em;
			float: left;
			margin-right: 7px;
			
			&:hover {
				background: $seafoam;
			}
			&.selected {
				background: #185892;
			}
		}
	}
}

.slider {
	position: relative;
	
	.slider-nav {
		a {
			position: absolute;
			top: 50%;
			
			&.arrow-left {
				left: -10px;
			}
			&.arrow-right {
				right: -10px;
			}
		}
	}
	
	.slider-window {
		overflow: hidden;
		
		.slide {
			position: relative;
		}
	}
}
/* END Slider */
