/**
 * @outputFile ../css/style.css
 */

@import "utils";
@import "vars.scss";
@import "reset.scss";
@import "grid";
@import "btn.scss";
@import "icons.scss";
@import "magnific-popup.scss";


@font-face {
    font-family: 'digital7';
    src: url('../fonts/digital-7.mono-webfont.eot');
    src: url('../fonts/digital-7.mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7.mono-webfont.woff') format('woff'),
         url('../fonts/digital-7.mono-webfont.ttf') format('truetype'),
         url('../fonts/digital-7.mono-webfont.svg#digital-7mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

.color-brand-main {
  color: $brand-main;
}

.no-desktop,
.hidden {
  display: none !important;
}

.posrel {
  position: relative;
}

#featured-promos-holder img {
  width: 100%;
}

.row_4 {
  margin-left: -25px;
  .col {
    margin-left: 25px;
  }
}
.row_5 {
  margin-left: -21px;
  .col {
    margin-left: 21px;
  }
}

@media screen and (min-width:1040px) {
  .section-side-col,
  .section-main-col,
  .blog-main-col,
  .wide-main-col,
  .main-col,
  .blog-side-col,
  .narrow-side-col,
  .side-col {
    float: left;
    margin-right: 0;
  }

  .section-side-col {
    width: 540px;
  }
  .section-main-col {
    width: 330px;
    margin-left: 40px !important;
  }
  .box-half {
    width: 490px;
  }
  .box-1third {
    width: 151px;
  }
  .box-2thirds {
    width: 300px;
  }
}

.section-main-col {
  font-size: 13px;
  line-height: 18px;
  p {
    margin-top: 18px;
  }
  h1 {
    color: $brand-main;
    margin-top: 6px;
  }
}

html {
  overflow-y: scroll;
}

body {
  color: $grey;
  font: 14px/1.2em Roboto, sans-serif;

  &.sponsored {
    background: #000000;

    #main-body {
      background: #ffffff;
      padding-top: 19px;
      padding-bottom: 19px;
      margin-bottom: 81px;
    }
  }

  &.light-theme {
    background: #ffffff;
  }
}

a {
  color: $brand-main;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.clear { clear: both; }
.d-block { display: block; }

.align-center  { text-align: center; }
.align-left    { text-align: left; }
.align-right   { text-align: right; }
.align-justify { text-align: justify; }

select, std-form-select,
input, textarea {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
:-moz-placeholder {/* Firefox 18- */
  color: #cccccc;
  opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #cccccc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}
.location-custom-selectPlaceholder {
  color: #cccccc !important;
}

.avatar-64 {
  background: #f9f9f9;
  border-radius: 100%;
  height: 64px;
  overflow: hidden;
  width: 64px;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.msg {
  background: none repeat scroll 0 0 #F0F0F0;
  margin: 0 0 30px;
  padding: 12px 16px;

  & > p {
    margin-top: 12px;
    &:first-child { margin-top: 0; }
  }

  &.balloon {
    min-width: 180px;
    &:before {
      border-top: 6px solid;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -6px;
    }

    &.balloon-below {
      &:before {
        bottom: auto;
        top: -6px;
        border-width: 6px;
        border-style: solid;
        border-top: 0;
      }
    }
    &.field-validation {
      top: 100%;
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      margin-top: 10px;
      list-style-type: none;
    }
  }

  a {
    text-decoration: underline;
  }
}

.msg-error {
  background: #F2C6D3;
  color: $brand-main;

  &.balloon {
    &:before {
      border-top-color: #F2C6D3;
      border-bottom-color: #F2C6D3;
    }
  }
}
.popup.msg-error,
.popup > .msg-error {
  background: #f0f0f0;
}

.error-page-msg {
  background: url( '../img/error-page-bg.gif' ) right top no-repeat;
  min-height: 336px;
  position: relative;

  .big-msg {
    min-height: 336px;
    padding: 60px 90px 0;
    width: 555px;
    text-align: left;
  }
}
.big-msg {
  background: #d9d9d9;
  padding: 60px 40px 80px 314px;
  text-align: center;

  .btn {
    width: 150px;
  }

  &.msg-timeout {
    background: {
      image: url( '../img/big-msg-timeout.png' );
      repeat: no-repeat;
      position: 50px 50%;
    }
    display: none;
  }

  p {
    margin-bottom: 1em;
  }
}
.big-msg-title {
  color: #ffffff;
  font-size: 76px;
  font-weight: 500;
  line-height: 1em;
}
.big-msg-msg {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin: 30px 0;
}

.line-01-top {
  background: url( '../img/line-01-h.gif' ) 0 0 repeat-x;
}
.line-01-bottom {
  background: url( '../img/line-01-h.gif' ) 0 bottom repeat-x;
}
.line-01-left {
  background: url( '../img/line-01-v.gif' ) left 0 repeat-y;
}
.line-01-right {
  background: url( '../img/line-01-v.gif' ) right 0 repeat-y;
}


.std-table {
  margin: 18px 0;
  width: 100%;

  thead th {
    background: #efefef;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  td {
    padding: 10px;
  }
  tr:nth-child( 2n + 1 ) td {
    background: #fbfbfb;
  }
}

.tooltip {
  background-color: $brand-main;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  left: 875px;
  padding: 5px 14px 7px;
  position: absolute;
  top: 812px;
  z-index: 100;

  &:after {
    border-top: 7px solid $brand-main;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: -7px;
    content: "";
    left: 50%;
    margin-left: -7px;
    position: absolute;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 19px;
}


#site-header {
  background: #373737;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;

  .btn {
    height: 33px;
    line-height: 33px;
  }
  .btn, .std-form-select {
    vertical-align: middle;
    position: relative;
  }
  select {
    height: 33px;
  }
}

#top-menu {
  height: 30px;
  line-height: 30px;
}
.top-announce {
  height: 42px;
  line-height: 42px;

  .ann-btns,
  .ann-msg  { float: left; }
  .ann-close,
  .ann-btns > a {
    margin-left: 14px;
  }
  .ann-close {
    @include text-replace('../img/sprites.png', 23px, 23px, -594px, 0);
    float: right;
    margin-top: 10px;
  }
}
#top-menu,
.top-announce {
  &, a {
    color: #ffffff;
  }
}
#top-menu {
  background: $brand-main;
  font-size: 12px;
  text-align:center;

  .discicon {
    margin-left: 4px;
    top: 3px;
  }

  & > ul {
    list-style-type: none;
    position: relative;
    width:auto;

    & > li {
      display: inline-block;
      margin: 0 7px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.social-icons {
        float: right;
      }

      & > a {
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
.top-announce {
  background: $grey;
  text-align: center;
}

#top-search {
  bottom: 0;
  position: absolute;
  right: 19px;

  .icon-search {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;

    &.loading {
      &:before {
        background: url('../img/spinner-lightredbg.gif') 50% 50% no-repeat !important;
      }
    }
  }
}
#top-search-input {
  background: $brand-main;
  border: 1px solid #ffffff;
  color: #FFFFFF;
  height: 34px;
  padding: 0 6px;
  width: 150px;
  transition: all ease 0.35s;
  -webkit-transition: all ease 0.35s;

  &::placeholder { color: #ffffff; opacity: 1; }
  &::-moz-placeholder { color: #ffffff; opacity: 1; }

  &.open {
    background: #f15881;
    width: 230px;
  }
}
#top-search-results {
  background: #ffffff;
  display: none;
  padding: 1px;
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 100;
  width: 230px;

  & > ul {
    list-style-type: none;

    & > li {
      background: #ededed;
      margin-top: 1px;
      display: block;
      font-size: 13px;
      line-height: 14px;
      width: 100%;
      display: table;

      &:first-child {
        margin-top: 0;
      }
      & > a {
      padding: 10px 14px 10px 56px;
        height: 65px;
        color: #707070;
        vertical-align: middle;
        display: table-cell;
        position: relative;

        & > img {
          top: 10px;
          left: 14px;
          position: absolute;
          vertical-align: middle;
        }

        &:hover {
          background: #f0f0f0;
          text-decoration: none;
        }
      }
    }
  }

  .no-results {
    background: #ededed;
    text-align: center;
    color: #707070;
  }
}

#header-logo-area {
  min-height: 74px;
  padding-top: 21px;
  position: relative;
}

#site-logo a {
  @include text-replace( '../img/sprites.png', 166px, 43px );
  left: 19px;
  margin-top: -23px;
  position: absolute;
  top: 50%;
}

#light-theme-logo {
  @include text-replace( '../img/mobile/logo.svg', 150px, 40px );
  background-size: 150px auto;
  margin: 10px 10px 40px;
}
@media screen and (max-width: 512px) {
  #light-theme-logo {
    margin: 10px auto;
  }
}

@-webkit-keyframes btn-search-hover {
  0%   { background:#d0033d; }
  25%  {  }
  50%  { background:lighten(#d0033d, 7%); }
  75%  {  }
  100% { background:#d0033d; }
}
@-moz-keyframes btn-search-hover {
  0%   { background:#d0033d; }
  25%  {  }
  50%  { background:lighten(#d0033d, 7%); }
  75%  {  }
  100% { background:#d0033d; }
}
@-o-keyframes btn-search-hover {
  0%   { background:#d0033d; }
  25%  {  }
  50%  { background:lighten(#d0033d, 7%); }
  75%  {  }
  100% { background:#d0033d; }
}
@keyframes btn-search-hover {
  0%   { background:#d0033d; }
  25%  {  }
  50%  { background:lighten(#d0033d, 7%); }
  75%  {  }
  100% { background:#d0033d; }
}

#header-area {
  left: 300px;
  margin-right: 100px;
  position: absolute;
  text-align: center;
  top: 21px;

  .std-form-select,
  select {
    width: 200px;
  }
  .std-form-select {
    border: 0;
    box-shadow: 0 2px 0 #707070;
    height: 33px;
    text-align: left;
  }

  button {
    -webkit-animation: btn-search-hover 2s infinite; /* Safari 4+ */
    -moz-animation:    btn-search-hover 2s infinite; /* Fx 5+ */
    -o-animation:      btn-search-hover 2s infinite; /* Opera 12+ */
    animation:         btn-search-hover 2s infinite;
    position:relative;
  }
}
#header-user {
  position: absolute;
  right: 19px;
  top: 21px;
}
#header-user-login {

}
#header-user-info {
  text-align: right;

  .user-name {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}
#header-user-info .user-name,
#header-user-avatar,
#header-user-bt {
  display: inline-block;
  vertical-align: middle;
}
#header-user-avatar {
  height: 33px;
  width: 33px;
  border-radius: 3px;
  margin-right: 11px;
}
#header-user-bt {
  border-left: 1px solid #696969;
  height: 23px;
  margin-left: 14px;
  padding-left: 8px;
}
#header-user-menu {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 3px;
  position: absolute;
  right: -19px;
  text-align: left;
  top: 44px;
  z-index: 10;

  &:before {
    border-bottom: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -7px;
    right: 25px;
    content: "";
    position: absolute;
  }

  & > a {
    color: #757575;
    display: block;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    padding: 0 24px;

    &:before {
      left: 4px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }

    &:hover {
      background: $brand-main;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#site-footer {
  background: url( '../img/footer-bg.jpg' ) no-repeat 50% 0;
  background-size: cover;
  position: relative;
}

#footer-cols {
  color: #eaeaea;
  display: table;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-col {
  border-right: 1px solid #59595b;
  display: table-cell;
  padding: 0 25px;
  vertical-align: middle;
  text-align: center;
  width: .5%;

  &:last-child {
    border-right: 0;
  }

  img {
    display: inline-block;
  }
}

.logo-footer {
  background: url( '../img/sprites.png' ) no-repeat;
  display: block;
  margin: 18px auto;
  text-indent: -9999em;

  &.logo-cinemex-phone {
    background-position: -396px -53px;
    height: 60px;
    width: 166px;
  }

  &.logo-google-play {
    background-position: -240px -25px;
    height: 20px;
    width: 80px;
  }

  &.logo-itunes {
    background-position: -240px -53px;
    height: 23px;
    width: 80px;
  }

  &.logo-cinemex {
    background-position: -240px 0;
    height: 13px;
    width: 80px;
  }

  &.logo-conciencia {
    background-position: -330px 0;
    height: 43px;
    width: 56px;
  }

  &.logo-canacine {
    background:url(../img/logo-canacine-new.png) no-repeat 0 0;
    height: 43px;
    width: 81px;
  }

  &.logo-mmcinemas {
    background-position: -396px 0;
    height: 43px;
    width: 75px;
  }

  &.logo-cineguru {
    background: url(../img/footer-cineguru.png) no-repeat;
    height: 23px;
    width: 83px;
  }

  &.logo-windows {
    background: url(../img/badge-windows-store.png) no-repeat;
    height: 25px;
    width: 95px;
  }
}

#footer-phones {
  ul {
    list-style-type: none;
    margin-top: 14px;
  }

  li {
    margin-top: 8px;
  }
}

#footer-internals {
  a {
    display: inline-block;
    margin: 15px 0;
  }
}

#footer-links {
  font-size: 11px;
  line-height: 1.25;
  color: #4f4f4f;
  padding-left: 35px;
  text-align: left;
  width: 1%;

  ul {
    list-style:none;
  }

  li {
    margin:8px 0;
  }

  a {
    color: #eaeaea;
  }

  .featured {
    margin-top: 5px;

    a {
      padding: 3px 5px 5px;
      animation: btn-search-hover 2s infinite;
    }
  }
}

#footer-logos {
  text-align: center;
  padding:0 5px;

  .logo-footer {
    display: inline-block;
    margin: 5px 15px;
  }
}

#footer-social-links {
  width: .1%;

  ul {
    list-style-type: none;
  }

  li {
    margin: 10px 0;
  }
}

#footer-mobile-links {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;

  .logo-footer {
    margin: 10px auto 0;
  }
}

#footer-bottom {
  background: #3a3a3a;
  color: #707070;
  font-size: 10px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  a {
    color: #9d9d9d;
    text-decoration: none;
    display:inline-block;
  }

  .wrapper {
    margin:0;
    padding:0;
    width:100%;
  }

  .col {
    background:#3A3A3A;
    float:none;
    padding:7px 25px 5px;
    text-align:center;
    width:100%;
  }

  .col-buttons {
    background:black;

    a {
      margin:0 0 0 20px;
      vertical-align:middle;
    }
  }
}

#switch-to-mobile {
  display: none;
}

@media screen and (max-width: 560px) {
  #switch-to-mobile {
    background: #111111;
    display: block;
    padding: 11px 0;

    & > a {
      font-size: 13px;
      font-weight: 500;
      text-transform: none;
      color: #ffffff;
      &:before {
        content: "";
        @include text-replace('../img/sprites.png', 12px, 24px, -572px, 0);
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

#main-body {
  margin-top: 146px;
  padding-bottom: 100px;
}

.no-movies {
  background: url( '../img/no-movies.gif' ) 50% 0 no-repeat;
  height: 406px;
  padding-top: 60px;
  text-align: center;
  width: 673px;
}
.movies-grid {
  margin-top: -20px;

  &.clear-on-4 {
    .movies-grid-item:nth-child( 4n + 1 ) {
      clear: both;
    }
  }
  &.clear-on-6 {
    .movies-grid-item:nth-child( 6n + 1 ) {
      clear: both;
    }
  }
}
.movies-grid-item {
  margin-top: 20px;
  position: relative;

  &:hover {
    .movies-grid-cover {
      &:before {
        opacity: 1;
      }
    }
  }
}
.movies-grid-cover {
  background: #eeeeee;
  display: block;
  margin-bottom: 4px;
  position: relative;

  & > img {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    height: 230px;

    &:before {
      background: rgba(255, 250, 250, 0.85);
      border: 3px solid $brand-main;
      box-sizing: border-box;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all ease 0.35s;
      -webkit-transition: all ease 0.35s;
      width: 100%;
    }
  }

}
.movies-grid-title {
  color: #5a5a5a;
  display: block;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover { color: $brand-main; text-decoration: none; }
}
.movie-poster-ribbon {
  background: url( '../img/sprites.png' ) no-repeat;
  display: block;
  left: 5px;
  position: absolute;
  text-indent: -9999em;
  top: -4px;

  &.ribbon-new,
  &.ribbon-preview,
  &.ribbon-rerelease,
  &.ribbon-pre,
  &.ribbon-tour-de-cine,
  &.ribbon-exclusive,
  &.ribbon-festivales,
  &.ribbon-classics {
    height: 87px;
    width: 86px;
    z-index: 1;
  }
  &.ribbon-new {
    background-position: 0 -86px;
  }
  &.ribbon-preview {
    background-position: -335px -150px;
  }
  &.ribbon-rerelease {
    background-position: -431px -150px;
  }
  &.ribbon-pre {
    background-position: -240px -150px;
  }
  &.ribbon-exclusive {
    background-position: -527px -150px;
  }

  &.ribbon-3d,
  &.ribbon-x4d {
    height: 54px;
    width: 54px;
  }
  &.ribbon-3d {
    background-position: -96px -86px;
  }
  &.ribbon-x4d {
    background-position: -160px -86px;
  }
  &.ribbon-gg {
    background: url( '../img/golden-globe.png' ) 0 0 no-repeat;
    height: 120px;
    width: 120px;
  }
  &.ribbon-oscars {
    background:url('../img/ribbon-oscars.png') 0 0 no-repeat;
    height:120px;
    width:120px;
    z-index:2;
  }
  &.ribbon-winner {
    background:url('../img/ribbon-winner.png') 0 0 no-repeat;
    height:120px;
    width:120px;
    z-index:2;
  }
  &.ribbon-tour-de-cine {
    background:url(../img/ribbon-tour-de-cine.png);
  }
  &.ribbon-festivales {
    background:url(../img/ribbon-festivales.png);
  }

  &.ribbon-classics {
    background:url(../img/ribbon-classics.png);
  }
}

.ribbon-classics + .ribbon-new {
  display:none;
}

.tab-content-presales {
  .ribbon-pre {
    z-index:0;
  }
}

.movie-poster-bt {
  $default-zindex: 3;

  border-radius: 94px;
  box-shadow: 0 5px 0 rgba(0,0,0,0.35);
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  height: 94px;
  line-height: 14px;
  left: 50%;
  margin-left: -47px;
  opacity: 0;
  padding-top: 33px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transition: all ease 0.35s;
  -webkit-transition: all ease 0.35s;
  width: 94px;

  &.buy-tickets-bt {
    background: $brand-main;
    border: 4px solid #bb1a48;
    color: #ffffff;
    padding-top: 29px;
    top: 30px;
    z-index:($default-zindex + 1);
  }

  &.watch-trailer-bt {
    background: #707070;
    color: #282828;
    top: 110px;
  }

  &:hover {
    z-index:($default-zindex + 2);
    text-decoration: none;
  }
}
.movies-grid-item:hover {
  .movie-poster-bt {
    opacity: 1;
  }
}
.movies-grid-item.hover1 {
  .watch-trailer-bt {
    top: 70px;
  }
}
.ingrid-trailer {
  clear: both;
  margin-left: 9px;
  padding-top: 26px !important;
  padding-bottom: 36px !important;
  position: absolute !important;
  top: 288px;
  width: 673px;

  &.col-1:before { left: 68px !important; }
  &.col-2:before { left: 232px !important; }
  &.col-3:before { left: 406px !important; }
  &.col-4:before { left: 580px !important; }
  &.col-5:before { left: 758px !important; }
  &.col-6:before { left: 931px !important; }

  &.cols-6 { width: 1019px; }

  .ingrid-title {
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    line-height: 20px;
    margin-bottom: 22px;
    padding: 14px 0 12px 0;
  }
  .ingrid-movie-title {
    color: #D0033D;
    display: block;
    font-size: 20px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
    white-space: nowrap;
  }
  .ingrid-btns {
    position: absolute;
    right: 36px;
    top: 43px;

    & > .btn { margin-left: 6px; }
  }
}

.cinemas-grid-item,
.news-grid-item {
  & > a { position: relative; display: block; }
  h1, h2 {
    display: table;
    width: 100%;

    & > a {
      background: #efefef;
      color: #707070;
      display: table-cell;
      height: 82px;
      vertical-align: middle;
      width: 100%;

      &:hover { text-decoration: none; }
    }
  }
}
.news-grid-item {
  &:hover {
    & > a:after {
      background: $brand-main;
      background: rgba(204,29,79,0.8);
      border-radius: 100%;
      color: #ffffff;
      position: absolute;
      content: "Leer\A nota";
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 14px;
      font-weight: 700;
      height: 57px;
      left: 50%;
      line-height: 14px;
      margin-left: -43px;
      padding-top: 29px;
      text-align: center;
      text-transform: uppercase;
      top: 74px;
      white-space: pre;
      width: 86px;
    }
  }
}
.news-grid-detrasdelamagia:hover > a:after {
  content:"Ver\A notas";
}
.cinemas-grid-item {
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &:hover,
  &.selected {
    .cinemas-grid-title > a {
      background: $brand-main;
      color: #ffffff;
    }
  }
  &.selected {
    &:before {
      border-top: 7px solid $brand-main;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -7px;
    }
  }
}
.cinemas-grid-title > a {
  font-size: 16px;
  line-height: 17px;
  padding: 0 24px;
  text-align: center;
}

#promos-archive,
#news-archive {
  margin-top: -25px;
}
.promos-grid-item,
.news-grid-item {
  margin-top: 25px;
}
.news-grid-item {
  img {
    display: block;
    width: 100%;
  }

  &.featured {
    position: relative;
    .news-grid-title {
      bottom: 0;
      position: absolute;

      & > a {
        background: rgba( 0,0,0,0.75 );
        color: #ffffff;
      }
    }
  }

  &:hover {
    a {
      color: $brand-main;
    }
  }
}
.news-grid-title > a {
  font-size: 14px;
  line-height: 17px;
  padding: 0 24px;
  text-transform: uppercase;
}

.promos-grid-item {
  position: relative;

  &:nth-child( 5n + 1 ) { clear: both; }
}
.ingrid-promo {
  background: #efefef;
  left: -286px;
  padding: 46px 26px !important;
  position: absolute !important;
  top: 250px;
  width: 1019px;


  &.col-1 { left: -25px };
  &.col-2 { left: -286px };
  &.col-3 { left: -547px };
  &.col-4 { left: -808px };
  &.col-5 { left: -1069px };
  &.col-1:before { left: 106px !important; }
  &.col-2:before { left: 367px !important; }
  &.col-3:before { left: 628px !important; }
  &.col-4:before { left: 889px !important; }
  &.col-5:before { left: 1150px !important; }

  .ingrid-content {
    float: right;
    width: 278px;
    font-size: 13px;
    line-height: 18px;
  }

  .ingrid-img {
    float: left;
    margin-right: 19px;
  }

  .ingrid-title {
    color: $brand-main;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .ingrid-subtitle {
    color: #555555;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }

  .ingrid-label {
    color: #555555;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

#page-bottom {
  background: #eaeaea;
  margin-bottom: -60px;
  padding: 90px 0;
}

.bottom-box {
  margin-bottom: 60px;
}

#breadcrumb {
  font-size: 13px;
  height: 38px;
  line-height: 36px;
  list-style-type: none;
  margin-bottom: 35px;
  text-transform: uppercase;

  & > li {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:before {
      content: "\00BB";
      margin: 0 6px 0 6px;
    }
    & > a {
      color: #707070;
    }
    &:first-child {
      &:before { display: none; }
    }
    &:last-child {
      & > a { color: $brand-main; }
    }
  }
}
.heading-title,
.bottom-title {
  color: #5a5a5a;
  display: block;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
  line-height: 42px;
  margin-bottom: 22px;
  position: relative;
  text-transform: uppercase;

  .discicon {
    top: 4px;
    margin-right: 4px;
  }
}
#breadcrumb,
.bottom-title {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.bottom-box-top {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
}


#overflow-ctl {
  &.control {
    position: fixed !important;
    width: 100%;
  }
  &.tour {
    position: absolute !important;
    width: 100%;
  }
}

.blockui {
  background: rgba( 255,255,255,0.5 );
  bottom: 0;
  cursor: wait;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width:  100%;
  z-index: 50;

  &.loading {
    background: {
      color: rgba( 0,0,0,0.5 );
      image: url( '../img/spinner-fff-8d8d8d.gif' );
      repeat: no-repeat;
      position: 50% 50%;
    }
  }

  &.no-bg {
    background: transparent;
  }
}

#popups {
  background: #000000;
  background: rgba( 0,0,0,0.75 );
  bottom: 0;
  display: table;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#popups-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.popup {
  background: #ebebeb;
  display: inline-block;
  margin: 40px 0;
  position: relative;
  text-align: left;
}
.popup-close {
  position: absolute;
  right: -1px;
  top: -20px;
}

.popup-loading-txt {
  color: $brand-main;
  background: url( '../img/spinner-eb-redbg.gif' ) left 50% no-repeat;
  padding: 10px 0 10px 30px;
  min-height: 30px;
  margin-top: 30px;
  display: inline-block;
  line-height: 16px;
  font-weight: 500;
  font-size: 16px;
}

#pre-checkout-popup {
  background: transparent;
  width: 554px;

  .popup-panel {
    background: #ebebeb;
    border-radius: 4px;
    overflow: hidden;
    padding: 34px;
  }

  .popup-top {
    padding-top: 112px;
    margin-bottom: 12px;

    .popup-title {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 26px 34px;
    }
  }

  .popup-title {
    color: $brand-main;
    font-size: 17px;
    font-weight: 500;
  }

  .popup-bottom {
    height: 82px;
    line-height: 38px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .popup-btns,
  .btn {
    width: 150px;
  }
  .popup-btns {
    float: right;

    .btn {
      margin-bottom: 16px;
    }
  }
  .register-benefits {
    float: left;
    width: 310px;
  }
}

.register-benefits {
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;

  & > li {
    background: url( '../img/blue-tick.png' ) 0 3px no-repeat;
    padding-bottom: 16px;
    padding-left: 30px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

#msg-popup {
  padding: 0;
  text-align: center;
  width: 380px;

  & > .msg {
    margin-bottom: 0;
  }
}

#location-popup {
  padding: 40px;
  width: 500px;
}
#location-sidebar {
  overflow: hidden;
  margin-top: 0;
  padding: 24px;
  width: 100%;
}
.location-popup {
  color: $grey;
  text-align: center;

  .popup-title,
  .popup-subtitle {
    display: block;
  }

  .popup-title {
    font-size: 23px;
    line-height: 24px;
    font-weight: 700;
  }

  .popup-subtitle {
    font-size: 16px;
    margin: 26px 0;
    font-weight: 500;
  }

  .popup-small {
    font-size: 13px;
    line-height: 15px;
    margin-top: 26px;
  }
}

.or-sep {
  background: url( '../img/line-01-h.gif' ) 0 50% repeat-x;
  display: block;
  margin: 20px 0 10px;

  & > .or {
    background: #ebebeb;
    padding: 0 6px;
  }
}

.location-popup-header {
  border-bottom: 1px solid #ffffff;
  display: block;
}
.location-popup-arrow {
  @include text-replace( '../img/location-arrow.png', 53px, 86px );
  position: absolute;
  left: -60px;
  top: -90px;
  display: none;
}
#location-popup {
  margin: 100px 0;
  .popup-title {
    margin-bottom: 22px;
  }
  .location-popup-header {
    background: url( '../img/location-popup-header.png' ) 50% 0 no-repeat;
    height: 122px;
    margin: -56px -40px 40px;
    width: 500px;
  }
  .api-enabled { display: none; }
}
#location-sidebar {
  .location-popup-header {
    background: url( '../img/location-sidebar-header.jpg  ' ) 50% 0 no-repeat;
    height: 106px;
    margin: -24px -24px 40px;
    width: 327px;
  }
  .popup-title {
    font-size: 18px;
    line-height: 20px;
    margin: -16px 0 22px;
  }
}
#location-form,
#location-form-side {
  position: relative;
  z-index: 0;
}
#location-form {
  .half {
    width: 202px;
    float: left;
    margin-left: 16px;

    &:first-child {
      margin-left: 0;
    }
  }
  .location-select {
    text-align: left;
    width: 202px !important;
    font-size:16px;
    padding-left:12px;
    color:#444;
  }

  .location-custom-selectPlaceholder {
    color:#999!important;
  }

/*  .location-select,
  .location-input {
    margin: 22px 0;
  }*/
}
.std-field-ac {
  background: #ffffff;
  border: 1px solid #eeeeee;
  display: none;
  max-height: 160px;
  overflow-y: auto;

  .ac-no-results,
  & > a {
    padding: 7px 10px;
  }

  & > a {
    border-top: 1px solid #eeeeee;
    cursor: pointer;
    display: block;

    &:hover {
      text-decoration: none;
    }
    &:first-child {
      border-top: 0;
    }
  }

  & > a.hover {
    background: $brand-main;
    color: #ffffff;
    text-decoration: none;
  }
}
.location-input-ac {
  background: #ffffff;
  border: 1px solid #eeeeee;
  position: absolute;
  max-height: 160px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;

  .ac-no-results,
  & > a {
    padding: 7px 10px;
  }

  & > a {
    border-top: 1px solid #eeeeee;
    cursor: pointer;
    display: block;

    &:hover {
      text-decoration: none;
    }
    &:first-child {
      border-top: 0;
    }
  }

  & > a.hover {
    background: $brand-main;
    color: #ffffff;
    text-decoration: none;
  }

  .popup-small {
    font-size:14px;
    font-weight:700;
    line-height:1.5;
  }
}
#location-form-side {
  .half {
    width: 279px;
    margin: 6px 0;
  }
  .location-select {
    text-align: left;
    width: 279px !important;
  }
  .location-input {
    margin: 6px 0 20px 0;
  }
  .or-sep {
    margin: 16px 0;
  }
}

#location-api {
  display: none;

  .btn {
    margin-top: 24px;
  }
}

.location-custom-selectInner {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  line-height: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.location-select,
.location-input {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0 20px;
  font-size: 15px;
}

#location-results {
  display: none;
  margin: 0 auto;
  max-width: 368px;

  ul {
    list-style-type: none;
    text-align: left;

    & > li {
      background: #dddddd;
      color: $brand-main;
      cursor: pointer;
      margin: 0 0 1px 0;
      padding: 10px 10px 10px 38px;

      &:before {
        left: 9px !important;
      }
    }
  }
}
#location-error {
  display: none;
  margin-top: 20px;
  margin-bottom: 0;
}
#location-alts {
  margin: 30px auto 0;
  width: 300px;

  .btn {
    margin-top: 10px;
    width: 100%;
  }
}

.file-tabs {
  border-bottom: 1px solid #e3e3e3;
  height: 38px;
  list-style-type: none;
  margin-bottom: 28px;
  margin-top: 8px;

  & > li {
    display: inline-block;
    margin-left: 0 !important;
    text-align: center;
    min-width:145px;
  }

  .tab {
    background: #e8e8e8;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    color: #333333;
    display: block;
    font-size: 13px;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    padding:0 12px;

    &:hover {
      background: #f0f0f0;
      text-decoration: none;
    }
    &.selected {
      background: #ffffff;
      border-bottom: 1px solid #ffffff;
      color: $brand-main;
    }
  }
}


#billboard-filters {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  height: 38px;
  line-height: 36px;
  margin: 28px 0;
  position: relative;
  z-index: 0;
}
.billboard-options,
.billboard-filters {
  height: 36px;
}

.billboard-filters {
  list-style-type: none;
  font-size: 13px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: #4c4c4c;
  }

  & > li {
    display: inline-block;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &.compact {
    float: right;

    & > li {
      margin: 0 10px;
    }
  }
}
.billboard-options {
  float: left;
  margin-right: 10px;
}
.billboard-options-select {
  background: none repeat scroll 0 0 #EFEFEF;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  display: inline-block;
  font-size: 13px;
  height: 36px;
  padding: 0 30px;
  width: 100%;
}
.billboard-options-selectInner {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


.content-box-bg,
.content-box {
  border: 1px solid #EFEFEF;
  padding: 36px;
}
.content-box-bg {
  background: #e0e0e0;

}
.content-box-title {
  border-bottom: 1px solid #d8d8d8;
  color: $brand-main;
  font-size: 25px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 18px;
  padding-bottom: 18px;
  /*padding-top: 6px;*/
}

.content-box-subtitle {
  border-bottom:1px solid #d5d5d5;
  //color:#d0033d;
  font-size:20px;
  margin-top:40px;
  padding-bottom:12px;
}


.btn.side-head {
  width: 100%;
}

.collapsable-list,
.collapsable-sublist {
  list-style-type: none;
}
.collapsable-list {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;

  & > li {
    border-top: 1px solid #e0e0e0;
    margin-left:0!important;
    margin-bottom:0!important;

    .sidebar-filter {
      height: 45px;
      line-height: 44px;
      margin-bottom: 0;
    }

    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 1px solid #e0e0e0;
    }

    & > .collapsable-anchor {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      padding: 0 27px;
      position: relative;

      &.selected {
        background: #EFEFEF;
        color: $brand-main;
        @include icon-sprite( 9, 3, 24, 24 );
      }

      &:before {
        background: url( '../img/icons-small-sprite.png' ) no-repeat;
        content: "";
        height: 14px;
        margin-top: -7px;
        position: absolute;
        right: 26px;
        top: 50%;
        width: 14px;
      }
      @include icon-sprite( 10, 3, 24, 24 );
    }
  }
}
.collapsable-sublist {
  display: none;
  background: #EFEFEF;
  padding: 0 27px 27px;

  & > li > a {
    background: #FBFBFB;
    color: #7f7f7f;
    display: block;
    height: 32px;
    line-height: 32px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 0 13px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: #f0f0f0;
      text-decoration: none;
    }
    &.selected {
      background: $brand-main;
      color: #ffffff;
    }
  }
}

/*#sidebar-mycinema {
  position: relative;
  z-index: 0;
}*/

#side-tooltip {
  background: #666666 url( '../img/ticket-icon.gif' ) 10px 50% no-repeat;
  color: #ffffff;
  font-size: 15px;
  height: 46px;
  line-height: 46px;
  margin-bottom: 28px;
  padding: 0 10px 0 40px;
  position: relative;
  text-align: center;

  &:after {
    border-top: 8px solid #666666;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
  }
}

#sidebar-selects {
  display: none;
}

.sidebar-heading {
  background: $brand-main;
  color: #ffffff;
  padding: 22px 14px 12px;
  position: relative;

  .switch-cinema {
    margin-top: 20px;
    width: 100%;
  }

  &.platinum {
    background: #000000;
  }
}
.sidebar-heading-alt {
  background: $sec;
  color: #ffffff;
  display: block;
  line-height: 16px;
  padding: 15px 16px;
  position: relative;

  &:before {
    border-top: 6px solid $sec;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: -6px;
    content: "";
    left: 21px;
    position: absolute;
    z-index: 2;
  }

  &.no-tip:before { display: none; }
  &:hover { text-decoration: none; }

  .switch-cinema {
    border-top: 1px solid #6193ce;
  }
}
.sidebar-heading-alt {
  .switch-cinema {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-top: 10px;
  }
}
.sidebar-title {
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.sidebar-title-alt {
  display: block;
}

.switch-state {
  background: #a0133b;
  color: #ffffff;
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 14px;
  position: relative;
  z-index: 1;

  &:before {
    right: 14px !important;
  }
  &:hover {
    text-decoration: none;
  }
}

.sidebar-filters {
  border: 1px solid #cdcdcd;
  padding: 14px;
  position: relative;
  z-index: 0;

  .msg {
    margin-bottom: 0;
  }
}

.sidebar-filter,
.filter-toggle {
  background: #f7f7f7;
  color: #343434;
  display: block;
  font-size: 13px;
  height: 36px;
  line-height: 36px;

  &.sidebar-custom-selectHover,
  &:hover {
    background: #f0f0f0;
    text-decoration: none;
  }
}
.sidebar-filter {
  margin-bottom: 4px;
  padding: 0 60px 0 16px;
  width: 100% !important;
  &.icon:before {
    right: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebar-toggles {
  list-style-type: none;
  overflow: hidden;

  & > li {
    float: left;
    margin-left: 4px;
    width: 96px;

    &:first-child {
      margin-left: 0;
      width: 97px;
    }
  }

  .filter-toggle {
    text-align: center;
    text-transform: uppercase;

    &.selected {
      border: 1px solid $brand-main;
      line-height: 34px;
      background: transparent;
      color: $brand-main;
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
      &:hover {
        background :#f7f7f7;
      }
    }
  }
}

.sidebar-custom-select {
  z-index: -1;
}

.sidebar-cinema-link {
    margin:0 0 4px;

    .btn {
        display:block;
    }

    .icon-platinum,
    .icon-cinemex {
        left:-4px;
        top:7px;
    }
}

.mycinema-list {
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  margin-bottom: 18px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px 16px 3px;
}
.mycinema-alt-list {
  background: none;

  .mycinema-li {
    /*border-top-color: #d8d8d8;*/
    padding: 20px 0;
    &:hover {
      background: #efefef;
      padding: 21px 15px 22px;
    }
  }

  .mycinema-item-title {
    color: $sec;
    font-weight: 400;
  }
}

.sidebar-nosessions {
  background:#efefef;
  font-size:14px;
  line-height:18px;
  margin:12px 0;
  padding:16px 0;
  text-align:center;
}

.sidebar-datepicker {
  width: 327px;

  table { width: 100%; }
}

#billboard-main {
  &.loading {
    padding-bottom: 40px;
    background: url('../img/spinner-70-eb.gif') center bottom no-repeat;
  }
}
.billboard-block {
  margin-top: 40px;
  position: relative;

  &.first-child,
  &:first-child {
    margin-top: 0;
  }
}
#bb-reset-bt {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.bb-scroll-top {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  right: 20px;
  top: 18px;
}
.billboard-block-title {
  background: $brand-main;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  margin-bottom: 1px;
  overflow: hidden;
  padding: 0 90px 0 20px;
  text-overflow: ellipsis;

  &.sticky-title {
    border-top-style: solid;
    border-top-color: #ffffff;
  }
}
.billboard-address {
  background: #eeeeee;
  font-size: 13px;
  line-height: 16px;
  padding: 12px 90px 9px 41px;
  position: relative;

  & > .icon {
    left: 14px;
    position: absolute;
    top: 9px;
  }

  & > .address {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  & > .more-info {
    position: absolute;
    right: 20px;
    top: 12px;
  }
}
.billboard-movie-poster {
  left: 0;
  position: absolute;
  top: 28px;
}
.billboard-movies {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.billboard-li,
.mycinema-li {
  border-top: 1px solid #eeeeee;
  position: relative;

  &.first-child,
  &:first-child {
    border-top: 0;
    &:hover {
      margin-top: -1px;
    }
  }

  &:hover {
    background: #f5f5f5;
    border-top: 0;
    margin-bottom: -2px;
    transition: background 0.35s ease;
    -webkit-transition: background 0.35s ease;
    z-index: 1;
  }
}
.billboard-li {
  min-height: 145px;
  padding: 28px 0 28px 80px;
  margin: 0 20px;

  &:first-child {
    &:hover {
      min-height: 148px;
    }
  }
  &:hover {
    padding: 29px 20px 30px 100px;
    min-height: 147px;
    margin-left: 0;
    margin-right: 0;

    .billboard-movie-poster {
      left: 20px;
      top: 29px;
    }
  }
}
.mycinema-li {
  padding: 25px 0;

  &:hover {
    margin-left: -15px;
    margin-right: -15px;
    padding: 26px 15px 27px;
    //width: 323px;
  }
}

.mycinema-item-rating {
    border:1px solid #cdcdcd;
    color:#aaa;
    float:right;
    font-size:10px;
    font-weight:700;
    padding:2px 4px 0;
}

.mycinema-item-title {
    color: $brand-main;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    height: 20px;
    margin-bottom: 6px;
    margin-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.mycinema-sessions-group {
  margin: 4px 0 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
.mycinema-sessions {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;

  a {
    color: #595959;
    margin-right: 18px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $brand-main;
      text-decoration: none;
    }
  }

  &:before {
    top: 8px !important;
  }
}

.mycinema-more {
  border-top: 1px solid #eeeeee;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  margin: 10px 0;
  padding-top: 10px;
  color: $sec;
}

#mycinema-search-movie {
  margin:18px 0;

  a {
    display:block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.sidebar-image {
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  display: block;
}

.movie-info-attr,
.movie-info-tag {
  display: inline-block;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  text-transform: uppercase;

  &.parental {
    background: #595959;
  }
}
.movie-info-attr {
  margin-right: 10px;
}
.movie-info-tag {
  background: #c5c5c5;
  color: #ffffff;
  padding: 0 10px;
}

.movie-attr-premium,
.movie-attr-platinum,
.movie-attr-v4d,
.movie-attr-v3d,
.movie-attr-cx,
.movie-attr-extreme {
  font-weight: bold;
}

.side-box-content {
  border: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 28px;
}
.side-box-cover {
  display: block;
  height: auto;
  margin-bottom: 24px;
  width: 100%;
}

.section-header {
  margin-bottom: 30px;
}
#main-slider {
  display: none;
  margin-bottom: 20px;
  overflow: hidden;

  .slider-slider {
    height: 130px;
    overflow: hidden;
  }

  .slide {
    height: 130px;
    width: 1019px;
    overflow: hidden;
  }
  img {
    display: block;
  }

  .slider-dots {
    line-height: 3px;
    margin-top: 16px;
    text-align: center;

    & > a {
      background: #707070;
      display: inline-block;
      height: 2px;
      margin: 0 2px;
      text-indent: -9999em;
      width: 20px;

      &.selected {
        background: $brand-main;
      }
    }
  }

  @media screen and (min-width: 992px) {
    display: block;
  }
}
.banner-opener {
  width: 44px;
  height: 22px;
  background: transparent;
  text-indent: -9999em;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.movie-details-title {}
.movie-details-info {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;

  & > dt,
  & > dd {
    display: inline;
  }
  & > dt {
    clear: both;
    color: $brand-main;
    &:after { content: ":"; }

    &.dt-row {
      display: block;
      margin-bottom: 3px;
    }
  }
  & > dd {
    &:after {
      content: "";
      display: block;
      margin-bottom: 6px;
    }
  }
}
.movie-details-main {
  padding: 42px 36px 106px 244px;
  position: relative;
  min-height: 356px;
}
.movie-details-cover {
  position: absolute;
  top: 42px;
  left: 36px;
}
.movie-details-tabs {
  padding: 42px 36px;
}
.movie-details-tabs {
  background: #efefef;
  position: relative;

  &:before {
    border-bottom: 12px solid #efefef;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    top: -12px;
    left: 36px;
    position: absolute;
  }
}
.movie-details-tabs-links {
  border-bottom: 1px solid #D5D5D5;
  font-size: 18px;
  font-weight: 200;
  list-style-type: none;
  margin-bottom: 20px;
  text-transform: uppercase;

  & > li {
    display: inline-block;
    margin-left: 48px;

    a {
      color: #c0c0c0;
      display: inline-block;
      line-height: 52px;

      &:hover {
        text-decoration: none;
      }
      & > .discicon {
        top: 5px;
      }

      &.selected {
        border-bottom: 1px solid;
        color: $brand-main;
        margin-bottom: -1px;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.movie-details-btns {
  bottom: 42px;
  overflow: hidden;
  padding-bottom: 2px;
  position: absolute;
  width: 100%;

  .icon-play,
  .movie-details-score {
    float: left;
    margin-right: 20px;
  }
}
.movie-details-score {
  text-align: center;
  width: 132px;

  .score-number {
    float: left;
    margin-right: 7px;
    width: 45px;
    padding: 0;
    text-align: center;

    &.working {
      background: {
        image: url( '../img/spinner-lbluebg.gif' );
        repeat: no-repeat;
        position: 50% 50%;
      }
      text-indent: -9999em;
    }
  }
}
.movie-score-stars {
  & > a {
    background: url( '../img/score-stars.png' ) -24px 0 no-repeat;
    display: inline-block;
    height: 11px;
    position: relative;
    text-indent: -9999em;
    width: 12px;

    &.half     { background-position: -12px 0; }
    &.whole    { background-position: 0 0; }
    &.nohover  { background-position: -24px 0 !important; }
    &.hover    { background-position: 0 0 !important; }
  }
}
.movie-score-label {
  display: block;
  font-size: 11px;
  margin-top: 4px;
  text-transform: uppercase;
}
//////////////////////
// BEGIN Movie single
//////////////////////


//////////////////////
// BEGIN Cinema single
//////////////////////

.cinema-details-title {
  background: $brand-main;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  height: 40px;
  line-height: 39px;
  margin-bottom: 1px;
  padding: 0 18px;

  & > .icon {
    top: -2px;
  }
}
.cinema-details-cover {
  display: block;
  margin-bottom: 2px;
}
.sidebar-top-spacer {
  background: $brand-main;
  color: #ffffff;
  display: block;
  font-size: 11px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 1px;
  overflow: hidden;
  padding: 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cinema-details-info {
  font-size: 14px;
  font-weight:200;
  line-height: 15px;
  margin-bottom: 30px;
  padding-right:196px;
  position:relative;

  p {
    margin:10px 0;
    padding-left:20px;

    &:before {
        margin-left:-20px;
    }
  }
}

.cinema-single-map-trigger {
    background:no-repeat url(../img/cinema-single-map.jpg) 50% 50%;
    background-size:cover;
    cursor:pointer;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    width:160px;

    .btn-icon {
        font-size:13px;
        left:50%;
        padding-left:18px;
        padding-right:60px;
        position:absolute;
        text-align:center;
        top:50%;
        width:140px;
        transform:translate(-50%, -60%);
        -webkit-transform:translate(-50%, -60%);
    }

    .btn-icon:before {
        left:auto;
        right:9px;
        transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
    }

    .btn-icon:after {
        left:auto;
        right:0;
    }

    &.opened {
        .btn-icon:before {
            transform:rotate(-90deg);
            -webkit-transform:rotate(-90deg);
        }
    }
}

//////////////////////
// END Cinema single
//////////////////////

.tab-content {
  display: none;

  &.selected {
    display: block;
  }
}


////////////////////////////////////////////////////////////////////////////////
// BEGIN Checkout
////////////////////////////////////////////////////////////////////////////////

#checkout-captcha-row {
  background: none repeat scroll 0 0 #EEEEEE;
  display: none;
  min-height: 90px;
  overflow: hidden;
  padding: 16px 280px 15px 15px;
  position: relative;
}
#checkout-captcha-input {
  bottom: 15px;
  left: 15px;
  position: absolute;
  width: 317px;
}
#checkout-captcha-fig {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 60px;
  width: 316px;
  border-radius: 4px;
  background: #f9f9f9 url('../img/spinner-70-eb.gif') 50% 50% no-repeat;
}
.captcha-reload {
  background: #cccccc;
  border-radius: 3px;
  cursor: pointer;
  height: 24px !important;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px !important;
}

.checkout-steps {
  position: relative;
}
.checkout-step {
  display: none;
}
#checkout-step-1 {
  display: block;
}

#checkout-step-3 {
    .std-form {
        margin-top: 60px;
        position: relative;
    }

    .checkout-sms {
        margin-bottom:0;
        margin-top:34px;
    }

    .checkout-sms-hr {
        background:#D8D8D8;
        height:1px;
        margin-left:15px;
        margin-bottom:34px;
        margin-right:15px;
    }

    .checkout-sms-strong {
        color:#d0033d;
    }

    .checkout-sms-edit {
        color:#707070;
        font-size:11px;
        text-transform:uppercase;
    }

    .checkout-sms-hidden {
        display:none;
    }

    small.helper {
      float:right;
    }
}

#checkout-trail {
  display: block;
  line-height: 1px;
  list-style-type: none;
  margin-bottom: 20px;
  overflow: visible;
  text-align: justify;
  width: 100%;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
  }
}
.checkout-trail-step {
  background: #efefef;
  color: #b5b5b5;
  display: inline-block;
  font-size: 16px;
  height: 108px;
  line-height: 18px;
  position: relative;
  text-align: left;
  width: 24.5%;

  & > span {
    display: block;
    margin-top: 34px;
    padding-left: 80px;
    position: relative;

    &:before {
      background: #afafb1;
      border-radius: 100%;
      box-shadow: 0 2px 0 #999999;
      color: #ffffff;
      content: "";
      height: 48px;
      font-size: 22px;
      font-weight: 700;
      left: 24px;
      line-height: 48px;
      margin-top: -24px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 48px;
    }
  }
  &:nth-child(1) > span:before { content: "1"; }
  &:nth-child(2) > span:before { content: "2"; }
  &:nth-child(3) > span:before { content: "3"; }
  &:nth-child(4) > span:before { content: "4"; }

  &.selected {
    background: #f9f9f9;
    color: $sec;

    & > span:before {
      background: $sec;
      box-shadow: 0 2px 0 #4e7aae;
    }
  }

  &.done {
    & > span:before {
      content:"\2714";
      text-indent:5px;
    }
  }
}


#order-success {
  background: #eaeaea;
  margin-top: -19px;
  padding: 60px;

  h1,
  h2 {
    font-size: 38px;
    font-weight: 200;
    line-height: 1em;
  }

  h1 {
    color: $sec;
    margin-bottom: 18px;
  }
  h2 {
    margin-bottom: 28px;
  }

  .order-codes {
    margin-top: 36px;
    overflow: hidden;
    padding: 32px 0;

    .order-code {
      padding: 0 60px;
      float: left;

      &:first-child {
        padding-left: 0;
      }

      .legend {
        color: $sec;
        display: block;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      .code {
        background: #f5f5f5;
        display: block;
        font-size: 40px;
        font-weight: 700;
        height: 90px;
        padding: 0 36px;
        line-height: 90px;
      }
    }
  }
  .order-summary {
    padding: 32px 0 50px;
    overflow: hidden;

    .order-success-cover,
    .movie-details-info {
      float: left;
    }
    .movie-details-info {
      font-size: 14px;
      line-height: 18px;
      margin-left: 26px;
      width: 170px;

      & > dd:after {
        margin-bottom: 16px;
      }
    }
  }
}
.order-success-cover {
  display: block;
}
.order-w-qr {
  margin-top: 36px;

  .left {
    clear: both;
    float: left;
    min-width: 428px;
    width: 72%;
  }
  .right {
    float: right;
    min-width: 126px;
    width: 21%;
  }
  .tr {
    display: table;

    .left, .right {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .sep {
    margin-top: 40px;
  }

  h3, h4, h5 {
    font-weight: 200;
    font-family: Roboto, sans-serif;
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
  h4 {
    font-size: 18px;
    line-height: 25px;
    padding-top: 36px;
  }
  h5 {
    font-size: 14px;
    line-height: 22px;
    padding: 40px 0;

    strong {
      color: $sec;
    }
  }

  .btn {
    margin-top: 9px;
    text-align: center;
    padding: 0 0 0 42px;
  }

  .order-qr-code {
    height: 126px;
    background: #ffffff;
    position: relative;

    & > img {
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      position: absolute;
      top: 50%;
    }
  }
}

.ie-banner {
  overflow: hidden;
  &.row {
    margin-left: 0;
    margin-right: 0;

    & > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ie-cto {
    background: #f9f9f9 url( '../img/ie-banner-ico-00.png' ) 24px 50% no-repeat;
    color: #707070;
    display: block;
    float: left;
    height: 117px;
    font-size: 17px;
    line-height: 20px;
    padding: 28px 34px 28px 74px;
    position: relative;

    &:hover {
      text-decoration: none;
      background-color: #f7f7f7;
    }
  }
  .ie-links {
    float: right;
    border-left: 1px solid #ffffff;
  }
  .ie-link {
    display: block;
    height: 58px;
    line-height: 58px;
    padding-left: 76px;
    position: relative;
    font-size: 13px;
    color: #515151;
    font-weight: 200;

    &:hover {
      text-decoration: none;
      background-color: #f0f0f0;
    }
  }
  .ie-link-01 {
    background: #f3f3f3 url( '../img/ie-banner-ico-01.png' ) 14px 50% no-repeat;
    border-bottom: 1px solid #ffffff;
  }
  .ie-link-02 {
    background: #f3f3f3 url( '../img/ie-banner-ico-02.png' ) 14px 50% no-repeat;
  }
}


.tweet-item {
  margin-bottom: 4px;
  padding-left: 70px;
  position: relative;

  img {
    border: 3px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}
.tweet-balloon {
  background: #ffffff;
  color: #7e7e7e;
  font-size: 13px;
  padding: 22px 16px;
  position: relative;

  &:before {
    border-right: 9px solid #ffffff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    content: "";
    left: -9px;
    position: absolute;
    top: 18px;
  }

  .tweet-author {
    color: #7e7e7e;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .tweet-username {
    color: $brand-main;
    text-transform: uppercase;
  }

  & > p {
    font-weight: 200;
    word-wrap: break-word;
  }
}

.instargam-thumb {
  border: 3px solid #ffffff;
  display: block;
  float: left;
  margin-right: 4%;
  margin-bottom: 5px;
  width: 48%;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
  &:nth-child( 2n + 2 ) {
    margin-right: 0;
  }
}

.bottom-box-article {
  background: #ffffff;
  margin-top: 0;

  h3 {
    a {
      color: #5a5a5a;
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      padding: 22px 15px 26px;
      text-transform: uppercase;

      &:hover {
        color: $brand-main;
        text-decoration: none;
      }
    }
  }
}


#theater-layout {
  background: url( '../img/theater-screen.png' ) 50% 0 no-repeat;
  margin-top: 34px;
  padding: 70px 0 50px;
  position: relative;
  overflow: hidden;
}

#seats-layout {
  margin: 0 auto;

  .row-name {
    text-align: center;
    vertical-align: middle;
    width: 35px;

    &.first {
      padding-right: 10px;
      padding-left: 20px;
    }
    &.last {
      padding-right: 20px;
      padding-left: 10px;
    }
  }

  .seat {
    background: url( '../img/layout-seats.png' ) no-repeat;
    display: block;
    height: 27px;
    width: 25px;
  }
  .seat-0 {
    background-position: 50% 0;
    cursor: pointer;
    &:hover {
      background-position: 50% -81px;
    }
  }
  .seat-1 {
    background-position: 50% -54px;
  }
  .seat-selected {
    background-position: 50% -27px;
  }
  .seat-E {
    background: none;
  }
  .seat-EE {
    height: 10px;
  }
}
.seats-ref {
  .seat {
    margin: 0 10px;
  }
  .seat:before {
    background: url( '../img/layout-seats.png' ) no-repeat;
    content: "";
    display: inline-block;
    height: 27px;
    margin-right: 6px;
    position: relative;
    top: 9px;
    width: 25px;
  }
  .seat-0:before {
    background-position: 50% 0;
  }
  .seat-1:before {
    background-position: 50% -54px;
  }
  .seat-selected:before {
    background-position: 50% -27px;
  }
}

.seats-scroll-bt.scroll-left,
.seats-scroll-bt.scroll-right {
  background: url( '../img/sprites.png' ) no-repeat;
  display: block;
  height: 49px;
  position: absolute;
  top: 50%;
  width: 25px;
  z-index: 10;
}
.seats-scroll-bt.scroll-right {
  background-position: -240px -86px;
  right: 0;
  &.disabled {
    background-position: -275px -86px;
  }
}
.seats-scroll-bt.scroll-left {
  background-position: -345px -86px;
  left: 0;
  &.disabled {
    background-position: -310px -86px;
  }
}
.seats-shadow {
  height: 100%;
  position: absolute;
  top: 0;
  width: 40px;

  &.shadow-left {
    background: url( '../img/seats-scroll-sh-left.png' ) repeat-y;
    left: 0;
  }
  &.shadow-right {
    background: url( '../img/seats-scroll-sh-right.png' ) repeat-y;
    right: 0;
  }
}

.checkout-legend {
  font-size: 12px;
  margin: 24px 0;
}

.countdown {
  font-family: digital7,sans-serif;
  font-size: 32px;
  letter-spacing: 5px;
  line-height: 1em;

  .sep {
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: -5px;
  }
}

#checkout-timeout {
  color: $brand-main;
  display: none;
  position: absolute;
  right: 36px;
  top: 24px;

  .small {
    font-size: 11px;
    float:left;
    margin-right:12px;
    line-height:16px;
    width:111px;
  }

  .countdown {
    margin-left:123px;
  }
}

.checkout-cc-icons {
  bottom: 30px;
  position: absolute;
  right: 0;
}

#side-total {
  display: none;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;

  & > .small,
  & > .number {
    display: block;
  }
  & > .number {
    font-size: 22px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-selection {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 30px;
  padding-bottom: 40px;
  position: relative;

  .qty-row,
  .qty-total-row {
    font-size: 17px;
    height: 44px;
    line-height: 22px;
    padding: 11px 20px;
    position: relative;
    margin-bottom: 3px;
    margin-right: 91px;
  }

  .qty-row {
    background: #e2e2e3;
    color: #555555;

    label {
      .ticket-price {
        font-size: 14px;
      }
    }
    .ticket-sep {
      color: #ccc;
      margin: 0 10px 0 10px;
    }

    &:hover,
    &.focus {
      background: #d6d6d8;
    }
  }

  .number,
  input[type=number] {
    background: #ffffff;
    border: 1px solid #e2e2e3;
    color: #555555;
    display: block;
    font-size: 17px;
    height: 44px;
    position: absolute;
    right: -91px;
    text-align: center;
    top: 0;
    width: 90px;
    line-height: 22px;
    padding: 11px 20px;
  }

  .qty-total-row {
    background: $sec;
    color: #ffffff;

    .currency {
      color: #bcd2f0;
      position: absolute;
      right: 10px;
    }
  }

  .number-ctl {
    position: absolute;
    top: 12px;

    &.icon-minusb {
      right: -26px;
    }
    &.icon-plusb {
      right: -80px;
    }
  }
}

.seats-ref {
  border-bottom: 1px solid #D8D8D8;
  font-size: 12px;
  height: 60px;
  line-height: 58px;
  margin-top: -18px;
  text-align: center;
}



.std-form {
  margin-left: -15px;
  margin-bottom: -24px;
  margin-right: -15px;

  &.compact-form {
    .form-row {
      margin-bottom: 6px;
    }
  }
  &.no-cols {
    &, .form-row {
      margin-left: 0;
    }
  }
}
.subform-label {
  display: block;
  margin: 24px 0 24px 40px;
}
.form-row {
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
  position: relative;

  &.half,
  &.quarter {
    clear: none;
    float: left;
  }

  label {
    display: block;
    font-weight: 200;
    margin-bottom: 3px;

    &.required:after {
      color: $brand-main;
      content: "*";
      margin-left: 10px;
    }
  }

  input[type=file] {
    border: 1px solid transparent;
    &.error {
      border-color: $brand-main;
    }
  }
  label.error {
    color: $brand-main;
  }
}
.form-row textarea,
.std-form-select,
.form-row select,
.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=password],
.form-row input[type=number],
.std-field {
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  height: 34px;
  line-height: 32px;
  padding: 0 12px;
  width: 100%;

  &.valid {
    border-color: #99d198;
  }
  &.error {
    background: #f2c6d3;
    border-color: #f2c6d3;
    color: $brand-main;

    &::-webkit-input-placeholder { color: #ffffff; }
    &:-moz-placeholder           { color: #ffffff; }
    &::-moz-placeholder          { color: #ffffff; }
    &:-ms-input-placeholder      { color: #ffffff; }
  }
  &:focus {
    border-color: $brand-main;
  }
  &.month-year {
    width: 69px;
  }
  &.month {
    margin-right: 4px;
  }
  &.year {
    right: 15px;
    position: absolute;
  }
}

.form-row textarea {
  height: 160px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.std-form-select {
  background: #ffffff;
  position: relative;
  z-index: 0;

  &:before {
    background: url("../img/icons-small-sprite.png") no-repeat -168px -48px;
    content: "";
    display: block;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 14px;
  }

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}

.form-row textarea:disabled,
.form-row select:disabled + .std-form-select,
.form-row select:disabled,
.form-row input[type=text]:disabled,
.form-row input[type=email]:disabled,
.form-row input[type=password]:disabled,
.form-row input[type=number]:disabled,
.std-field:disabled {
  color:#aaa;
  border-color:#ccc;
}

.check-row {
  margin: 10px 0 !important;
  font-size: 12px;
  padding-left: 34px;
  position: relative;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 40px !important;
  }

  input[type=checkbox],
  input[type=radio] {
    left: 0;
    margin: 2px 0 0 2px;
    position: absolute;
    top: 0;

    &:checked + span {
      font-weight:700;
    }
  }
}

.hasCustomSelect {
  z-index: 1;
}

.custom-select {
  position: relative;
  z-index: -1;

  &:after {
    background: url( '../img/icons-small-sprite.png' ) -168px -48px no-repeat;
    content: "";
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 14px;
  }
  &:before {
    left: 5px !important;
  }
}


#login-popup {
  background: none;

  .popup-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
#login-popup-fb,
#login-popup-std {
  border-radius: 3px;
  height: 360px;
  margin: 0 3px;
  overflow: hidden;
  padding: 36px;
  text-align: center;
  width: 300px;
}
#login-popup-fb {
  background: #233762;
  color: #ffffff;
  float: left;
  padding-top: 130px;
}
#login-popup-std {
  background: #ebebeb;
  float: right;
  position: relative;

  .popup-bottom {
    background: #d3d3d3;
    font-weight: 500;
    padding: 20px 36px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 300px;

    &:before {
      right: 24px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .forgot-password {
    font-size: 12px;
    display: block;
    margin: 16px 0;
  }
}

#login-popup.popup-in-page {
  margin: 40px auto;
  display: block;
  width: 612px;
}

@media screen and (max-width: 512px) {
  #login-popup.popup-in-page {
    margin: 20px auto;
    width: 100%;
  }
  #login-popup-fb,
  #login-popup-std {
    float: none;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }
  #login-popup-fb {
    padding: 36px;
    height: auto;
    margin-bottom: 10px;
  }

  .oauth-grant-dialog {
    width: 100%;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
    text-align: center;

    .btn-row .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}


.sidebar-selector {
  position: relative;
  #cinemas-select-city {
    border: none;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 42px;
    left: inherit;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    -webkit-appearance: menulist-button;
  }
}

#gmap {
  width: 100%;
  height: 740px;

  &.cinema-single-map {
    height: 232px;
  }

    &.cinema-single-map-target {
        max-height:0;
        margin-bottom:30px;
        margin-top:-30px;
        /*opacity:0;
        transition:all 1s;
        -webkit-transition:all 1s;*/
    }

    &.shown {
        max-height:233px;
        /*opacity:1;*/
    }
}

.map-info {
  font-weight: 400 !important;
  padding: 20px 0 10px 20px;
  width: 200px;

  & > p {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0;
  }

    & > h1 {
      color: $brand-main;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
    }
}


.panel-menu {
  list-style-type: none;

  & > li {
    margin-bottom: 18px;
  }
  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}


.info-heading {
  border-bottom: 1px solid #D8D8D8;
  color: #000000;
  margin-top: -3px;
  margin-bottom: 30px;
  padding-bottom: 15px;

  .sep {
    margin: 0 10px 0 7px;
  }
  a {
    color: $sec;
  }
}
#user-profile {
  padding-left: 100px;
  position: relative;

    .avatar-64 {
      position: absolute;
      top: 0;
      left: 0;
    }
}
.user-info-block {
  float: left;
  width: 250px;
  font-weight: 200;
  & > dt {
    font-size: 13px;
  }
  & > dd {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 18px;
  }
}

.my-purchases {
  overflow: hidden;
  margin-top: 24px;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 20px;
  padding-top: 2px;
  position: relative;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
  }
  img, dl {
    float: left;
    margin-right: 18px;
  }
  dl {
    width: 30%;
  }
  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.end-body-bt {
  & > a {
    margin: 30px 0 -40px;
  }
  text-align: center;
  width: 100%;
}


#sponsored-bg {
  background: {
    position: 50% 0;
    repeat: no-repeat;
  }
  left: 0;
  height: 1680px;
  position: absolute;
  top: 104px;
  width: 100%;
  z-index: -1;
}
body.billboard #sponsored-bg {
  position: fixed;
}


#tour-black,
#tour-block {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
#tour-black {
  background: rgba( 0,0,0,0.75 );
  opacity: 0;
  z-index: 1000;
}
#tour-block {
  z-index: 999996;
}
.tour-highlight {
  z-index : 999995;
}
.tour-tooltip {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 36px 28px 22px;
  position: absolute;
  width: 390px;
  z-index: 999999;

  &:before {
    position: absolute;
    border-top: 30px solid #ffffff;
    content: "";
    top: 16px;
  }
  &.left {
    margin-left: 50px;
    &:before {
      left: -23px;
      border-left: 23px solid transparent;
    }
  }
  &.right {
    margin-right: 50px;
    &:before {
      right: -23px;
      border-right: 23px solid transparent;
    }
  }
  &.top {
    margin-top: 30px;
    &:before {
      left: 50%;
      margin-left: -13px;
      top: -20px;
      border-top: 0;
      border-bottom: 20px solid #ffffff;
      border-right: 13px solid transparent;
      border-left: 13px solid transparent;

    }
  }

  &.w-heading {
    padding-top: 90px;

    &:before {
      border-top: 30px solid #ececec;
    }
  }

  p {
    color: #05030d;
    font-size: 15px;
    font-weight: 200;
    line-height: 22px;
  }
}
.tour-title {
  color: $brand-main;
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.tour-heading {
  background: #ececec;
  border-bottom: 1px solid #d3d3d3;
  height: 59px;
  left: 0;
  line-height: 58px;
  padding: 0 28px;
  position: absolute;
  top: 0;
  width: 100%;

  .tour-skip {
    line-height: 58px;
    float: right;
  }
}
.tour-bottom {
  border-top: 1px solid #d3d3d3;
  margin-top: 40px;
  padding-top: 22px;
}
.tour-skip {
  color: #9f9f9f;
  font-weight: 500;
  display: inline-block;
  line-height: 38px;
}
.tour-steps {
  float: left;
  list-style-type: none;
}
.tour-step {
  background: #b3b3b3;
  border-radius: 100%;
  float: left;
  height: 23px;
  line-height: 23px;
  margin-top: 18px;
  margin-right: 6px;
  text-align: center;
  width: 23px;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;

  &.selected {
    background: $sec;
  }
}


////////////////////////////////////////////////////////////////////////////////
// BEGIN Registration
////////////////////////////////////////////////////////////////////////////////

.register-step {
  display: none;

  &.selected {
    display: block;
  }

  p {
    margin: 30px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .small {
    border-top: 1px solid #EFEFEF;
    font-size: 12px;
    padding-top: 20px;
  }
}

.ie-box {
  background: #f9f9f9;
  padding: 36px 100px;
  text-align: center;
}

.ie-input-box {
  position: relative;
  padding-right: 146px;

  label {
    margin-bottom: 6px;
  }
  button {
    height: 33px;
    line-height: 33px;
    float: right;
    width: 140px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ie-input-wrap {
  position:relative;
}

.ie-input-help {
  background:#ddd;
  border-radius:10px;
  color:#666;
  display:block;
  font-weight:700;
  height:20px;
  line-height:20px;
  margin:-9px 0 0 0;
  position:absolute;
  right:5px;
  text-align:center;
  text-indent:1px;
  top:50%;
  width:20px;
}

#register_iecode {
  position: relative;
  top: 1px;
  /*width: 240px;*/
}
.ie-no-box {
  background: #f3f3f3;
  font-size: 13px;
  padding: 10px 26px;
  a {
    color: #555555;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Sections Casa de arte, X4D, etc
////////////////////////////////////////////////////////////////////////////////
.section-header {
    & > img {
      display: block;
    }
}
.section-nav {
  display: table;
  margin-top: 1px;
  width: 100%;

  & > ul {
    list-style-type: none;
    display: table-row;
    & > li {
      border-left: 1px solid #ffffff;
      display: table-cell;
      text-align: center;
      width: 25%;

      &:first-child {
        border-left: 0;
      }

      & > a {
        display: block;
        height: 38px;
        line-height: 38px;
        text-transform: uppercase;
      }
    }
  }
}
.section-art {
  .section-nav > ul > li {
    & > a {
      background: #ded3b4;
      color: #ffffff;

      &.selected {
        background: #ae9c6b;
      }
      &:hover {
        background: #d1c5a5;
        text-decoration: none;
      }
    }
  }
}
.section-platinum {
  .section-nav > ul > li {
    & > a {
      background: #666666;
      color: #ffffff;

      &.selected {
        background: #111111;
      }
      &:hover {
        background: #444444;
        text-decoration: none;
      }
    }
  }
}
.section-x4d {
  &.section-header {
    margin-top: -30px;
  }
}

#cinemom-logo {
  background: url('../img/cinemom-logo.gif') no-repeat;
  height: 84px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 286px;
}
.section-cinemom {
  .section-nav > ul > li {
    & > a {
      background: #f0e0dc;
      color: #674a7b;

      &.selected:hover,
      &.selected {
        background: #674a7b;
        color: #ffffff;
      }
      &:hover {
        background: #e9d9d5;
        text-decoration: none;
      }
    }
  }
}
.cinemom-content {
  margin: 50px auto 30px;
  width: 697px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 200;

  a,
  .content-box-title,
  strong {
    color: #ee7747;
  }
  .bigger {
    font-size: 22px;
    font-weight: 400;
  }
  ul,
  p {
    margin-bottom: 2em;
  }
  ol,
  ul {
    padding-left: 20px;
  }
  li > ul,
  li > ol {
    margin-top: 1em;
  }
  .highlight {
    color: #674a7b;
    font-weight: 400;
  }

  dt {
    font-weight: 400;
    color: #674a7b;
  }
  dd {
    margin-bottom: 2em;
  }
}

.cinemom-cinemas-grid {
  .movie-poster-bt {
    margin-top:-47px;
    opacity:0;
    top:50%;
  }

  .cinemas-grid-item:hover {
    .movie-poster-bt {
      opacity:1;
    }
  }
}

.tooltip-cinemom {
    background:#ee7747;

    &:after {
      border-top-color:#ee7747;
    }
}


////////////////////////////////////////////////////////////////////////////////
// BEGIN Single Post
////////////////////////////////////////////////////////////////////////////////

.entry-full {
  .entry-img {
    margin-bottom: 22px;
    width: 100%;
  }

  .entry-title {
    color: #353535;
    font-size: 28px;
    line-height: 31px;
    font-weight: 400;
  }

  .entry-meta-head {
    border-bottom: 1px solid #d5d5d5;
    list-style-type: none;
    margin: 26px 0 35px;
    padding-bottom: 28px;

    & > li {
      display: inline-block;
      font-size: 11px;
      color: #777777;
      line-height: 14px;
      margin-right: 40px;
      text-transform: uppercase;

      .icon-small {
        margin-right: 5px;
        top: 2px;
        position: relative;
      }
    }
  }
}
.entry-body,
.section-content .content-box {
  font-size: 14px;
  line-height: 20px;

  blockquote, p, ul, ol, dl, table {
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #353535;
    text-transform: uppercase;
  }
  h1, h2, h3 {
    margin-top: 40px;
  }
  blockquote {
    color: $brand-main;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
  }
  li {
    margin-left: 40px;
    margin-bottom: 6px;
  }

  dt {
    color:black;
  }

  dd {
    margin-bottom:10px;
  }

  .section-title {
    margin-top: 0;
  }
}

.entry-share {
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  margin: 50px 0 30px;
  padding: 17px 0 15px;
}


////////////////////////////////////////////////////////////////////////////////
// BEGIN Contact and FAQ
////////////////////////////////////////////////////////////////////////////////

.disclaimer {
  margin-top: 30px;
  line-height:1.5;

  ul,ol,
  p {
    margin: 10px 0;
    font-size: 11px;
    line-height: 13px;
  }
  li { margin-left: 20px; }
}
.faq-side-head {
  background: $brand-main;
  color: #ffffff;
  display: block;
  height: 54px;
  font-size: 20px;
  font-weight: 500;
  line-height: 54px;
  margin-top: 1px;
  padding: 0 24px;
}
.faq-side-content {
  background: #e6e6e6;
  font-size: 13px;
  padding: 24px;
}
.faq-side-list {
  list-style-type: none;
  margin: 18px 0;

  & > li {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 700;
  }
}







////////////////////////////////////////////////////////////////////////////////
// BEGIN Responsive
////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 767px) {
  #main-body {
    margin-top: 109px;
  }

  .col {
    margin-bottom: 18px;
  }

  .mycinema-list {
    max-height: none !important;
  }
  
  .ie-banner .ie-cto {
    height: auto;
  }

  .checkout-form .btn-row > .btn {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width:1039px) {
  .section-side-col,
  .section-main-col,
  .blog-main-col,
  .wide-main-col,
  .main-col,
  .blog-side-col,
  .narrow-side-col,
  .side-col {
    float: left;
    margin-right: 0;
  }

  .section-side-col {
    width: 540px;
  }
  .section-main-col {
    width: 330px;
    margin-left: 40px !important;
  }
  .box-half {
    width: 490px;
  }
  .box-1third {
    width: 151px;
  }
  .box-2thirds {
    width: 300px;
  }

  .span_1 { width: 126px; }

  body { font-size: 13px; }

  .movie-poster-bt { display: none; }
  .movies-grid.clear-on-4 .movies-grid-item:nth-child(4n + 1) { clear: none; }
  .movies-grid.clear-on-4 .movies-grid-item:nth-child(3n + 1) { clear: both; }

  .wrapper {
    padding: 0 16px;
  }

  #top-menu { text-align: center; }
  .no-tablet { display: none !important; }

  .file-tabs > li { min-width: inherit; }
  .file-tabs .tab { padding: 0 6px; }

  .sidebar-image {
    height: auto;
    width: 100%;
  }
  .sidebar-toggles > li {
    width: 90px;
    &:first-child { width: 92px; }
  }

  .movie-details-main {
    padding: 26px 26px 106px 144px;
    min-height: 200px;
  }
  .content-box-title {
    font-size: 22px;
    line-height: 24px;
  }
  .movie-details-cover {
    display: none;
  }
  .movie-details-btns {
    bottom: auto;
    position: relative;
    margin-top: 20px;
  }
  .content-box,
  .movie-details-tabs {
    padding: 26px;
  }
  .movie-details-tabs-links {
    font-size: 14px;
  }
  .movie-details-tabs-links > li {
    margin-left: 18px;
  }
  .movie-details-tabs-links > li a {
    line-height: 40px;
  }
  #movie-trailer-tab iframe {
    height: 269px;
  }

  #checkout-trail {
    display: none;
  }
  
  .ie-banner .ie-cto {
    font-size: 16px;
    margin-bottom: 1px;
  }
  #checkout-timeout {
    right: 26px;
    top: 15px;
  }

  .form-row.half {
    width: 100%;
  }

  .section-header > img {
    width: 100%;
  }

  #side-tooltip {
    background-image: none;
    padding: 0 10px;
  }
}

@media screen and ( max-width: 1068px ) {
  .no-desktop { display: block !important; }
  #sponsored-bg {
    background-image: url( '../../uploads/cms/bgs/bg-header.jpg' );
  }
  #header-logo-area {
/*    min-height: 216px;
    padding-bottom: 44px;
    padding-top: 44px;*/
  }
  #header-user {
    background: $brand-main;
    height: 35px;
    padding: 0 19px;
    position: relative;
    right: 0;
    text-align: right;
    top: 74px;
    width: 100%;
  }
  #hamburger-bt {
    padding: 0 15px;
    content: "Menú";
    display: block;
    line-height: 35px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    width: 200px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;

    &.icon {
      margin-right: 5px;
      margin-left: -5px;
    }
    &.open {
      background: #b61644;
    }
  }
  #header-area {
    right: 0;
    left: auto;
    margin-right: 18px;
  }
  #header-logo-area {
    width: 100%;
    padding: 0;
  }
  #top-menu {
    margin-left: -200px;
    height: 100%;
    line-height: 14px;
    position: fixed;
    text-align: left;
    top: 109px;
    width: 200px;
    z-index: 100;

    & > ul {
      padding: 0;
      width: auto;

      & > li {
        border-top: 1px solid #f64974;
        display: block;
        margin: 0;

        & > a {
          display: block;
          padding: 14px 15px;
        }
      }

      & > .social-icons {
        width: 100%;
        padding: 10px 15px;
        & > a {
          float: left;
          margin: 0 5px 0 0;
        }
      }
    }
  }

  #billboard-side {
    display: none;
  }
}
@media screen and ( min-width: 1069px ) {
  #sponsored-bg {
    background-image: url( '../../uploads/cms/bgs/bg-1280.jpg' );
  }
}
@media screen and ( min-width: 1281px ) {
  #sponsored-bg {
    background-image: url( '../../uploads/cms/bgs/bg-1360.jpg' );
  }
}
@media screen and ( min-width: 1441px ) {
  #sponsored-bg {
    background-image: url( '../../uploads/cms/bgs/bg-1920.jpg' );
  }
}

#sidebar-closer-cinemas {
    .mycinema-item-title {
        font-size:16px;
    }

    .mycinema-item-address {
        font-size:12px;
        line-height:1.5;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;

        &.open {
            height:auto;
            white-space:normal;
        }
    }
}

.icon {
    &.icon-king:before {
        background-position:-850px 0;
    }

    &.icon-tarr:before {
        background-position:-884px 0;
    }

    &.icon-glass:before {
        background-position:-918px 0;
    }

    &.icon-plus:before {
        background-position:-952px 0;
    }

    &.icon-screen:before {
        background-position:-986px 0;
    }

    &.icon-alert:before {
        background-position:-1020px 0;
    }

    &.icon-red {
        &.icon-king:before {
            background-position:-850px -34px;
        }

        &.icon-tarr:before {
            background-position:-884px -34px;
        }

        &.icon-glass:before {
            background-position:-918px -34px;
        }

        &.icon-plus:before {
            background-position:-952px -34px;
        }

        &.icon-screen:before {
            background-position:-986px -34px;
        }

        &.icon-alert:before {
            background-position:-1020px -34px;
        }
    }

    &.icon-dark {
        &.icon-king:before {
            background-position:-850px -68px;
        }

        &.icon-tarr:before {
            background-position:-884px -68px;
        }

        &.icon-glass:before {
            background-position:-918px -68px;
        }

        &.icon-plus:before {
            background-position:-952px -68px;
        }

        &.icon-screen:before {
            background-position:-986px -68px;
        }

        &.icon-alert:before {
            background-position:-1020px -68px;
        }
    }
}


//.entry-body {
    .special-box-title,
    .special-box-content,
    .ie-levels-tabs p,
    .ie-levels-tabs .content {
        margin:0;
        padding:26px;
    }

    .ie-levels-tabs .tab,
    .special-box-title,
    .special-box-content {
      background:#f1f1f1;
    }

    .special-box-title,
    .ie-levels-tabs p {
        color:#707073;
        font-size:18px;
        font-weight:700;
        line-height:22px;
        text-transform:none;
    }

    .special-box-hr,
    .ie-levels-tabs .hr {
        height:0;
        border-bottom:1px solid #fff;
        border-top:1px solid #d3d3d3;
        width:100%;
    }

    .special-box-content,
    .ie-levels-tabs .content {
        img {
            display:block;
            height:auto;
            margin:0 auto;
            max-width:100%;
        }
    }

    .special-box {
        margin-bottom:40px;
        margin-top:40px;

        ul {
            list-style:none;
            margin:0;
        }

        li {
            margin:10px 0;
        }

        .special-box-title {
            color:#707073;
            margin-top: 0;
            text-transform:none;
        }
    }
//}

.ie-content {

    .ie-program-benefits {
        li {
            line-height:36px;
            margin:8px 0;
            padding: 2px 0 2px 48px;

            &.two-lines {
              line-height: 18px;
            }
        }

        i {
            background:white;
            border:1px solid $brand-main;
            border-radius:50%;
            box-shadow:0 2px 0 #ccc;
            float:left;
            height:38px;
            margin:-2px 0 1px -48px;
            width:38px;
            font: normal 16px/36px 'Roboto Condensed';
            text-align: center;

            &.red   { border-color: $brand-main; color: $brand-main; }
            &.icon-black,
            &.black { border-color: #000000;     color: #000000; }
            &.icon-gold,
            &.gold  { border-color: #c2a942;     color: #c2a942; }

            &:before {
                margin:-12px 0 0 -12px;
                left:50%;
                position:absolute;
                top:50%;
            }
        }
    }

    .ie-program-how {
        ul {
            margin-bottom:55px;
        }

        li {
            padding-left:24px;
            margin-bottom:20px;

            &:before {
                float:left;
                margin:-2px 0 0 -30px;
            }
        }
    }

    .ie-program-note,
    .ie-program-tos {
        background:#f1f1f1;
        border:1px solid #f1f1f1;
        line-height:44px;
        margin:12px 0;
        padding:0 26px;

        &:before {
            margin-right:6px;
            position:relative;
            top:6px;
        }
    }

    .ie-program-tos {
        background:transparent;
    }
}

.ie-points-txt {
  margin-bottom: 40px;

  p {
    padding-left: 63px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    strong {
      color: $brand-main;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
  .top, .bottom {
    padding: 30px 30px 30px 27px;
  }
  .top {
    background: #f5f5f5;
  }
  .bottom {
    background: #e8e8e8;
    margin-top: 2px;
  }
}

.ie-faq-img {
  width: 100%;
}

.ie-benefits-list {
  list-style-type: none;
  margin-bottom: 40px !important;

  h3 {
    color: $brand-main;
    text-transform: none;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    min-height: 40px;
    padding-left: 54px;
    position: relative;

    &:before {
      background: #ffffff url('../img/red-tick.png') 50% 50% no-repeat;
      border-radius: 100%;
      box-shadow: 0 3px 3px rgba(0,0,0,0.3);
      content: "";
      height: 40px;
      left: 0;
      position: absolute;
      top: 0;
      width: 40px;
    }
  }
}

.ie-benefits-slider {
  padding-top: 30px;

  .slider-nav > a {
    cursor: pointer;
    position: absolute;
    top:120px;

    &.arrow-left {
      left: 0;
    }
    &.arrow-right {
      right: 0;
    }
  }

  .slide > img {
    margin-bottom: 15px;
  }
  .slide > p {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
  }
}
#ie-levels-basic .ie-benefits-slider .slider-nav > a {
  color: $brand-main;
}
#ie-levels-gold .ie-benefits-slider .slider-nav > a {
  color: #ebb631;
}
#ie-levels-premium .ie-benefits-slider .slider-nav > a {
  color: #000000;
}

.ie-levels-tabs {
    list-style:none;
    text-align:center;

    // SHAME (ˇ_ˇ’!l)
    margin-left:-9px!important;
    margin-right:-9px!important;


  .tab,
    p,
    .content {
        background:transparent;
        -webkit-transition:all 1s;
        transition:all 1s;
    }

    li {
        margin:0;
        position: relative;
    }

    p {
        font-size:18px;
        padding:14px;
    }

    .tab {
        border:1px solid #f1f1f1;
    }

    .active {
        background:white;
        border-color:$brand-main;
        color:$brand-main;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -8px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $brand-main;
          margin-left: -8px;
        }

        .hr {
            opacity:0;
        }

        p,
        .content {
            background:transparent;
            position:relative;
        }

        p {
            color:$brand-main;
            top:120px;
        }

        .content {
            top:-40px;
        }
    }
}

.ie-levels-block {
    //display:none;
    //opacity:0;

    &.active {
        //opacity:1;
        //display:block;
    }

    .ie-level-title {
        border-bottom:1px solid #d8d8d8;
        color:$brand-main;
        font-size:20px;
        padding-bottom:10px;
        text-transform:none;
    }

    .ie-level-list {
        color:$brand-main;
    }

    .movie-details-main {
        border-bottom:1px solid #efefef;
        min-height:372px;
        padding:50px 0 50px 208px;
    }

    .movie-details-title {
        margin-top:0;
    }

    .movie-details-cover {
        left:0;
        top:50px;
    }

    .movie-details-btns {
        bottom:50px;
        width:auto;
    }
}

.payback-eq {
  background: url('../img/payback-eq-peso.jpg') no-repeat;
  display: block;
  height: 88px;
  text-indent: -9999em;
  width: 209px;
}

.ie-promos-grid {
    margin:0 -3px;

    a {
        float:left;
        padding:3px;
        width:(100% / 3);
    }

    img {
        display:block;
        height:auto;
        margin:0 auto;
        max-width:100%;
    }
}

#promos-archive {

  .promos-grid-item {
    margin-top:25px;
  }

  .promo {
    display:block;

    img {
      display:block;
      height:auto;
      max-width:100%;
    }
  }

  .ingrid-promo {
    margin:0 10px;
    left:0;
    top:205px;

    &:before {
      left:92px!important;
    }

    &.col-2 {
      left:-208px!important;

      &:before {
        left:290px!important;
      }
    }

    &.col-3 {
      left:-416px!important;

      &:before {
        left:497px!important;
      }
    }

    &.col-4 {
      left:-624px!important;

      &:before {
        left:705px!important;
      }
    }

    &.col-5 {
      left:-832px;

      &:before {
        left:913px!important;
      }
    }
  }
}

@import "landings/default.scss";
@import "landings/nfl.scss";
@import "landings/robocop.scss";
@import "landings/carrera.scss";
@import "landings/cartelerasms.scss";
@import "landings/magia.scss";
@import "landings/verano.scss";
@import "landings/promo-jaguar.scss";

.sticky-sidebar {
  overflow: hidden;

  & > div {
    width: 222px;
  }

  &:hover {
    overflow-y: auto;
  }
}

.sidebar-box {
  margin-top: 16px;

  &:first-child { margin-top: 0; }

  .check-row:last-child { margin-bottom: 0 !important; }
  select { width: 100%; }
  .std-field,
  .std-form-select { margin-bottom: 10px; }
}
.sidebar-box-title {
  background: #707073;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 14px;
  text-transform: uppercase;
}
.sidebar-box-content {
  background: #efefef;
  padding: 14px;
}

.no-platinum.disabled {
  opacity: 0.35;
}


#platinum-bt,
#no-platinum-bt {
  padding-left: 9px;
  padding-right: 0;
}
#platinum-bt {
  margin-top: 10px;
}



#hours-range {
  margin: 13px 5px;
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  background: #6f6f72;
  width: 100%;
  height: 100%;
  position: relative;

  & > .noUi-origin {
    &:first-child {
      background: #fc5b5b;
    }
    &:last-child {
      background: #6f6f72;
    }
  }
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 2px;
}
.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  left: -7px;
  top: -6px;
  border-radius: 100%;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -15px;
}

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  background: $brand-main;
  cursor: default;
}
.noUi-active {
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Blocked state;
 */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
  background: #4FDACF;
}




#scroll-top-bt {
  @include text-replace('../img/scroll-home-bt.png', 36px, 36px);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 400;
}

.body-cinefan {
    img {
        display:block;
        height:auto;
        max-width:100%;
    }

    dt {
        font-weight:700;
    }

    dd {
        margin-bottom:10px;
    }
}

/**
 * UI Elements
 *
 * TODO: pasar todo esto a un archivo aparte para organizar todo
 * TODO: unificar estilos de todo el site con esto
 */

//
// GRID
//

// El contenedor de columnas
.grid-row {
  @include make-row();
}

// Crea un grid de 12 columnas
@include make-grid-columns($grid-columns);
@include calc-grid-column($grid-columns);
@include center-grid-columns($grid-columns);


//
// TABLE
//

.table {
  max-width:100%;
  text-align:left;
  width:100%;

  th,
  td {
    border-top:1px solid #d5d5d5;
    padding:8px;
  }

  thead th {
    border-bottom:2px solid #d5d5d5;
    border-top:0;
    color:#353535;
    font-weight:700;
  }

  tbody th[colspan] {
    background:#f9f9f9;
    border-bottom:2px solid #d5d5d5;
    border-top:2px solid #d5d5d5;
    color:#000;
  }
}

.table-hover {
  tbody tr:hover th,
  tbody tr:hover td {
    background:#f5f5f5;
  }
}


//
// ALERTS
//

.alert {
  border:1px solid transparent;
  border-radius:4px;
  margin-bottom:22px;
  padding:16px;

  :last-child {
    margin:0;
  }
}

.alert-success {
  background-color:#dff0d8;
  border-color:#d6e9c6;
  color:#3c763d;
}

.alert-info {
  background-color:#d9edf7;
  border-color:#bce8f1;
  color:#31708f;
}

.alert-warning {
  background-color:#fcf8e3;
  border-color:#faebcc;
  color:#8a6d3b;
}

.alert-danger {
  background-color:#f2dede;
  border-color:#ebccd1;
  color:#a94442;
}


//
// FORMS
//

.form-errors {
  .msg,
  .msg.balloon {
    line-height:1.5;
    list-style:none;
    position:static;

    &:before {
      display:none;
    }
  }
}


//
// Embeds responsive
//

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom:56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom:75%;
}


//
// SLIDER
//

.slider-container {
  overflow:hidden;
  position:relative;
  width:100%;

  .slide {
    height:100%;
  }
}

//
// CONTENT
//

.lead,
.quote {
  font-size:16px;
  line-height:1.5;
}

.lead {
  //color:black;
  font-weight: bold;
}

.quote {
  //background:#efefef;
  margin:36px 0;
  //padding:22px 33px;

  :last-child {
    margin-bottom:0;
  }
}

// Esta clase crea un bloque con un borde gris

.content-box {}

// Estas clases se usan para armar "landings" como
// "Platino" (http://cinemex.com/platino)

.section-header,
.section-nav {
 margin-bottom:30px;
}

.section-nav {
  position:relative;
  z-index:1;

  > ul > li {
    width:1%;
  }

 a {
   color:white;
   background:$brand-main;
   text-decoration:none;

   &.selected,
   &:hover {
     background:$brand-main-dark;
   }
 }
}

.section-header + .section-nav {
  margin-top:-29px;
}

// Por defecto la clase usada para "contenidos" es .entry-body
// pero se agrega .section-content para mantener un estandar
.entry-body,
.section-content .content-box {
  line-height:1.5;

  img {
    display:block;
    height:auto;
    max-width:100%;
  }
}

// Estandarizacion de elementos
.section-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color:$brand-main;
    line-height:1.25;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  dl,
  table {
    margin-bottom:22px;
    margin-top:0;
  }

  p + h1,
  p + h2,
  p + h3 {
    margin-top:40px;
  }

  hr {
    background:#d8d8d8;
    border:0;
    height:1px;
    margin:40px 0;
  }

  // los estilos viejos me sobreescriben esto :(
  .section-title {
    color:$brand-main;
    margin-bottom:36px;
  }

  .slider-dots {
    margin-left:-8px;
    margin-right:-8px;

    a {
      margin-top:($grid-gutter-width / 2);
      padding:0 8px;
    }
  }
}

// Un titular estilizado, el tamaño depende del tipo de título (h1, h2, etc.)
.section-title {
  border-bottom:1px solid #d8d8d8;
  color:$brand-main;
  margin-bottom:36px;
  padding-bottom:12px;
}


/**
 * Secciones especificas
 */

.site-section {
}

.error-404 {
  background:#ededed no-repeat url(../img/404-bg.png) 50% 50%;
  height:356px;
  font-size:24px;
  line-height:1.5;
  margin-bottom:117px;
  padding:130px 0;
  position:relative;
  text-align:center;
  width:100%;

  &:after {
    background:repeat-x url(../img/404-chair.png) 0 100%;
    content:'';
    height:117px;
    left:0;
    position:absolute;
    top:100%;
    width:100%;
  }

  &.is-unavailable {
    padding:108px 0;
  }

  .highlights {
    color:$brand-main;
    font-size:30px;
    font-weight:700;
    margin-bottom:30px;
  }
}


#external-failure {
  background: black url('../img/stars-bg.jpg') top center repeat-x;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2em;
  font-style: italic;
  height: 100%;
  left: 0;
  padding-top: 150px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 499;

  & > p {
    width: 420px;
    margin: 0 auto 1em;
  }

  .big {
    background: url('../img/sad-balloon.png') top center no-repeat;
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 1em;
    margin-bottom: 0.25em;
    padding-top: 150px;
    text-transform: uppercase;
  }
}


.oauth-login-cancel {
  margin-top: 20px;
  text-align: center;
}
.oauth-grant-dialog {
  margin: 40px auto;
  width: 350px;
}
.oauth-grant-msg {
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 30px;
}
