////////////////////////////////////////////////////////////////////////////////
// Landing Carrera
////////////////////////////////////////////////////////////////////////////////

body.sponsored-carrera {
  background: #000000;
  
  @media screen and ( min-width: 1069px ) {
    #sponsored-bg {
      background-image: url( '../img/landings/carrera/bg-1280.jpg' );
    }
  }
  @media screen and ( min-width: 1281px ) {
    #sponsored-bg {
      background-image: url( '../img/landings/carrera/bg-1440.jpg' );
    }
  }
  @media screen and ( min-width: 1441px ) {
    #sponsored-bg {
      background-image: url( '../img/landings/carrera/bg-1920.jpg' );
    }
  }

  #main-body {
    background: none;
  }
}
#landing-carrera {
  .carrera-title {
    @include text-replace('../img/landings/carrera/sprite.png', 678px, 47px);
    margin: 0 auto 10px; 
  }
  .carrera-copy {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 60px;
    text-align: center;
  }
  .carrera-cols {
    width: 746px;
    margin: 0 auto;
  }
  .carrera-col {
    float: left;
    margin-left: 36px;
    
    &:first-child { margin-left: 0; }
  }
  .carrera-subtitle {
    @include text-replace('../img/landings/carrera/sprite.png', 355px, 44px);
    &.k10 {
      background-position: 0 -57px;
    }
    &.k15 {
      background-position: -365px -57px;
    }
  }
  .carrera-table {
    border-collapse: separate;
    border-spacing: 0 2px;
    width: 355px;
    td {
      background: #ffffff;
      max-width: 230px;
      overflow: hidden;
      padding: 10px 16px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.pos {
        background: #e9e7e5;
        color: #767676;
        font-style: italic;
        font-weight: 500;
        text-align: center;
      }
    }
    
    tr {
      margin-bottom: 2px;
      
      &:hover {
        td {
          background: #f2e573;
          color: #797127;
          &.pos {
            background: #f9e95c;
            color: #797127;
          }
        }
      }
    }
  }
}
