#landing-99000 {
    background:rgb(227,25,49);
    background:-moz-radial-gradient(center, ellipse cover,  rgba(227,25,49,1) 30%, rgba(139,15,30,1) 100%);
    background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(227,25,49,1)), color-stop(100%,rgba(139,15,30,1)));
    background:-webkit-radial-gradient(center, ellipse cover,  rgba(227,25,49,1) 30%,rgba(139,15,30,1) 100%);
    background:-o-radial-gradient(center, ellipse cover,  rgba(227,25,49,1) 30%,rgba(139,15,30,1) 100%);
    background:-ms-radial-gradient(center, ellipse cover,  rgba(227,25,49,1) 30%,rgba(139,15,30,1) 100%);
    background:radial-gradient(ellipse at center,  rgba(227,25,49,1) 30%,rgba(139,15,30,1) 100%);

    padding:105px 0;
}

#landing-99000 img {
    display:block;
    margin:0 auto;
}

#landing-99000 h1,
#landing-99000 p {
    display:none;
}
