.landing-target {
    height:0;
    opacity:0;
    overflow:hidden;
}

.landing-content {
    line-height:1.5;

    -webkit-transition:.75s all;
    transition:.75s all;

    &.active {
        height:auto;
        opacity:1;
    }

    .content-box {
        margin:72px 108px;
    }

    .icon-close {
        cursor:pointer;
        float:right;
        height:24px;
        margin-bottom:-24px;
        position:relative;
        top:1px;
        width:24px;
    }

    h2,
    h3,
    p,
    ul,
    ol {
        margin-bottom:11px;
        margin-top:0;
    }

    ul,
    ol {
        padding-left:36px;
    }

    h3 {
        font-weight:200;
        margin:22px 0;
        text-transform:uppercase;
    }

    hr {
        background:#efefef;
        border:0;
        height:1px;
        margin:44px 0;
        padding-left:0;
    }
}



.landing-grid,
.landing-grid .item {
    float:left;
    position:relative;
}

.landing-grid-wrap {
    margin:0 -40px;
    overflow:hidden;
}

.landing-grid {
    left:50%;

    .item {
        box-sizing:border-box;
        margin-bottom: 50px;
        padding:0 25px;
        right:50%;

        img {
            display: block;
            margin-bottom: 25px;
        }
    }
}


.landing-content-bg {
    margin-top: -29px;
    padding: 90px 0;
}
.landing-html .landing-content-bg,
.landing-image .landing-content-bg {
    padding: 0;
}
.landing-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}
.landing-content-bg .landing-title {
    margin-bottom: 50px;
    text-shadow: 0 5px 9px black;
}