// .section-nfl {
//     .section-header,
//     .nfl-copy {
//         background:url(../img/nfl-content-header.jpg) no-repeat 50% 0;
//         height:355px;
//         position:relative;
//     }

//     .section-header {
//         margin-bottom:90px;
//     }

//     .nfl-player {
//         background:black;
//         border:3px solid rgba(255, 255, 255, .5);
//         border-radius:2px;
//         height:0;
//         left:50%;
//         padding-bottom:264px;
//         position:absolute;
//         top:71px;
//         width:470px;

//         -webkit-transform: translate3d(-50%, 0, 0);
//         transform: translate3d(-50%, 0, 0);

//         iframe {
//             height:100%;
//             left:0;
//             position:absolute;
//             top:0;
//             width:100%;
//         }
//     }

//     .nfl-copy {
//         height:60px;
//         position:absolute;
//         bottom:-60px;
//         width:100%;
//         background-position:50% 100%;
//     }
// }

// .sponsored-nfl {
//     #sponsored-bg {
//         background-image:url(../img/nfl-bg-header.jpg);
//     }

//     @media screen and (min-width: 1068px) {
//         #sponsored-bg {
//             background-image:url(../img/nfl-bg-1440.jpg);
//         }
//     }

//     @media screen and (min-width: 1441px) {
//         #sponsored-bg {
//             background-image:url(../img/nfl-bg-1920.jpg);
//         }
//     }
// }

// .nfl-banner {
//     background:url(../img/nfl-single-banner.jpg) no-repeat 50% 0;
//     margin-bottom:60px;
//     position:relative;
// }

// .nfl-top {
//     height:415px;
//     position:relative;
//     z-index:1;

//     a {
//         top:100%;
//         left:50%;
//         position:absolute;
//         transform:translate(-50%, -50%);
//         -webkit-transform:translate(-50%, -50%);
//     }
// }

// .nfl-bottom {
//     height:700px;
//     position:relative;
// }

// .sponsored-nfl-single {
//     #sponsored-bg {
//         background-image:url(../img/nfl-single-bg-header.jpg);
//     }

//     @media screen and (min-width: 1068px) {
//         #sponsored-bg {
//             background-image:url(../img/nfl-single-bg-1440.jpg);
//         }
//     }

//     @media screen and (min-width: 1441px) {
//         #sponsored-bg {
//             background-image:url(../img/nfl-single-bg-1920.jpg);
//         }
//     }
// }

.sponsored-nfl #sponsored-bg {
  background-image:url(../img/nfl-bg.jpg);
}

.nfl-nav {
  margin-bottom:1px!important;
}

.nfl-content {
  background:#323854;
  background:-webkit-linear-gradient(top,  #323854 0%,#181b2b 100%);
  background:-o-linear-gradient(top,  #323854 0%,#181b2b 100%);
  background:linear-gradient(to bottom,  #323854 0%,#181b2b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#323854', endColorstr='#181b2b',GradientType=0 );
  padding:90px 0;
  position:relative;

  &:before {
    background:url(../img/nfl-content-bg.png) no-repeat 50% 0;
    bottom:0;
    content:'';
    left:0;
    position:absolute;
    right:0;
    top:0;
  }
}

.nfl-title {
  background:url(../img/nfl-titles.png);
  margin:0 auto;
  position:relative;
  text-indent:-9999em;
  width:690px;
}

.nfl-grid,
.nfl-grid .item {
  float:left;
  position:relative;
}

.nfl-grid-wrap {
  margin:0 -40px;
  overflow:hidden;
}

.nfl-grid {
  left:50%;

  .item {
    box-sizing:border-box;
    padding:0 25px;
    right:50%;
  }
}

.nfl-index {
  background:url(../img/nfl-games-bg.jpg) no-repeat 50% 0;
  padding:0;

  &:before {
    display:none;
  }

  .nfl-title {
    background-position:0 -565px;
    height:141px;
  }

  a,
  img {
    display:block;
  }

  img {
    margin:0;
    width:100%;
  }
}

.nfl-calendar,
.nfl-about {
  padding:0;

  img {
    display:block;
    height:auto;
    max-width:100%;
    position:relative;
    z-index:1;
  }
}

.nfl-promos {
  background:#3a0912;
  padding:90px;

  .nfl-title {
    background:none;
    display:block;
    margin:0 auto 45px;
    width:auto;
  }

  .lightbox-img,
  .lightbox-img img {
    display:block;
    margin:0 auto;
  }
}

.nfl-headquarters {
  padding:30px 0 0;
  background:white;
}
