@font-face {
  font-family:'Brady Bunch';
  src: url('../fonts/BradBunR.eot');
  src: url('../fonts/BradBunR.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BradBunR.woff') format('woff'),
       url('../fonts/BradBunR.ttf')  format('truetype'),
       url('../fonts/BradBunR.svg#c9c5e19ea0cca1db3386e9389adbc6cf') format('svg');
  font-style:normal;
  font-weight:400;
}

#promo-jaguar {
  background:#ba060f url(../img/landings/promo-jaguar/bg-red.png);
  border:0;
  color:#fff;
  font-family:'Brady Bunch';
  line-height:1.1;
  position:relative;
  text-align:center;
  text-transform:uppercase;
}

#promo-jaguar:before {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 );

  bottom:0;
  content:'';
  left:0;
  position:absolute;
  right:0;
  top:0;
}

#promo-jaguar:after {

content:'';
}

#promo-jaguar .entry-body {
  position:relative;
}

#promo-jaguar mark {
  background:none;
  color:#ffd203;
}

#promo-jaguar h1 {
  color:#fff;
  font-size:55px;
  font-weight:400;
  margin:0 0 30px;
  line-height:.9;
  text-align:center;
  text-shadow:5px 5px 0 rgba(0, 0, 0, .4);
  transform:rotate(-4.5deg);
}

#promo-jaguar h1 mark {
  font-size:1.4em;
}

#promo-jaguar .big {
  font-size:48px;
}

#promo-jaguar-step1 .form {}

#promo-jaguar-step1 .copy {
  font-size:32px;
  line-height:1.1;
  margin-top:0;
}

#promo-jaguar-step1 .price {
  display:inline-block;
  font-size:28px;
  line-height:1;
  position:relative;
  top:5px;
}

#promo-jaguar-step1 .price small {
  display:block;
  font-size:20px;
}

#promo-jaguar-step1 .cards-text {
  font-size:30px;
  margin-bottom:0;
}

#promo-jaguar-step1 .cards {
  margin-bottom:50px;
}

#promo-jaguar-step1 .actions {
  margin:30px 0 50px;
}

#promo-jaguar-step1 .start {
  background:#fff;
  color:#d0033d;
}

#promo-jaguar-step1 .btn {
  line-height:50px;
  height:50px;
}

#promo-jaguar-step1 .car-bg {
  position:relative;
}

#promo-jaguar-step1 .car-bg:before {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );

  content:'';
  height:50%;
  left:-36px;
  position:absolute;
  right:-36px;
  top:28%;
}

#promo-jaguar-step1 .car {
  position:relative;
  z-index:1;
}

#promo-jaguar-form .title {
  display:inline-block;
  font-size:26px;
  line-height:1;
  margin-bottom:20px;
  text-shadow:5px 5px 0 rgba(0, 0, 0, .4);
}

#promo-jaguar-form .form,
#promo-jaguar-form input,
#promo-jaguar-form button {
  background:none;
  border:0;
  font-size:20px;
  line-height:50px;
  vertical-align:middle;
}

#promo-jaguar-form .form label,
#promo-jaguar-form .form input,
#promo-jaguar-form .form button {
  display:inline-block;
}

#promo-jaguar-form .form {
  background:rgba(255, 255, 255, .2);
  border:1px solid #fff;
  border-radius:5px;
  box-shadow:inset 0 2px 5px rgba(0, 0, 0, .3);
  margin:0 auto;
  padding:3px 5px;
  width:454px;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#promo-jaguar-form button {
  background:#fff;
  border-radius:3px;
  font-family:roboto,helvetica,sans-serif;
  font-size:18px;
  position:relative;
  top:-2px;
  width:100px;
}

#promo-jaguar-form input {
  width:286px;
}

#promo-jaguar-form input:disabled {
  background:url(/assets/img/landings/promo-jaguar/spinner.gif?2) no-repeat 100% 50%;
}

#promo-jaguar-form .input {
  padding-left:12px;
  width:336px;
}

#promo-jaguar-form .input,
#promo-jaguar-form input {
  color:#ffd203;
  font-family:'Brady Bunch';
  font-size:32px;
  text-shadow:5px 5px 0 rgba(0, 0, 0, .4);
}

#promo-jaguar-step2 {
  margin:0 auto;
  width:550px;
}

#promo-jaguar-step2 .message {
  color:#ffd203;
  font-size:40px;
  line-height:1.1;
  margin:60px 0;
  text-shadow:5px 5px 0 rgba(0, 0, 0, .4);
}

#promo-jaguar-step2 th {
  background:#d0033d;
  border:0;
  color:#600100;
  font-size:16px;
  padding:8px 17px;
}

#promo-jaguar-step2 td {
  background:#fde9ea;
  border-top-color:#b40210;
  color:#333;
  font-family:roboto,helvetica,sans-serif;
  padding:8px 17px;
}

#promo-jaguar-step2 tr:nth-child(odd) td {
  background:#fff;
}

#promo-jaguar-step2 .info {
  color:#fff;
  font-family:roboto,helvetica,sans-serif;
  font-size:16px;
  padding-left:52px;
  text-align:left;
  text-transform:none;
}

#promo-jaguar-step2 .info p {
  margin:0;
}

#promo-jaguar-step2 .info .mark {
  font-family:'Brady Bunch';
  font-size:26px;
  margin:8px 0;
  line-height:1;
}

#promo-jaguar-step2 .tick {
  float:left;
  margin-left:-52px;
}

#promo-jaguar-step2 .special-text {
  font-size:30px;
  line-height:1;
  margin:40px 0;
  transform:rotate(-3deg);
}

#promo-jaguar-step2 .help {
  background:url(../img/landings/promo-jaguar/help.png) no-repeat;
  font-family:roboto,helvetica,sans-serif;
  line-height:1.25;
  margin:10px auto 40px;
  padding-left:42px;
  position:relative;
  text-align:left;
  width:388px;
}

#promo-jaguar-step2 .help-full {
  background:url(../img/landings/promo-jaguar/help-full.png) no-repeat;
  height:209px;
  left:-204px;
  opacity:0;
  position:absolute;
  top:-85px;
  visibility:hidden;
  width:243px;
}

#promo-jaguar-step2 .help:hover .help-full {
  opacity:1;
  visibility:visible;
  transition:all .5s;
}

#promo-jaguar-legal,
#promo-jaguar-terms {
  margin:0 auto;
  padding:30px 0;
  text-align:left;
  width:530px;
}

#promo-jaguar-legal h2,
#promo-jaguar-terms h2 {
  color:#fff;
  font-size:20px;
  margin-bottom:0;
  position:relative;
}

#promo-jaguar-legal h2:before,
#promo-jaguar-terms h2:before {
  background:url(../img/landings/promo-jaguar/tick.png) no-repeat;
  background-size:20px;
  content:'';
  height:20px;
  left:-35px;
  position:absolute;
  width:20px;
}

#promo-jaguar-legal p,
#promo-jaguar-terms p {
  font-family:roboto,helvetica,sans-serif;
  margin-top:0;
  text-transform:none;
}

#promo-jaguar.promo-jaguar-legal {
  background:#383838 url(../img/landings/promo-jaguar/bg-black.png);
}

#promo-jaguar-legal .close,
#promo-jaguar-terms .close {
  color:#fff;
  cursor:pointer;
  font:100 24px/1 sans-serif;
  height:1em;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:1em;
}

#promo-jaguar-legal .close:hover,
#promo-jaguar-terms .close:hover {
  text-decoration:none;
}

#promo-jaguar-legal .car,
#promo-jaguar-terms .car {
  display:block;
  margin:80px auto 0;
  width:60%;
}

#promo-jaguar-terms,
#promo-jaguar-terms h2 {
  font:14px/1.5 roboto;
  text-transform:none;
}

#promo-jaguar-terms h2 {
  font-weight:700;
  margin-bottom:21px;
  text-transform:uppercase;
}

#promo-jaguar-terms h2:before {
  display:none;
}
