.sponsored-robocop {
    background:#000;

    #sponsored-bg {
        background-image:url(../img/landings/robocop/bg-header.jpg);
    }

    @media screen and (min-width: 1068px) {
        #sponsored-bg {
            background-image:url(../img/landings/robocop/bg-desktop.jpg);
        }
    }
}

.robocop-banner {
    background:url(../img/landings/robocop/banner.jpg) no-repeat 50% 0;
    background-size:cover;
    height:0;
    padding-bottom:119.23454367%;
    position:relative;
    width:100%;
}

.robocop-buttons {
    background:#111;
    padding:24px 0;
    text-align:center;

    .btn {
        margin:0 3px;
        width:189px;
    }
}
