.verano-nav a {
    background:#ece3d3;
    color:#711e1f;
}

.verano-nav .active a {
    background:#cb4316;
    color:white;
}

.verano-content {
    margin:0 auto 30px;
    width:720px;
}

.verano-content h2,
.verano-content h3,
.verano-content p,
.verano-content ul,
.verano-content ol,
.verano-content blockquote,
.verano-content table {
    font-weight:200;
    line-height:1.5;
    margin-bottom:1.5em;
}

.verano-content,
.verano-content h2,
.verano-content h3 {
    font-size:14px;
}

.verano-content h2,
.verano-content h3 {
    color:#d66a2b;
}

.verano-content table {
    border-collapse:separate;
    border-spacing:1px;
}

.verano-content td,
.verano-content th {
    color:#6f3513;
    padding:10px 14px;
    text-align:left;
    width:150px;
}

.verano-content th {
    background:#d66c2c;
    color:white;
    font-weight:400;
}

.verano-content td {
    background:#f5daca;
}

.verano-content ul,
.verano-content ol {
    margin-left:30px;
}

.verano-logo {
    display:block;
    left:-20px;
    margin:45px auto;
    position:relative;
}

.verano-question {
    background:#ededed;
    border:1px solid #ededed;
    color:#777;
    overflow:hidden;
    margin-bottom:2px;
    padding:0 20px;
}

.verano-question h2 {
    border-bottom:1px solid transparent;
    color:#777;
    font-size:17px;
    line-height:54px;
    margin-bottom:0;
}

.verano-question-answer {
    max-height:0;
    overflow:hidden;
}

.verano-question.active {
    background:white;
    border-color:#dcdcdc;
}

.verano-question.active h2 {
    border-color:#dcdcdc;
    color:#711e1f;
}

.verano-question.active .verano-question-answer {
    max-height:999999px;
    padding-top:20px;
}

.verano-question,
.verano-question h2,
.verano-question-answer {
    -webkit-transition:all .7s;
}
