<div class="row clearfix movies-grid">
  {% for movie in movies %}
	<div class="col span_1 movies-grid-item" {{ movie.data }}>
		<a href="{{ movie.url }}" class="movies-grid-cover">
			<img src="{{ movie.cover }}" alt="{{ movie.name }}" width="154" height="230" />
		</a>
		<a href="{{ movie.url }}"  class="movies-grid-title">{{ movie.name }}</a>
    {% for type in movies.type %}
      {% if 'ESTRENO' == type %}<span class="movie-poster-ribbon ribbon-new">Estreno</span>{% endif %}
      {% if '3D' == type      %}<span class="movie-poster-ribbon ribbon-3d">3D</span>{% endif %}
    {% endfor %}

		<a href="{{ movie.url }}" class="movie-poster-bt buy-tickets-bt">Comprar<br/>Boletos</a>
		<a href="#" data-youtube-id="{{ movie.youtube_id }}" class="movie-poster-bt watch-trailer-bt">Ver<br/>tráiler</a>
	</div>
	{% endfor %}
</div>
